<template>
  <div class="flex flex-col items-center">
    <el-card class="w-full width-100">
      <div class="mb-5">
        <div class="flex items-center justify-between">
          <span
            class="text-gray-700 text-2xl text-center font-bold py-4"
            style="font-size: 20px"
          >
            ЯММТ га кирмаган корхоналар
          </span>
        </div>

        <p class="">
          Мавжуд маълумотларинг умумий сони: {{ pagination.total }}
        </p>
      </div>
      <div class="mb-5 mt-2">
        <el-cascader
          :props="{ checkStrictly: true }"
          style="width: 20%;"
          v-model="filter[0].value"
          :options="all_regions"
          :show-all-levels="false"
          @change="handleChangeFilter"
        ></el-cascader>
      </div>
      <div class="mb-0 mt-2 ">
        <table
          class="table-auto table-main"
          v-loading="loadingData"
          element-loading-text="Юкланмоқда.."
          element-loading-spinner="el-icon-loading"
        >
          <thead>
            <tr class="text-gray-700  text-center font-bold bg-gray-200">
              <th
                v-for="(column, index) in columns"
                :key="index"
                class="border px-4 py-2"
              >
                {{ column.title }}
              </th>
            </tr>
          </thead>
          <tbody v-if="data && data.length">
            <tr
              v-for="(item, index) in data"
              :key="'client-' + index"
              style="font-size:14px"
              class="text-gray-700 text-xs text-center font-normal"
            >
              <td class="border px-4 py-2">
                {{ index + 1 }}
              </td>
              <td class="border px-4 py-2">
                {{ item.region }}
              </td>
              <td class="border px-4 py-2">
                {{ item.company_tin }}
              </td>
              <td class="border px-4 py-2 ">
                {{ item.company_name }}
              </td>
              <td class="border px-4 py-2 ">
                {{ item.soato }}
              </td>
              <td class="border px-4 py-2 ">
                {{ item.reg_date }}
              </td>
            </tr>
          </tbody>
          <div v-else class="center--item-postion py-2">
            <span align="center">Маълумот йўқ.</span>
          </div>
        </table>
        <br />
        <pagination-index
          :pagination="pagination"
          @c-change="updatePaginationFunction"
        ></pagination-index>
      </div>
    </el-card>
  </div>
</template>

<script>
import list from "@/mixins/model/list";
import PaginationIndex from "@/components/Includes/Pagination";
import { regions } from "../../utils/regions";

import { mapGetters, mapActions } from "vuex";
export default {
  mixins: [list],
  components: {
    PaginationIndex,
  },

  data() {
    return {
      model_name: "company_not_enst",
      action_name: "hasNotEnst",
    };
  },

  computed: {
    ...mapGetters({
      filter: "company_not_enst/FILTER",
      columns: "company_not_enst/COLUMNS",
      data: "company_not_enst/ITEMS",
      links: "company_not_enst/LINKS",
      pagination: "company_not_enst/PAGINATION",
    }),
    all_regions() {
      let data = [
        {
          value: 17,
          label: "Республика",
        },
      ];
      regions.forEach((element) => {
        let dataCh = [];
        element.under.forEach((elchild) => {
          dataCh.push({
            value: elchild.soato,
            label: elchild.name_uz_cl,
          });
        });

        data.push({
          value: element.soato,
          label: element.name_uz_cl,
          children: dataCh,
        });
      });
      return data;
    },
  },
  created() {},
  methods: {
    ...mapActions({}),
    getDateFormat(date) {
      return date ? new Date(date).toLocaleString() : "";
    },

    handleChangeFilter(value) {
      this.filter[0].value = value[value.length - 1];
      this.updateFilter();
    },
  },
};
</script>
<style scoped>
.el-card__body a:hover {
  text-decoration: underline;
}
.el-icon-edit,
.el-icon-view {
  color: white;
}
</style>
