<template>
  <div class="flex flex-col items-center">
    <el-card class="w-full width-100 mb-10">
      <el-page-header @back="goBack"> </el-page-header>
    </el-card>
    <el-card
      class="w-full width-100"
      v-loading="waiting"
      element-loading-text="Юкланмоқда.."
      element-loading-spinner="el-icon-loading"
    >
      <dir class="text-center mb-10">
        <span class="login-text">
          Янги кичик корхона ва микрофирмалар ташкил этиш режа яратиш</span
        >
      </dir>
      <hr />
      <el-form
        :model="form"
        :rules="rules"
        ref="form"
        label-width="200px"
        class="mt-10"
        label-position="top"
      >
        <el-row :gutter="40">
          <el-col :span="8">
            <el-form-item label="Худудни танланг" prop="soato" class="py-2">
              <el-cascader
                style="width: 100%;"
                v-model="form.soato"
                :options="all_regions"
                :show-all-levels="false"
                @change="handleChangeProject"
              ></el-cascader>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="Йил" prop="year" class="py-2">
              <el-select v-model="form.year" clearable placeholder="Йил">
                <el-option
                  v-for="item in years"
                  :key="item + 'year'"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select> </el-form-item
          ></el-col>
          <el-col :span="8">
            <el-form-item label="Режа" prop="count" class="py-2">
              <el-input
                v-model="form.count"
                placeholder="Режа"
                size="medium"
              ></el-input> </el-form-item
          ></el-col>
        </el-row>
      </el-form>
      <hr />
      <br />
      <el-row class="mt-6 mb-10 fl-right">
        <el-button type="primary" size="medium" @click="onSave"
          >Сақлаш</el-button
        >
        <router-link
          :to="{ name: 'YakkPlanIndex' }"
          class="el-button el-button--danger el-button--medium"
          >Бекор қилиш</router-link
        >
      </el-row>
    </el-card>
  </div>
</template>
<script>
import { mapActions } from "vuex";
import yakk_plan from "@/mixins/model/models/yakk_plan";
import form from "@/mixins/model/form";
export default {
  mixins: [form, yakk_plan],
  components: {},
  data() {
    return {
      model_name: "yakk_plan",
    };
  },
  async created() {
    await this.resetModel({ model: this.model_name });
    await this.setForm();
  },
  methods: {
    ...mapActions({
      save: "yakk_plan/store",
    }),
    goBack() {
      this.$router.push({ name: "YakkPlanIndex" });
    },
  },
};
</script>
<style>
.el-form-item__label {
  padding: 0 !important;
}
.el-select--medium {
  padding: 0 !important;
}
</style>
