<template>
  <div class="actions--section" v-if="auth_user.type == 'admin'">
    <!-- show -->
    <div v-if="links.show && can(links.show.permission)" class="display-ilb">
      <router-link
        v-if="links.show.key == 'tin'"
        :to="{ name: links.show.name, params: { tin: item.tin } }"
        class="el-button el-button--info el-button--small"
      >
        <i class="el-icon-view"></i>
      </router-link>
      <router-link
        v-else
        :to="{ name: links.show.name, params: { id: item.id } }"
        class="el-button el-button--info el-button--small"
      >
        <i class="el-icon-view"></i>
      </router-link>
    </div>
    <!-- end show -->
    <!-- update -->
    <div
      v-if="links.update && can(links.update.permission)"
      class="display-ilb"
    >
      <router-link
        v-if="links.update.key == 'tin'"
        :to="{ name: links.update.name, params: { tin: item.tin } }"
        class="el-button el-button--primary el-button--small"
      >
        <i class="el-icon-edit"></i>
      </router-link>
      <router-link
        v-else
        :to="{ name: links.update.name, params: { id: item.id } }"
        class="el-button el-button--primary el-button--small"
      >
        <i class="el-icon-edit"></i>
      </router-link>
    </div>
    <!-- end update -->
    <!-- delete -->
    <el-button
      v-if="links.delete && can(links.delete.permission)"
      type="danger"
      size="small"
      icon="el-icon-delete"
      @click="deleteItem(item.id)"
    ></el-button>
    <!-- end delete -->
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: {
    item: { type: Object, required: true },
    links: { type: Object, required: true },
  },
  computed: {
    ...mapGetters({
      auth_user: "auth/USER",
    }),
  },
  methods: {
    deleteItem(id) {
      this.$emit("delete", id);
    },
  },
};
</script>
<style scope>
.actions--section .el-button {
  color: #fff !important;
  margin-left: 0.5em;
}
</style>
