<template>
  <el-dropdown szie="mini" @command="handleCommand">
    <el-button size="mini" icon="el-icon-setting" round>
      <i class="el-icon-arrow-down"></i>
    </el-button>
    <el-dropdown-menu slot="dropdown" size="mini">
      <el-dropdown-item
        v-if="actions.some((action) => action == 'show')"
        command="show"
        icon="el-icon-view"
      >
        Кўриш</el-dropdown-item
      >
      <el-dropdown-item
        v-if="
         actions.some((action) => action == 'edit')
        "
        command="edit"
        icon="el-icon-edit el-icon--left"
        >Таҳрирлаш</el-dropdown-item
      >
      <el-dropdown-item
        v-if="
         actions.some((action) => action == 'print')
        "
        command="print"
        icon="el-icon-printer el-icon--left"
        >Чоп этиш</el-dropdown-item
      >
      <el-dropdown-item
        v-if="actions.some((action) => action == 'assessment')"
        command="assessment"
        icon="el-icon-notebook-2"
        >Баҳолаш
      </el-dropdown-item>
      <el-dropdown-item
        v-if="
         actions.some((action) => action == 'delete')
        "
        command="delete"
        icon="el-icon-delete el-icon--left"
        >Ўчириш</el-dropdown-item
      >
    </el-dropdown-menu>
  </el-dropdown>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  props: {
    model: { type: Object, required: true },
    actions: { type: Array },
    name: { type: String, required: true },
  },
  data() {
    return {};
  },
  computed: {
    ...mapGetters({}),
  },
  methods: {
    handleCommand(command) {
      this.$emit(command, this.model);
    },
  },
};
</script>
<style>
.el-dropdown-menu__item {
  line-height: 25px !important;
}
.el-dropdown-menu__item {
  font-size: 14px !important;
}
</style>
