<template>
  <el-aside width="auto">
    <div class="logo-container">
      <img src="../../assets/logo.png" alt="" v-if="!isCollapse" />
    </div>
    <el-menu
      :default-active="active"
      class="el-menu-vertical-demo"
      @open="handleOpen"
      @close="handleClose"
      background-color="rgb(48, 65, 86)"
      text-color="rgb(191, 203, 217)"
      active-text-color="#fff"
      :collapse="isCollapse"
    >
      <el-menu-item
        v-for="menu in menus"
        :key="menu.index"
        :index="menu.to.name"
        @click="toSidebar(menu.to)"
        v-show="checkPerView(menu.index)"
      >
        <i :class="menu.icon"></i>
        <span>{{ menu.title }}</span>
      </el-menu-item>
      <el-menu-item
        index="YattPlanIndex"
        @click="toSidebar({ name: 'YattPlanIndex' })"
        v-if="
          auth_user &&
            (auth_user.type == 'manager' || auth_user.type == 'admin')
        "
      >
        <i class="el-icon-s-custom"></i>
        <span>Ятт режалари</span>
      </el-menu-item>
      <el-menu-item
        index="YakkPlanIndex"
        @click="toSidebar({ name: 'YakkPlanIndex' })"
        v-if="
          auth_user &&
            (auth_user.type == 'manager' || auth_user.type == 'admin')
        "
      >
        <i class="el-icon-s-custom"></i>
        <span>Янги кк ва м режалари</span>
      </el-menu-item>
      <el-menu-item
        index="CraftsmanPlanIndex"
        @click="toSidebar({ name: 'CraftsmanPlanIndex' })"
        v-if="
          auth_user &&
            (auth_user.type == 'manager' || auth_user.type == 'admin')
        "
      >
        <i class="el-icon-s-custom"></i>
        <span>Хунармандлар режалари</span>
      </el-menu-item>
      <el-menu-item
        index="UserIndex"
        @click="toSidebar({ name: 'UserIndex' })"
        v-if="auth_user && auth_user.type == 'admin'"
      >
        <i class="el-icon-user"></i>
        <span>Фойдаланувчилар</span>
      </el-menu-item>
    </el-menu>
  </el-aside>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {};
  },
  props: {
    isCollapse: { type: Boolean, default: false },
  },
  computed: {
    ...mapGetters({
      auth_user: "auth/USER",
    }),
    menus() {
      return [
        {
          to: { name: "mapDashboard" },
          icon: "el-icon-map-location",
          title: "Харитали статистика",
          index: 1,
        },
        {
          to: { name: "Dashboard" },
          icon: "el-icon-s-data",
          title: "Статистика",
          index: 2,
        },
        {
          to: { name: "PlanIndex" },
          icon: "el-icon-platform-eleme",
          title: "Барча корхона режалари рўйҳати",
          index: 3,
        },
        {
          to: { name: "RegionPlanIndex" },
          icon: "el-icon-platform-eleme",
          title: "Барча ҳудудий режалари рўйҳати",
          index: 4,
        },
        {
          to: { name: "ProjectIndex" },
          icon: "el-icon-set-up",
          title: "Барча лойиҳалар рўйҳати",
          index: 5,
        },
        {
          to: { name: "CompanyIndex" },
          icon: "el-icon-office-building",
          title: "Барча корхоналар рўйҳати",
          index: 6,
        },
        {
          to: { name: "CompanyHasNotEnst" },
          icon: "el-icon-office-building",
          title: "ЯММТ га кирмаган корхоналар",
          index: 7,
        },
        {
          to: { name: "ProductIndex" },
          icon: "el-icon-goods",
          title: "Ишлаб чиқариладиган маҳсулотлар",
          index: 8,
        },
        {
          to: { name: "CompareCurrentMonth", params: { soato: "17" } },
          icon: "el-icon-s-marketing",
          title: "ЭНСТ ва ГНК солиштирма жадвали",
          index: 9,
        },
        {
          to: { name: "WithVacanciesCount", params: { soato: "17" } },
          icon: "el-icon-s-grid",
          title: "Бўш иш ўринлари ройҳати",
          index: 10,
        },
      ];
    },
    active() {
      return this.$route.name ? this.$route.name : "";
    },
  },
  created() {},
  methods: {
    handleOpen(key, keyPath) {},
    handleClose(key, keyPath) {},
    toSidebar(to) {
      if (this.$route.name != to.name) {
        this.$router.push(to);
      }
    },
    checkPerView(index) {
      if (this.auth_user && this.auth_user.type == "viewer") {
        if (index == 1 || index == 2) {
          return true;
        } else {
          return false;
        }
      }
      return true;
    },
  },
};
</script>
<style scoped>
.el-menu-item:hover {
  background-color: #263445 !important;
  color: white;
}
/* .el-submenu__title:hover {
  background-color: #263445 !important;
} */
</style>
