<template>
  <div class="flex flex-col items-center">
    <el-card class="w-full width-100">
      <div class="mb-5">
        <div class="flex items-center justify-between">
          <span
            class="text-gray-700 text-2xl text-center font-bold py-4"
            style="font-size: 20px"
          >
            Ятт режалари
          </span>
          <router-link
            :to="{ name: links.store.name }"
            class="el-button el-button--primary el-button--medium"
            v-if="links.store"
          >
            <i class="el-icon-plus"></i> Қўшиш
          </router-link>
        </div>
        <p class="">
          Мавжуд маълумотларинг умумий сони: {{ pagination.total }}
        </p>
      </div>
      <div class="mb-0 mt-2 parent-table">
        <table
          class="table-auto table-main"
          v-loading="loadingData"
          element-loading-text="Юкланмоқда.."
          element-loading-spinner="el-icon-loading"
        >
          <thead>
            <tr class="text-gray-700  text-center font-bold bg-gray-200">
              <th
                v-for="(column, index) in columns"
                :key="index"
                class="border px-4 py-2"
              >
                {{ column.title }}
                <hr />
                <template>
                  <el-input
                    v-if="typeof column.filter_index == 'number'"
                    @keyup.enter.native="updateFilter"
                    style="min-width: 90px"
                    v-model="filter[column.filter_index].value"
                    size="small"
                    class="w-full"
                    :placeholder="column.title"
                  ></el-input>
                  <el-button
                    v-if="column.filter_index == 'button'"
                    type="primary"
                    size="small"
                    @click="updateFilter"
                  >
                    Қидириш
                  </el-button>
                </template>
              </th>
            </tr>
          </thead>
          <tbody v-if="data && data.length">
            <tr
              v-for="(item, index) in data"
              :key="'client-' + index"
              style="font-size:14px"
              class="text-gray-700 text-xs text-center font-normal"
            >
              <td class="border px-4 py-2">
                {{ index + 1 }}
              </td>
              <td class="border px-4 py-2">
                {{ item.name }}
              </td>
              <td class="border px-4 py-2">
                {{ item.soato }}
              </td>
              <td class="border px-4 py-2">
                {{ item.year }}
              </td>
              <td class="border px-4 py-2">
                {{ item.count }}
              </td>
              <td class=" border px-4 py-2 settings-td">
                <actions
                  :item="item"
                  :links="links"
                  @delete="deleteItem"
                ></actions>
                <div class="actions--section">
                  <!-- update -->
                  <div v-if="auth_user.type == 'manager'" class="display-ilb">
                    <router-link
                      :to="{ name: links.update.name, params: { id: item.id } }"
                      class="el-button el-button--primary el-button--small"
                    >
                      <i class="el-icon-edit"></i>
                    </router-link>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
          <div v-else class="center--item-postion py-2">
            <span align="center">Маълумот йўқ.</span>
          </div>
        </table>
        <br />
        <pagination-index
          :pagination="pagination"
          @c-change="updatePaginationFunction"
        ></pagination-index>
      </div>
    </el-card>
  </div>
</template>

<script>
import list from "@/mixins/model/list";
import PaginationIndex from "@/components/Includes/Pagination";
import Actions from "@/components/Includes/actions";
import { mapGetters, mapActions } from "vuex";
export default {
  mixins: [list],
  components: {
    PaginationIndex,
    Actions,
  },

  data() {
    return {
      model_name: "yatt_plan",
      action_name: "list",
    };
  },
  computed: {
    ...mapGetters({
      filter: "yatt_plan/FILTER",
      columns: "yatt_plan/COLUMNS",
      data: "yatt_plan/ITEMS",
      statuses: "status/ITEMS",
      links: "yatt_plan/LINKS",
      pagination: "yatt_plan/PAGINATION",
      auth_user: "auth/USER",
    }),
  },
  created() {},
  methods: {
    ...mapActions({
      save: "yatt_plan/update",
    }),
  },
};
</script>
<style scoped>
.el-card__body a:hover {
  text-decoration: underline;
}
.el-icon-edit,
.el-icon-view {
  color: white;
}
</style>
