<template>
  <div class="flex flex-col items-center">
    <el-card class="w-full width-100 mb-10">
      <el-page-header @back="goBack" content="Янги иш режа қўшиш">
      </el-page-header>
    </el-card>
    <el-card
      class="w-full width-100"
      v-loading="waiting"
      element-loading-text="Юкланмоқда.."
      element-loading-spinner="el-icon-loading"
    >
      <dir class="text-center mb-10">
        <span class="login-text"> Янги иш режа қўшиш</span>
      </dir>
      <hr />
      <el-form
        :model="form"
        :rules="rules"
        ref="form"
        label-width="200px"
        class="mt-10"
        label-position="top"
      >
        <el-row :gutter="40">
          <!-- <el-col :span="8">
            <el-form-item label="Корхона ИНН" prop="company_tin" class="py-2">
              <el-input
                v-model="form.company_tin"
                placeholder="Корхона ИНН"
                size="medium"
              ></el-input> </el-form-item
          ></el-col> -->
          <el-col :span="8">
            <el-form-item label="Корхона ИНН" class="py-2" v-if="!form.company">
              <el-input
                maxlength="9"
                v-model="form.company_tin"
                placeholder="Корхона ИНН"
                size="medium"
              ></el-input>
            </el-form-item>
            <el-form-item :span="10" v-else>
              <el-button type="primary" @click="resetForm()"
                ><i class="el-icon-refresh-left"></i> Қайта қидириш</el-button
              >
            </el-form-item>
          </el-col>
          <el-col :span="8" v-if="form.company">
            <el-form-item label="Маълумотлар" prop="company_name" class="py-2">
              <template>
                <b>Корхона</b> : {{ form.company.name }} <br />
                <b>ИНН</b> : {{ form.company.tin }} <br />
                <b>СОAТО</b> : {{ form.company.actual_soato }} <br />
              </template>
            </el-form-item>
          </el-col>
          <el-col :span="8" v-if="form.company">
            <el-form-item label="Маълумотлар" prop="company_name" class="py-2">
              <template>
                <b>ОКЕД</b> : {{ form.company.oked }} <br />
                <b>СООГУ</b> : {{ form.company.soogu }} <br />
              </template>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="40" v-if="form.company">
          <el-col :span="10">
            <el-form-item
              label="Лойиҳани танланг"
              prop="project_id"
              class="py-2"
            >
              <el-cascader
                style="width: 100%;"
                v-model="form.project_id"
                :options="projects"
                :show-all-levels="false"
                @change="handleChangeProject"
              ></el-cascader>
              <!-- <el-select
                v-model="form.project_id"
                clearable
                filterable
                placeholder="Лойиҳани танланг"
                style="width: 100%;"
              >
                <el-option
                  v-for="item in projects"
                  :key="item.name + 'l'"
                  :label="item.name"
                  :value="item.id"
                >
                </el-option>
              </el-select>  -->
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item
              label="Иш ўринлари сони"
              prop="positions_plan"
              class="py-2"
            >
              <el-input
                v-model="form.positions_plan"
                placeholder="Иш ўринлари сони"
                size="medium"
              ></el-input> </el-form-item
          ></el-col>
          <el-col :span="6">
            <el-form-item
              label="Лойиҳалар сони"
              prop="projects_count"
              class="py-2"
            >
              <el-input
                v-model="form.projects_count"
                placeholder="Лойиҳалар сони"
                type="input"
              ></el-input> </el-form-item
          ></el-col>
          <el-col :span="4">
            <el-form-item label="Йил" prop="year" class="py-2">
              <el-select v-model="form.year" clearable placeholder="Йил">
                <el-option
                  v-for="item in years"
                  :key="item + 'year'"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select> </el-form-item
          ></el-col>
          <el-col :span="4">
            <el-form-item label="Ой " prop="month" class="py-2">
              <el-select v-model="form.month" clearable placeholder="Ой ">
                <el-option
                  v-for="item in months"
                  :key="item.name + 'm'"
                  :label="item.name"
                  :value="item.id"
                >
                </el-option>
              </el-select> </el-form-item
          ></el-col>
          <el-col :span="8" v-if="form.project_id == 2">
            <el-form-item
              label="Ишлаб чиқариладиган маҳсулот"
              prop="product_id"
              class="py-2"
            >
              <el-select
                v-model="form.product_id"
                clearable
                filterable
                placeholder="Ишлаб чиқариладиган маҳсулот"
                style="width: 100%;"
              >
                <el-option
                  v-for="item in products"
                  :key="item.name + 'p'"
                  :label="item.name"
                  :value="item.id"
                >
                </el-option>
              </el-select> </el-form-item
          ></el-col>
          <el-col :span="16" v-if="form.project_id == 2">
            <el-form-item
              label="Лойиҳа қуввати"
              prop="product_volume"
              class="py-2"
            >
              <el-input
                v-model="form.product_volume"
                placeholder="Лойиҳа қуввати"
                type="textarea"
              ></el-input> </el-form-item
          ></el-col>
        </el-row>

        <el-row>
          <el-col :span="16" :offset="4" v-if="this.notFound">
            <div class="">
              <el-card class="box-card">
                <div slot="header" class="clearfix">
                  <i class="el-icon-info"></i>
                  <span>Диққат !</span>
                </div>
                <div class="text item">
                  <!-- Ушбу ташкилот «Ягона миллий меҳнат тизими» идоралараро
                  дастурий-аппарат комплексидан рўйхатдан ўтмаган, рўйхтадан
                  ўтиш талаб этилади ! -->
                  Киритилган инн бўйича маълумотлар топилмади !!!
                </div>
              </el-card>
            </div>
            <br />
          </el-col>
        </el-row>
      </el-form>
      <hr />
      <br />
      <el-row class="mt-6 mb-10 fl-right">
        <el-button type="primary" size="medium" @click="onSave"
          >Сақлаш</el-button
        >
        <router-link
          :to="{ name: 'PlanIndex' }"
          class="el-button el-button--danger el-button--medium"
          >Бекор қилиш</router-link
        >
      </el-row>
    </el-card>
  </div>
</template>
<script>
import { mapActions } from "vuex";
import plan from "@/mixins/model/models/plan";
import form from "@/mixins/model/form";
export default {
  mixins: [form, plan],
  components: {},
  data: () => ({}),
  async created() {
    await this.resetModel({ model: this.model_name });
    await this.setForm();
  },
  methods: {
    ...mapActions({
      save: "plan/store",
    }),
    goBack() {
      this.$router.push({ name: "PlanIndex" });
    },
  },
};
</script>
<style>
.el-form-item__label {
  padding: 0 !important;
}
.el-select--medium {
  padding: 0 !important;
}
</style>
