<template>
  <div>
    <apexcharts
      width="100%"
      id="canvas"
      ref="content"
      :type="type"
      :options="chartOptions"
      :series="series"
    ></apexcharts>
  </div>
</template>

<script>
import VueApexCharts from "vue-apexcharts";

export default {
  name: "Chart",
  components: {
    apexcharts: VueApexCharts,
  },
  props: {
    type: {
      type: String,
      default: "bar",
    },
    chartOptions: {
      type: Object,
      default: null,
    },
    series: {
      type: Array,
      default: null,
    },
  },
  data: function() {
    return {};
  },
  methods: {},
};
</script>
<style scoped></style>
