<template>
  <table
    id="reportTable"
    class="table-auto table-main"
    v-loading="waiting"
    element-loading-text="Юкланмоқда.."
    element-loading-spinner="el-icon-loading"
  >
    <thead>
      <tr class="text-gray-700  text-center font-bold bg-gray-200">
        <th class="bg-gray-200" rowspan="3">Т/р</th>
        <th class="bg-gray-200" rowspan="3">Худуд номи</th>
        <th class="bg-gray-200" colspan="12">1-Чорак</th>
        <th class="bg-gray-200" colspan="12">2-Чорак</th>
        <th class="bg-gray-200" colspan="12">3-Чорак</th>
        <th class="bg-gray-200" colspan="12">4-Чорак</th>
      </tr>
      <tr class="text-gray-700  text-center font-bold bg-gray-200">
        <th colspan="4">Январь</th>
        <th colspan="4">Февраль</th>
        <th colspan="4">Март</th>
        <th colspan="4">Апрель</th>
        <th colspan="4">Май</th>
        <th colspan="4">Июнь</th>
        <th colspan="4">Июль</th>
        <th colspan="4">Августь</th>
        <th colspan="4">Сентябрь</th>
        <th colspan="4">Октябрь</th>
        <th colspan="4">Ноябрь</th>
        <th colspan="4">Декабрь</th>
      </tr>
      <tr class="text-gray-700  text-center font-bold bg-gray-200">
        <th>Иш урни сони (Режада)</th>
        <th>Иш урни сони (Aмалда ЕНСТ)</th>
        <th>% (ЕНСТ)</th>
        <th>Xодимлар сони (Aмалда) ГНК</th>
        <th>Иш урни сони (Режада)</th>
        <th>Иш урни сони (Aмалда ЕНСТ)</th>
        <th>% (ЕНСТ)</th>
        <th>Xодимлар сони (Aмалда) ГНК</th>
        <th>Иш урни сони (Режада)</th>
        <th>Иш урни сони (Aмалда ЕНСТ)</th>
        <th>% (ЕНСТ)</th>
        <th>Xодимлар сони (Aмалда) ГНК</th>
        <th>Иш урни сони (Режада)</th>
        <th>Иш урни сони (Aмалда ЕНСТ)</th>
        <th>% (ЕНСТ)</th>
        <th>Xодимлар сони (Aмалда) ГНК</th>
        <th>Иш урни сони (Режада)</th>
        <th>Иш урни сони (Aмалда ЕНСТ)</th>
        <th>% (ЕНСТ)</th>
        <th>Xодимлар сони (Aмалда) ГНК</th>
        <th>Иш урни сони (Режада)</th>
        <th>Иш урни сони (Aмалда ЕНСТ)</th>
        <th>% (ЕНСТ)</th>
        <th>Xодимлар сони (Aмалда) ГНК</th>
        <th>Иш урни сони (Режада)</th>
        <th>Иш урни сони (Aмалда ЕНСТ)</th>
        <th>% (ЕНСТ)</th>
        <th>Xодимлар сони (Aмалда) ГНК</th>
        <th>Иш урни сони (Режада)</th>
        <th>Иш урни сони (Aмалда ЕНСТ)</th>
        <th>% (ЕНСТ)</th>
        <th>Xодимлар сони (Aмалда) ГНК</th>
        <th>Иш урни сони (Режада)</th>
        <th>Иш урни сони (Aмалда ЕНСТ)</th>
        <th>% (ЕНСТ)</th>
        <th>Xодимлар сони (Aмалда) ГНК</th>
        <th>Иш урни сони (Режада)</th>
        <th>Иш урни сони (Aмалда ЕНСТ)</th>
        <th>% (ЕНСТ)</th>
        <th>Xодимлар сони (Aмалда) ГНК</th>
        <th>Иш урни сони (Режада)</th>
        <th>Иш урни сони (Aмалда ЕНСТ)</th>
        <th>% (ЕНСТ)</th>
        <th>Xодимлар сони (Aмалда) ГНК</th>
        <th>Иш урни сони (Режада)</th>
        <th>Иш урни сони (Aмалда ЕНСТ)</th>
        <th>% (ЕНСТ)</th>
        <th>Xодимлар сони (Aмалда) ГНК</th>
      </tr>
    </thead>
    <tbody>
      <tr v-if="total">
        <td class="bg-gray-200" colspan="2">
          <b>Жами</b>
        </td>
        <td class="font-bold">
          {{ formatNumber(total.january_positions_plan) }}
        </td>
        <td class="font-bold">{{ formatNumber(total.e_january) }}</td>
        <td class="font-bold">
          {{ getPercent(total.january_positions_plan, total.e_january) }}
        </td>
        <td class="font-bold">{{ formatNumber(total.g_january) }}</td>
        <td class="font-bold">
          {{ formatNumber(total.february_positions_plan) }}
        </td>
        <td class="font-bold">{{ formatNumber(total.e_february) }}</td>
        <td class="font-bold">
          {{ getPercent(total.february_positions_plan, total.e_february) }}
        </td>
        <td class="font-bold">{{ formatNumber(total.g_february) }}</td>
        <td class="font-bold">
          {{ formatNumber(total.march_positions_plan) }}
        </td>
        <td class="font-bold">{{ formatNumber(total.e_march) }}</td>
        <td class="font-bold">
          {{ getPercent(total.march_positions_plan, total.e_march) }}
        </td>
        <td class="font-bold">{{ formatNumber(total.g_march) }}</td>
        <td class="font-bold">
          {{ formatNumber(total.april_positions_plan) }}
        </td>
        <td class="font-bold">{{ formatNumber(total.e_april) }}</td>
        <td class="font-bold">
          {{ getPercent(total.april_positions_plan, total.e_april) }}
        </td>
        <td class="font-bold">{{ formatNumber(total.g_april) }}</td>
        <td class="font-bold">{{ formatNumber(total.may_positions_plan) }}</td>
        <td class="font-bold">{{ formatNumber(total.e_may) }}</td>
        <td class="font-bold">
          {{ getPercent(total.may_positions_plan, total.e_may) }}
        </td>
        <td class="font-bold">{{ formatNumber(total.g_may) }}</td>
        <td class="font-bold">{{ formatNumber(total.june_positions_plan) }}</td>
        <td class="font-bold">{{ formatNumber(total.e_june) }}</td>
        <td class="font-bold">
          {{ getPercent(total.june_positions_plan, total.e_june) }}
        </td>
        <td class="font-bold">{{ formatNumber(total.g_june) }}</td>
        <td class="font-bold">{{ formatNumber(total.july_positions_plan) }}</td>
        <td class="font-bold">{{ formatNumber(total.e_july) }}</td>
        <td class="font-bold">
          {{ getPercent(total.july_positions_plan, total.e_july) }}
        </td>
        <td class="font-bold">{{ formatNumber(total.g_july) }}</td>
        <td class="font-bold">
          {{ formatNumber(total.august_positions_plan) }}
        </td>
        <td class="font-bold">{{ formatNumber(total.e_august) }}</td>
        <td class="font-bold">
          {{ getPercent(total.august_positions_plan, total.e_august) }}
        </td>
        <td class="font-bold">{{ formatNumber(total.g_august) }}</td>
        <td class="font-bold">
          {{ formatNumber(total.september_positions_plan) }}
        </td>
        <td class="font-bold">{{ formatNumber(total.e_september) }}</td>
        <td class="font-bold">
          {{ getPercent(total.september_positions_plan, total.e_september) }}
        </td>
        <td class="font-bold">{{ formatNumber(total.g_september) }}</td>
        <td class="font-bold">
          {{ formatNumber(total.october_positions_plan) }}
        </td>
        <td class="font-bold">{{ formatNumber(total.e_october) }}</td>
        <td class="font-bold">
          {{ getPercent(total.october_positions_plan, total.e_october) }}
        </td>
        <td class="font-bold">{{ formatNumber(total.g_october) }}</td>
        <td class="font-bold">
          {{ formatNumber(total.november_positions_plan) }}
        </td>
        <td class="font-bold">{{ formatNumber(total.e_november) }}</td>
        <td class="font-bold">
          {{ getPercent(total.november_positions_plan, total.e_november) }}
        </td>
        <td class="font-bold">{{ formatNumber(total.g_november) }}</td>
        <td class="font-bold">
          {{ formatNumber(total.december_positions_plan) }}
        </td>
        <td class="font-bold">{{ formatNumber(total.e_december) }}</td>
        <td class="font-bold">
          {{ getPercent(total.december_positions_plan, total.e_december) }}
        </td>
        <td class="font-bold">{{ formatNumber(total.g_december) }}</td>
      </tr>

      <tr v-for="(item, index) in data" :key="'comp' + index">
        <td>{{ index + 1 }}</td>
        <td>
          <template v-if="item.soato && item.soato.length == 4">
            <router-link
              :to="{ name: 'CompareArea', params: { soato: item.soato } }"
            >
              {{ item.region_name }}
            </router-link>
          </template>
          <template v-else>
            <router-link
              :to="{
                name: 'CompaniesFullByMonthly',
                params: { soato: item.soato },
              }"
            >
              {{ item.region_name }}
            </router-link>
          </template>
        </td>
        <td>{{ formatNumber(item.january_positions_plan) }}</td>
        <td>{{ formatNumber(item.e_january) }}</td>
        <td>
          {{ getPercent(item.january_positions_plan, item.e_january) }}
        </td>
        <td>{{ formatNumber(item.g_january) }}</td>
        <td>{{ formatNumber(item.february_positions_plan) }}</td>
        <td>{{ formatNumber(item.e_february) }}</td>
        <td>
          {{ getPercent(item.february_positions_plan, item.e_february) }}
        </td>
        <td>{{ formatNumber(item.g_february) }}</td>
        <td>{{ formatNumber(item.march_positions_plan) }}</td>
        <td>{{ formatNumber(item.e_march) }}</td>
        <td>
          {{ getPercent(item.march_positions_plan, item.e_march) }}
        </td>

        <td>{{ formatNumber(item.g_march) }}</td>
        <td>{{ formatNumber(item.april_positions_plan) }}</td>
        <td>{{ formatNumber(item.e_april) }}</td>
        <td>
          {{ getPercent(item.april_positions_plan, item.e_april) }}
        </td>

        <td>{{ formatNumber(item.g_april) }}</td>
        <td>{{ formatNumber(item.may_positions_plan) }}</td>
        <td>{{ formatNumber(item.e_may) }}</td>
        <td>
          {{ getPercent(item.may_positions_plan, item.e_may) }}
        </td>

        <td>{{ formatNumber(item.g_may) }}</td>
        <td>{{ formatNumber(item.june_positions_plan) }}</td>
        <td>{{ formatNumber(item.e_june) }}</td>
        <td>
          {{ getPercent(item.june_positions_plan, item.e_june) }}
        </td>

        <td>{{ formatNumber(item.g_june) }}</td>
        <td>{{ formatNumber(item.july_positions_plan) }}</td>
        <td>{{ formatNumber(item.e_july) }}</td>
        <td>
          {{ getPercent(item.july_positions_plan, item.e_july) }}
        </td>

        <td>{{ formatNumber(item.g_july) }}</td>
        <td>{{ formatNumber(item.august_positions_plan) }}</td>
        <td>{{ formatNumber(item.e_august) }}</td>
        <td>
          {{ getPercent(item.august_positions_plan, item.e_august) }}
        </td>

        <td>{{ formatNumber(item.g_august) }}</td>
        <td>{{ formatNumber(item.september_positions_plan) }}</td>
        <td>{{ formatNumber(item.e_september) }}</td>
        <td>
          {{ getPercent(item.september_positions_plan, item.e_september) }}
        </td>

        <td>{{ formatNumber(item.g_september) }}</td>
        <td>{{ formatNumber(item.october_positions_plan) }}</td>
        <td>{{ formatNumber(item.e_october) }}</td>
        <td>
          {{ getPercent(item.october_positions_plan, item.e_october) }}
        </td>

        <td>{{ formatNumber(item.g_october) }}</td>
        <td>{{ formatNumber(item.november_positions_plan) }}</td>
        <td>{{ formatNumber(item.e_november) }}</td>
        <td>
          {{ getPercent(item.november_positions_plan, item.e_november) }}
        </td>

        <td>{{ formatNumber(item.g_november) }}</td>
        <td>{{ formatNumber(item.december_positions_plan) }}</td>
        <td>{{ formatNumber(item.e_december) }}</td>
        <td>
          {{ getPercent(item.december_positions_plan, item.e_december) }}
        </td>
        <td>{{ formatNumber(item.g_december) }}</td>
      </tr>
    </tbody>
  </table>
</template>
<script>
export default {
  props: {
    data: { type: Array, required: true },
    total: { type: Array, required: true },
  },
};
</script>
