<template>
  <table
    id="reportTable"
    class="table-auto table-main"
    v-loading="waiting"
    element-loading-text="Юкланмоқда.."
    element-loading-spinner="el-icon-loading"
  >
    <thead>
      <tr class="text-gray-700  text-center font-bold bg-gray-200">
        <th class="bg-gray-200" rowspan="3">Т/р</th>
        <th class="bg-gray-200" rowspan="3">Худуд номи</th>
        <th class="bg-gray-200" rowspan="3">Жами (Режада)</th>
        <th class="bg-gray-200" rowspan="3" v-if="total.companies_total">
          Жами корхоналар (Aмалда ГНК)
        </th>
        <th class="bg-gray-200" rowspan="3" v-if="total.persons_total">
          Жами ходимлар (Aмалда ГНК)
        </th>
        <th class="bg-gray-200" colspan="6">1-Чорак</th>
        <th class="bg-gray-200" colspan="6">2-Чорак</th>
        <th class="bg-gray-200" colspan="6">3-Чорак</th>
        <th class="bg-gray-200" colspan="6">4-Чорак</th>
      </tr>
      <tr class="text-gray-700  text-center font-bold bg-gray-200">
        <th colspan="2">Январь</th>
        <th colspan="2">Февраль</th>
        <th colspan="2">Март</th>
        <th colspan="2">Апрель</th>
        <th colspan="2">Май</th>
        <th colspan="2">Июнь</th>
        <th colspan="2">Июль</th>
        <th colspan="2">Августь</th>
        <th colspan="2">Сентябрь</th>
        <th colspan="2">Октябрь</th>
        <th colspan="2">Ноябрь</th>
        <th colspan="2">Декабрь</th>
      </tr>
      <tr class="text-gray-700  text-center font-bold bg-gray-200">
        <th>Корхоналар сони (Aмалда) ГНК</th>
        <th>Xодимлар сони (Aмалда) ГНК</th>
        <th>Корхоналар сони (Aмалда) ГНК</th>
        <th>Xодимлар сони (Aмалда) ГНК</th>
        <th>Корхоналар сони (Aмалда) ГНК</th>
        <th>Xодимлар сони (Aмалда) ГНК</th>
        <th>Корхоналар сони (Aмалда) ГНК</th>
        <th>Xодимлар сони (Aмалда) ГНК</th>
        <th>Корхоналар сони (Aмалда) ГНК</th>
        <th>Xодимлар сони (Aмалда) ГНК</th>
        <th>Корхоналар сони (Aмалда) ГНК</th>
        <th>Xодимлар сони (Aмалда) ГНК</th>
        <th>Корхоналар сони (Aмалда) ГНК</th>
        <th>Xодимлар сони (Aмалда) ГНК</th>
        <th>Корхоналар сони (Aмалда) ГНК</th>
        <th>Xодимлар сони (Aмалда) ГНК</th>
        <th>Корхоналар сони (Aмалда) ГНК</th>
        <th>Xодимлар сони (Aмалда) ГНК</th>
        <th>Корхоналар сони (Aмалда) ГНК</th>
        <th>Xодимлар сони (Aмалда) ГНК</th>
        <th>Корхоналар сони (Aмалда) ГНК</th>
        <th>Xодимлар сони (Aмалда) ГНК</th>
        <th>Корхоналар сони (Aмалда) ГНК</th>
        <th>Xодимлар сони (Aмалда) ГНК</th>
      </tr>
    </thead>
    <tbody>
      <tr v-if="total">
        <td class="bg-gray-200" colspan="2">
          <b>Жами</b>
        </td>
        <td style="font-weight:bold;">
          {{ total.positions_plan }}
        </td>
        <td style="font-weight:bold;" v-if="total.companies_total">
          {{ formatNumber(total.companies_total) }}
        </td>
        <td style="font-weight:bold;" v-if="total.persons_total">
          {{ formatNumber(total.persons_total) }}
        </td>

        <td style="font-weight:bold;">
          {{ formatNumber(total.companies_january) }}
        </td>
        <td style="font-weight:bold;">
          {{ formatNumber(total.persons_january) }}
        </td>
        <td style="font-weight:bold;">
          {{ formatNumber(total.companies_february) }}
        </td>
        <td style="font-weight:bold;">
          {{ formatNumber(total.persons_february) }}
        </td>
        <td style="font-weight:bold;">
          {{ formatNumber(total.companies_march) }}
        </td>
        <td style="font-weight:bold;">
          {{ formatNumber(total.persons_march) }}
        </td>
        <td style="font-weight:bold;">
          {{ formatNumber(total.companies_april) }}
        </td>
        <td style="font-weight:bold;">
          {{ formatNumber(total.persons_april) }}
        </td>
        <td style="font-weight:bold;">
          {{ formatNumber(total.companies_may) }}
        </td>
        <td style="font-weight:bold;">{{ formatNumber(total.persons_may) }}</td>
        <td style="font-weight:bold;">
          {{ formatNumber(total.companies_june) }}
        </td>
        <td style="font-weight:bold;">
          {{ formatNumber(total.persons_june) }}
        </td>
        <td style="font-weight:bold;">
          {{ formatNumber(total.companies_july) }}
        </td>
        <td style="font-weight:bold;">
          {{ formatNumber(total.persons_july) }}
        </td>
        <td style="font-weight:bold;">
          {{ formatNumber(total.companies_august) }}
        </td>
        <td style="font-weight:bold;">
          {{ formatNumber(total.persons_august) }}
        </td>
        <td style="font-weight:bold;">
          {{ formatNumber(total.companies_september) }}
        </td>
        <td style="font-weight:bold;">
          {{ formatNumber(total.persons_september) }}
        </td>
        <td style="font-weight:bold;">
          {{ formatNumber(total.companies_october) }}
        </td>
        <td style="font-weight:bold;">
          {{ formatNumber(total.persons_october) }}
        </td>
        <td style="font-weight:bold;">
          {{ formatNumber(total.companies_november) }}
        </td>
        <td style="font-weight:bold;">
          {{ formatNumber(total.persons_november) }}
        </td>
        <td style="font-weight:bold;">
          {{ formatNumber(total.companies_december) }}
        </td>
        <td style="font-weight:bold;">
          {{ formatNumber(total.persons_december) }}
        </td>
      </tr>

      <tr v-for="(item, index) in data" :key="'comp' + index">
        <td>{{ index + 1 }}</td>
        <td>
          <template v-if="item.soato && item.soato.length == 4">
            <router-link
              :to="{ name: 'CompareArea', params: { soato: item.soato } }"
            >
              {{ item.region_name }}
            </router-link>
          </template>
          <template v-else>
            <router-link
              :to="{
                name: 'CompaniesFullByMonthly',
                params: { soato: item.soato },
              }"
            >
              {{ item.region_name }}
            </router-link>
          </template>
        </td>
        <td style="font-weight:bold;">{{ item.positions_plan }}</td>
        <td style="font-weight:bold;" v-if="item.companies_total">
          {{ formatNumber(item.companies_total) }}
        </td>
        <td style="font-weight:bold;" v-if="item.persons_total">
          {{ formatNumber(item.persons_total) }}
        </td>

        <td>{{ formatNumber(item.companies_january) }}</td>
        <td>{{ formatNumber(item.persons_january) }}</td>
        <td>{{ formatNumber(item.companies_february) }}</td>
        <td>{{ formatNumber(item.persons_february) }}</td>
        <td>{{ formatNumber(item.companies_march) }}</td>
        <td>{{ formatNumber(item.persons_march) }}</td>
        <td>{{ formatNumber(item.companies_april) }}</td>
        <td>{{ formatNumber(item.persons_april) }}</td>
        <td>{{ formatNumber(item.companies_may) }}</td>
        <td>{{ formatNumber(item.persons_may) }}</td>
        <td>{{ formatNumber(item.companies_june) }}</td>
        <td>{{ formatNumber(item.persons_june) }}</td>
        <td>{{ formatNumber(item.companies_july) }}</td>
        <td>{{ formatNumber(item.persons_july) }}</td>
        <td>{{ formatNumber(item.companies_august) }}</td>
        <td>{{ formatNumber(item.persons_august) }}</td>
        <td>{{ formatNumber(item.companies_september) }}</td>
        <td>{{ formatNumber(item.persons_september) }}</td>
        <td>{{ formatNumber(item.companies_october) }}</td>
        <td>{{ formatNumber(item.persons_october) }}</td>
        <td>{{ formatNumber(item.companies_november) }}</td>
        <td>{{ formatNumber(item.persons_november) }}</td>
        <td>{{ formatNumber(item.companies_december) }}</td>
        <td>{{ formatNumber(item.persons_december) }}</td>
      </tr>
    </tbody>
  </table>
</template>
<script>
export default {
  props: {
    data: { type: Array, required: true },
    total: { type: Array, required: true },
  },
};
</script>
