<template>
  <div class="flex flex-col items-center">
    <el-card
      class="w-full width-100"
      v-loading="waiting"
      element-loading-text="Юкланмоқда.."
      element-loading-spinner="el-icon-loading"
    >
      <dir class="text-center mb-10">
        <div class="flex items-center justify-between">
          <span class="login-text">Республика миқиёсидаги барча Маълумот</span>
          <el-button
            type="primary"
            icon="el-icon-printer"
            @click="exportTable('Республика миқиёсидаги барча Маълумот')"
          >
            Excelга юклаш</el-button
          >
        </div>
      </dir>
      <div class="m-5">
        <div class="mb-0 mt-2">
          <el-tabs
            type="border-card"
            v-model="activeTab"
            @tab-click="handleClick"
          >
            <el-tab-pane
              label="Режада республика миқиёсидаги (янги)"
              name="full_info"
            >
              <fullInfoTab
                :data="data"
                :total="total"
                v-if="activeTab == 'full_info'"
              />
            </el-tab-pane>
            <el-tab-pane
              label="Режада республика миқиёсидаги"
              name="republic_plan"
            >
              <realTab
                :data="data"
                :total="total"
                :all_projects="all_projects"
                v-if="activeTab == 'republic_plan'"
              />
            </el-tab-pane>
            <el-tab-pane
              label="Aмалда республика миқиёсидаги (ГНК ва ЭНСТ)"
              name="republic_compare_result"
            >
              <compareTab
                :data="quarter_data"
                :total="total_quarter"
                :all_projects="projects"
                :active_project="active_project"
                @projectChange="projectChange"
                v-if="activeTab == 'republic_compare_result'"
              />
            </el-tab-pane>
            <el-tab-pane
              label="Aмалда республика миқиёсидаги"
              name="republic_quarter_positions"
            >
              <div class="text-center mb-10">
                <div class="flex items-center">
                  <el-select
                    v-model="quarter_month_from"
                    placeholder="Select"
                    style="width: 250px;margin-left:2em"
                  >
                    <el-option
                      v-for="item in months"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id"
                      :disabled="item.id > quarter_month_to"
                    >
                    </el-option>
                  </el-select>
                  <el-select
                    v-model="quarter_month_to"
                    placeholder="Select"
                    style="width: 250px;margin-left:2em"
                  >
                    <el-option
                      v-for="item in months"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id"
                      :disabled="item.id < quarter_month_from"
                    >
                    </el-option>
                  </el-select>
                </div>
              </div>
              <planTab
                :data="quarter_data"
                :total="total_quarter"
                :all_projects="projects"
                :all_regions="all_regions"
                v-if="activeTab == 'republic_quarter_positions'"
              />
            </el-tab-pane>
          </el-tabs>
        </div>
      </div>
      <br />
      <hr />
      <br />
      <div class="text-center mb-10">
        <div class="flex items-center ">
          <!-- <el-select
            v-model="project_id"
            placeholder="Select"
            style="width: 450px;"
          >
            <el-option
              v-for="item in all_projects"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            >
            </el-option>
          </el-select> -->
          <!-- <el-select
            v-model="month"
            placeholder="Select"
            style="width: 250px;margin-left:2em"
          >
            <el-option
              v-for="item in months"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            >
            </el-option>
          </el-select> -->
        </div>
      </div>
      <!-- <chart :series="series" :chartOptions="chartOptions"> </chart> -->
      <br />
    </el-card>
  </div>
</template>
<script>
import { regions } from "@/utils/regions";
import { mapGetters, mapActions } from "vuex";
import setProject from "@/mixins/model/models/set_projects";
import reportBySoato from "@/mixins/model/models/report_by_soato";
import Chart from "@/components/Charts/chart";
// import statistic from "@/mixins/statistic/main";
import realTab from "./tabs/real_tab.vue";
import planTab from "./tabs/plan_tab.vue";
import fullInfoTab from "./tabs/full_info.vue";

import compareTab from "./tabs/compare_tab.vue";
export default {
  data() {
    return {
      waiting: false,
      select: "district",
      model: "REPUBLIC",
      activeTab: "full_info",
      active_project: 1,
      quarter_month_from: 1,
      quarter_month_to: 12,
      filter: {
        year: null,
        quarter: null,
        position_id: null,
        indicator_id: null,
        place: "district",
        order: "desc",
      },
    };
  },
  components: {
    Chart,
    realTab,
    planTab,
    compareTab,
    fullInfoTab,
  },
  watch: {
    $route(to, from) {
      this.activeTab = to.query.report_type_name;
      switch (to.query.report_type_name) {
        case "republic_quarter_positions": {
          this.getQuarterReportPositions();
          break;
        }
        case "republic_compare_result": {
          this.getRegionReportPositionsFunc(this.active_project);
          break;
        }
        case "republic_plan": {
          this.getReportData();
          break;
        }
        case "full_info": {
          this.getFullReportData();
          break;
        }
        default: {
          this.activeTab = "full_info";
          this.getFullReportData();
        }
      }
    },
  },
  mixins: [setProject, reportBySoato],
  computed: {
    computed: {
      ...mapGetters({
        projects: "project/ITEMS",
      }),
    },
    region_names() {
      let arr = [];
      regions.forEach((element) => {
        arr.push(element.name_uz_cl);
      });
      return arr;
    },
    all_regions() {
      return regions;
    },
  },

  created() {
    // this.chartOptions.xaxis.categories = this.region_names;
    this.activeTab = this.$route.query.report_type_name;
    switch (this.$route.query.report_type_name) {
      case "republic_quarter_positions": {
        this.getQuarterReportPositions();
        break;
      }
      case "republic_compare_result": {
        this.getRegionReportPositionsFunc(this.active_project);
        break;
      }
      case "republic_plan": {
        this.getReportData();
        break;
      }
      case "full_info": {
        this.getFullReportData();
        break;
      }
      default: {
        this.activeTab = "full_info";
        this.getFullReportData();
      }
    }
  },
  methods: {
    ...mapActions({}),
    updateRating() {},
    changeOrder() {},

    handleClick(tab) {
      this.$router.push({
        name: "Dashboard",
        query: { report_type_name: tab.name },
      });
    },
  },
};
</script>
