<template>
  <div class="flex flex-col items-center">
    <el-card
      class="w-full width-100"
      v-loading="waiting"
      element-loading-text="Юкланмоқда.."
      element-loading-spinner="el-icon-loading"
    >
      <div class="mb-5">
        <div>
          <h2 class="plan-name">
            2021 йилда ташкил этилган янги иш ўринлари статискаси
          </h2>
        </div>
      </div>

      <el-row>
        <el-col :span="5">
          <el-row class="statistic-item">
            <el-col :span="7">
              <div class="icon-1-wrapper icon-w" v-html="svgs.case"></div>
            </el-col>
            <el-col :span="17" class="statistic-col-17">
              <p class="statisticItem-plan">режада</p>
              <h2>{{ formatNumber(total_quarter.positions_count) }}</h2>
              <p>
                Жами яратилган янги иш ўринлари:
              </p>
            </el-col>
            <el-col class="statistic-list">
              <p class="statisticItem-plan">амалда</p>
              <h2 class="forse-number">
                {{ formatNumber(total_quarter.enst_positions_count) }}
              </h2>
              <span>
                {{
                  getPercent(
                    total_quarter.positions_count,
                    total_quarter.enst_positions_count
                  )
                }}
              </span>
            </el-col>
          </el-row>
          <el-row class="statistic-item">
            <el-col :span="7">
              <div class="icon-2-wrapper icon-w" v-html="svgs.profits"></div>
            </el-col>
            <el-col :span="17" class="statistic-col-17">
              <p class="statisticItem-plan">режада</p>
              <h2>{{ formatNumber(total_quarter.positions_count_p2) }}</h2>
              <p>
                Тармоқ инвестиция лойиҳаларни амалга ошириш:
              </p>
            </el-col>
            <el-col class="statistic-list">
              <p class="statisticItem-plan">амалда</p>
              <h2 class="forse-number">
                {{ formatNumber(total_quarter.enst_positions_count_p2) }}
              </h2>
              <span>
                {{
                  getPercent(
                    total_quarter.positions_count_p2,
                    total_quarter.enst_positions_count_p2
                  )
                }}
              </span>
            </el-col>
          </el-row>
          <el-card class="box-card statistic-item">
            <el-col :span="4">
              <div class="icon-w" v-html="svgs.invest1"></div>
            </el-col>
            <p>
              Ҳудудий инвестиция лойиҳаларини амалга ошириш
            </p>
            <div class="investment">
              <ul class="investment-items">
                <li class="plan">
                  <p>режада</p>
                  <span>{{
                    formatNumber(total_quarter.positions_count_p3)
                  }}</span>
                </li>
                <li class="practice">
                  <p>амалда</p>
                  <span>{{
                    formatNumber(total_quarter.enst_positions_count_p3)
                  }}</span>
                </li>
                <li class="investment-percent">
                  <span>{{
                    getPercent(
                      total_quarter.positions_count_p3,
                      total_quarter.enst_positions_count_p3
                    )
                  }}</span>
                </li>
              </ul>
              <hr style="border:0.1px solid rgb(233, 232, 232);" />
            </div>
            <br />
            <el-row class="investment-info">
              <div class="investment-infoItems">
                <el-col :span="4">
                  <div v-html="svgs.windmill"></div>
                </el-col>
                <el-col :span="8">
                  <div class="child_item_wrap" style="padding-top:15px;">
                    <span class="child_item_val ">Cаноатда</span><br /><br />
                  </div> </el-col
                ><br />
                <span
                  >режада
                  <b>{{
                    formatNumber(total_quarter.positions_count_p4)
                  }}</b></span
                >
                <span
                  >амалда
                  <b class="practice-wrap">{{
                    formatNumber(total_quarter.enst_positions_count_p4)
                  }}</b></span
                >
                <span class="percent">{{
                  getPercent(
                    total_quarter.positions_count_p4,
                    total_quarter.enst_positions_count_p4
                  )
                }}</span>
              </div>

              <div class="investment-infoItems investment-infoItems1">
                <el-col :span="4">
                  <div v-html="svgs.agronomy"></div>
                </el-col>
                <el-col :span="8">
                  <div>
                    <span class="child_item_val">қишлоқ хўжалигида</span>
                  </div> </el-col
                ><br />
                <span
                  >режада
                  <b>{{
                    formatNumber(total_quarter.positions_count_p5)
                  }}</b></span
                >
                <span
                  >амалда
                  <b class="practice-wrap">{{
                    formatNumber(total_quarter.enst_positions_count_p5)
                  }}</b></span
                >
                <span class="percent">{{
                  getPercent(
                    total_quarter.positions_count_p5,
                    total_quarter.enst_positions_count_p5
                  )
                }}</span>
              </div>

              <div class="investment-infoItems investment-infoItems1">
                <el-col :span="4">
                  <div v-html="svgs.technical_support"></div>
                </el-col>
                <el-col :span="20">
                  <div class="child_item_wrap">
                    <span class="child_item_val">Хизмат кўрсатишда</span>
                  </div> </el-col
                ><br />
                <span
                  >режада
                  <b>{{
                    formatNumber(total_quarter.enst_positions_count_p6)
                  }}</b></span
                >
                <span
                  >амалда
                  <b class="practice-wrap">{{
                    formatNumber(total_quarter.enst_positions_count_p6)
                  }}</b></span
                >
                <span class="percent">{{
                  getPercent(
                    total_quarter.positions_count_p6,
                    total_quarter.enst_positions_count_p6
                  )
                }}</span>
              </div>
            </el-row>
            <el-row> </el-row>
          </el-card>
          <el-card
            style="box-shadow:none; border:none;"
            class="box-card statistic-item item-2"
          >
            <div class="toEstablish-items">
              <div class="statistic-ToEstablish">
                <el-col :span="8" class="skylineimg">
                  <div v-html="svgs.skyline1"></div>
                </el-col>
                <el-col>
                  <p>режада</p>
                  <h2>
                    {{ formatNumber(total_quarter.positions_count_p13) }}
                  </h2>
                  <p>Янги кичик корхона ва микро-фирмалар ташкил этиш</p>
                </el-col>
              </div>
              <div class="toEstablish">
                <el-col class="statistic-list">
                  <p class="statisticItem-plan">амалда</p>
                  <h2 class="forse-number">
                    {{ formatNumber(total_quarter.enst_positions_count_p13) }}
                  </h2>
                  <span>{{
                    getPercent(
                      total_quarter.positions_count_p13,
                      total_quarter.enst_positions_count_p13
                    )
                  }}</span>
                </el-col>
              </div>
            </div>

            <br />
            <!-- <el-row>
              <el-col :span="4">
                <div v-html="svgs.windmill"></div>
              </el-col>
              <el-col :span="8">
               <div class="child_item_wrap">
                  <span class="child_item_val">Cаноатда: <b>100</b></span>
               </div>
              </el-col>
              <el-col :span="4">
                <div v-html="svgs.agronomy"></div>
              </el-col>
              <el-col :span="8">
                <div >
                  <span class="child_item_val">қишлоқ хўжалигида: <b>100</b></span>
                </div>
              </el-col>
            </el-row>
             <el-row>
              <el-col :span="4">
                <div v-html="svgs.technical_support"></div>
              </el-col>
              <el-col :span="20">
               <div class="child_item_wrap">
                  <span class="child_item_val">хизмат кўрсатишда: <b>100</b></span>
               </div>
              </el-col>
            </el-row> -->
          </el-card>
        </el-col>
        <el-col :span="14">
          <div class="map-wrapper">
            <div class="center-icon-wrapper">
              <div class="map">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="671"
                  height="437"
                  viewBox="0 0 671 437"
                  fill="none"
                >
                  <path
                    v-for="(item_m, index) in svgs.map"
                    :key="'map_' + index"
                    :d="item_m.path_m"
                    :fill="
                      item_m.soato == active_region.soato
                        ? '#66C8FF'
                        : item_m.color
                    "
                    @click="setRegion(item_m)"
                    stroke="#FFF"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
            <div class="info-social">
              <div class="inf0-items" style="margin:110px -315px; width:820px;">
                <el-card class=" statistic-ite  item-1" style="height:219px;">
                  <div class="socialInfrastructure-info-list">
                    <div class="socialInfrastructure-items">
                      <div class="socialInfrastructure">
                        <el-col>
                          <div v-html="svgs.growth1"></div>
                        </el-col>
                        <el-col>
                          <p class="social-text">
                            Ижтимоий инфра-тузилмани ривожлантириш
                          </p>
                        </el-col>
                      </div>
                      <div class="socialInfrastructure-num">
                        <div class="social-items">
                          <div>
                            <p>
                              режада
                              <b>{{
                                formatNumber(total_quarter.positions_count_p7)
                              }}</b>
                            </p>
                          </div>
                          <div class="socialInfrastructure-p">
                            <p class="socialInfrastructure-plan">
                              амалда
                              <b class="forse-number">{{
                                formatNumber(
                                  total_quarter.enst_positions_count_p7
                                )
                              }}</b>
                            </p>
                          </div>
                        </div>
                        <div class="social-items1">
                          <span class="social-span">{{
                            getPercent(
                              total_quarter.positions_count_p7,
                              total_quarter.enst_positions_count_p7
                            )
                          }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="socialInfrastructure-info">
                      <el-row class="socialInfrastructure-list">
                        <div :span="7">
                          <div v-html="svgs.heartbeat1"></div>
                        </div>
                        <div>
                          Соғлиқни <br />
                          сақлашда
                        </div>
                        <div style="padding-top:10px;">
                          <p>
                            режада
                            <b>{{
                              formatNumber(total_quarter.positions_count_p8)
                            }}</b>
                          </p>
                        </div>
                        <div class="socialInfrastructure-p">
                          <p class="socialInfrastructure-plan">
                            амалда
                            <b class="forse-number">{{
                              formatNumber(
                                total_quarter.enst_positions_count_p8
                              )
                            }}</b>
                          </p>
                        </div>
                        <span class="social-span">{{
                          getPercent(
                            total_quarter.positions_count_p8,
                            total_quarter.enst_positions_count_p8
                          )
                        }}</span>
                      </el-row>
                      <el-row class="socialInfrastructure-list">
                        <div :span="7">
                          <div v-html="svgs.abc1"></div>
                        </div>
                        <div :span="10">
                          мактабгача <br />
                          таълимда
                        </div>
                        <div style="padding-top:10px;">
                          <p>
                            режада
                            <b>{{
                              formatNumber(total_quarter.positions_count_p9)
                            }}</b>
                          </p>
                        </div>
                        <div class="socialInfrastructure-p">
                          <p class="socialInfrastructure-plan">
                            амалда
                            <b class="forse-number">{{
                              formatNumber(
                                total_quarter.enst_positions_count_p9
                              )
                            }}</b>
                          </p>
                        </div>
                        <span class="social-span">{{
                          getPercent(
                            total_quarter.positions_count_p9,
                            total_quarter.enst_positions_count_p9
                          )
                        }}</span>
                      </el-row>
                      <el-row class="socialInfrastructure-list">
                        <div :span="7">
                          <div v-html="svgs.book1"></div>
                        </div>
                        <div :span="10">
                          халқ <br />
                          таълимида
                        </div>
                        <div style="padding-top:10px;">
                          <p>
                            режада
                            <b>{{
                              formatNumber(total_quarter.positions_count_p10)
                            }}</b>
                          </p>
                        </div>
                        <div class="socialInfrastructure-p">
                          <p class="socialInfrastructure-plan">
                            амалда
                            <b class="forse-number">{{
                              formatNumber(
                                total_quarter.enst_positions_count_p10
                              )
                            }}</b>
                          </p>
                        </div>
                        <span class="social-span">{{
                          getPercent(
                            total_quarter.positions_count_p10,
                            total_quarter.enst_positions_count_p10
                          )
                        }}</span>
                      </el-row>
                      <el-row class="socialInfrastructure-list">
                        <div :span="7">
                          <div v-html="svgs.grad_cap1"></div>
                        </div>
                        <div :span="10">
                          олий <br />
                          таълимда
                        </div>
                        <div style="padding-top:10px;">
                          <p>
                            режада
                            <b>{{
                              formatNumber(total_quarter.positions_count_p11)
                            }}</b>
                          </p>
                        </div>
                        <div class="socialInfrastructure-p">
                          <p class="socialInfrastructure-plan">
                            амалда
                            <b class="forse-number">{{
                              formatNumber(
                                total_quarter.enst_positions_count_p11
                              )
                            }}</b>
                          </p>
                        </div>
                        <span class="social-span">{{
                          getPercent(
                            total_quarter.positions_count_p11,
                            total_quarter.enst_positions_count_p11
                          )
                        }}</span>
                      </el-row>
                    </div>
                  </div>
                </el-card>
                <br /><br />
              </div>
              <div
                style="width:350px; height:390px;"
                class="businessDevelopment"
              >
                <el-card class="">
                  <div class="businessInfo">
                    <div class="businessDevelopment-items">
                      <div class="busineslist">
                        <el-col :span="6">
                          <div v-html="svgs.startup1"></div>
                        </el-col>
                        <el-col>
                          <p class="b-text">
                            Якка тартибдаги <br />
                            тадбиркорликни <br />
                            ривожлантириш
                          </p>
                        </el-col>
                      </div>
                      <div class="bd-list">
                        <div style="padding-top:15px;">
                          <p>
                            режада
                            <b>{{
                              formatNumber(total_quarter.positions_count_p14)
                            }}</b>
                          </p>
                        </div>
                        <div class="socialInfrastructure-p">
                          <p class="socialInfrastructure-plan">
                            амалда
                            <b class="forse-number">{{
                              formatNumber(
                                total_quarter.enst_positions_count_p14
                              )
                            }}</b>
                          </p>
                        </div>
                        <span class="social-span">{{
                          getPercent(
                            total_quarter.positions_count_p14,
                            total_quarter.enst_positions_count_p14
                          )
                        }}</span>
                      </div>

                      <!-- <b>{{formatNumber(total_quarter.enst_positions_count_p14)}}</b> -->
                    </div>
                    <div class="craftsmanship">
                      <div class="craftsmanship-list">
                        <el-col :span="6">
                          <div v-html="svgs.pottery1"></div>
                        </el-col>
                        <el-col :span="18">
                          <div class="child_item_wrap" style="margin:0px 13px;">
                            <span class="child_item_val"
                              >Ҳунар- <br />
                              мандчилик:
                            </span>
                          </div>
                        </el-col>
                      </div>
                      <div class="bd-list">
                        <div style="padding-top:25px;">
                          <p>
                            режада
                            <b>{{
                              formatNumber(total_quarter.positions_count_p15)
                            }}</b>
                          </p>
                        </div>
                        <div class="socialInfrastructure-p">
                          <p class="socialInfrastructure-plan">
                            амалда
                            <b class="forse-number">{{
                              formatNumber(
                                total_quarter.enst_positions_count_p15
                              )
                            }}</b>
                          </p>
                        </div>
                        <span class="social-span">{{
                          getPercent(
                            total_quarter.positions_count_p15,
                            total_quarter.enst_positions_count_p15
                          )
                        }}</span>
                      </div>
                    </div>
                  </div>
                </el-card>
              </div>
            </div>
          </div>
        </el-col>

        <div class="provinces">
          <el-col
            class="pro-info-list"
            style=""
            :span="5"
            v-if="active_region.soato && active_region.region_data"
          >
            <div class="right-items province-hr">
              <h2 class="provinces-name">
                {{ this.active_region.region_data.region_name }}
              </h2>
              <p class="provinces-p text-p">
                2021 йил бошидан ташкил этилган янги иш ўринлари тўғрисида
                тезкор маълумот
              </p>
            </div>
            <el-row style="display: flex;justify-content: center;">
              <el-col :span="14">
                <div class="active_region_map">
                  <svg
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    width="200"
                    height="200"
                    viewBox="0 0 255 247"
                  >
                    <path
                      :d="active_region.path_l"
                      :fill="active_region.color"
                      stroke="#FFF"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </el-col>
              <!-- <el-col :span="10"
				><p>
					Жами яратилган янги иш ўринлари:
				</p>
				<b>{{formatNumber(active_region.region_data.enst_positions_count)}}</b>
				</el-col> -->
            </el-row>
            <div>
              <div class="craftsmanship-list provinces-line">
                <el-col :span="4">
                  <div v-html="svgs.case1"></div>
                </el-col>
                <el-col style="padding: 0px 7px;" :span="18">
                  <div class="child_item_wrap">
                    <p>Жами яратилган янги иш ўринлари:</p>
                  </div>
                  <div class="newTheWork-items">
                    <div class="newTheWork-list">
                      <p>режада</p>
                      <b>{{
                        formatNumber(active_region.region_data.positions_count)
                      }}</b>
                    </div>
                    <div class="newTheWork-list">
                      <p class="">амалда</p>
                      <b class="">{{
                        formatNumber(
                          active_region.region_data.enst_positions_count
                        )
                      }}</b>
                    </div>
                    <div class="newTheWork-list">
                      <p class="">фоизда</p>
                      <b class="">{{
                        getPercent(
                          active_region.region_data.positions_count,
                          active_region.region_data.enst_positions_count
                        )
                      }}</b>
                    </div>
                  </div>
                </el-col>
              </div>
              <div class="right-items provinces-line">
                <el-col :span="4">
                  <div v-html="svgs.profits2"></div>
                </el-col>
                <el-col>
                  <div>
                    <p class="provinces-p title">
                      Тармоқ инвестиция лойиҳаларни амалга ошириш:
                    </p>
                  </div>
                  <div class="newTheWork-items">
                    <div class="newTheWork-list pr-list">
                      <p>режада</p>
                      <b>{{
                        formatNumber(
                          active_region.region_data.positions_count_p2
                        )
                      }}</b>
                    </div>
                    <div class="newTheWork-list">
                      <p class="">амалда</p>
                      <b class="">{{
                        formatNumber(
                          active_region.region_data.enst_positions_count_p2
                        )
                      }}</b>
                    </div>
                    <div class="newTheWork-list">
                      <p class="">фоизда</p>
                      <b class="">{{
                        getPercent(
                          active_region.region_data.positions_count_p2,
                          active_region.region_data.enst_positions_count_p2
                        )
                      }}</b>
                    </div>
                  </div>
                </el-col>
              </div>
              <div class="right-items pro-line">
                <div class="provinces-items">
                  <el-col :span="4">
                    <div v-html="svgs.growth2"></div>
                  </el-col>
                  <el-col>
                    <div>
                      <p class="provinces-p title">
                        Ҳудудий инвестиция лойиҳаларини амалга ошириш
                      </p>
                    </div>
                    <div class="newTheWork-items">
                      <div class="newTheWork-list pr-list">
                        <p>режада</p>
                        <b>{{
                          formatNumber(
                            active_region.region_data.positions_count_p3
                          )
                        }}</b>
                      </div>
                      <div class="newTheWork-list">
                        <p class="">амалда</p>
                        <b class="">{{
                          formatNumber(
                            active_region.region_data.enst_positions_count_p3
                          )
                        }}</b>
                      </div>
                      <div class="newTheWork-list">
                        <p class="">фоизда</p>
                        <b class="">{{
                          getPercent(
                            active_region.region_data.positions_count_p3,
                            active_region.region_data.enst_positions_count_p3
                          )
                        }}</b>
                      </div>
                    </div>
                  </el-col>
                </div>

                <div>
                  <div :span="8">
                    <div class="child_item_wrap newTheWork-items">
                      <span class="child_item_val child-span">Cаноатда</span>
                      <div class="newTheWork-list">
                        <b>{{
                          formatNumber(
                            active_region.region_data.positions_count_p4
                          )
                        }}</b>
                      </div>
                      <div class="newTheWork-list">
                        <b class="">{{
                          formatNumber(
                            active_region.region_data.enst_positions_count_p4
                          )
                        }}</b>
                      </div>
                      <div class="newTheWork-list">
                        <b class="">{{
                          getPercent(
                            active_region.region_data.positions_count_p4,
                            active_region.region_data.enst_positions_count_p4
                          )
                        }}</b>
                      </div>
                    </div>
                  </div>

                  <div :span="8">
                    <div class="newTheWork-items">
                      <span class="child_item_val child-span"
                        >қишлоқ <br />
                        хўжалигида</span
                      >
                      <div class="newTheWork-list">
                        <b>{{
                          formatNumber(
                            active_region.region_data.positions_count_p5
                          )
                        }}</b>
                      </div>
                      <div class="newTheWork-list">
                        <b class="">{{
                          formatNumber(
                            active_region.region_data.enst_positions_count_p5
                          )
                        }}</b>
                      </div>
                      <div class="newTheWork-list">
                        <b class="">{{
                          getPercent(
                            active_region.region_data.positions_count_p5,
                            active_region.region_data.enst_positions_count_p5
                          )
                        }}</b>
                      </div>
                    </div>
                  </div>
                  <div :span="8">
                    <div class="newTheWork-items">
                      <span class="child_item_val child-span"
                        >хизмат<br />кўрсатишда</span
                      >
                      <div class="newTheWork-list">
                        <b>{{
                          formatNumber(
                            active_region.region_data.positions_count_p6
                          )
                        }}</b>
                      </div>
                      <div class="newTheWork-list">
                        <b class="">{{
                          formatNumber(
                            active_region.region_data.enst_positions_count_p6
                          )
                        }}</b>
                      </div>
                      <div class="newTheWork-list">
                        <b class="">{{
                          getPercent(
                            active_region.region_data.positions_count_p6,
                            active_region.region_data.enst_positions_count_p6
                          )
                        }}</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="right-items pro-line">
                <div class="provinces-items">
                  <el-col :span="4">
                    <div v-html="svgs.invest2"></div>
                  </el-col>
                  <el-col>
                    <div>
                      <p class="provinces-p title">
                        Ижтимоий инфра-тузилмани ривожлантириш
                      </p>
                    </div>
                    <div class="newTheWork-items">
                      <div class="newTheWork-list pr-list">
                        <p>режада</p>
                        <b>{{
                          formatNumber(
                            active_region.region_data.positions_count_p7
                          )
                        }}</b>
                      </div>
                      <div class="newTheWork-list">
                        <p class="">амалда</p>
                        <b class="">{{
                          formatNumber(
                            active_region.region_data.enst_positions_count_p7
                          )
                        }}</b>
                      </div>
                      <div class="newTheWork-list">
                        <p class="">фоизда</p>
                        <b class="">{{
                          getPercent(
                            active_region.region_data.positions_count_p7,
                            active_region.region_data.enst_positions_count_p7
                          )
                        }}</b>
                      </div>
                    </div>
                  </el-col>
                </div>
                <!--  -->

                <div>
                  <div :span="8">
                    <div class="child_item_wrap newTheWork-items">
                      <span class="child_item_val child-span"
                        >Соғлиқни <br />
                        сақлашда</span
                      >
                      <div class="newTheWork-list">
                        <b>{{
                          formatNumber(
                            active_region.region_data.positions_count_p8
                          )
                        }}</b>
                      </div>
                      <div class="newTheWork-list">
                        <b class="">{{
                          formatNumber(
                            active_region.region_data.enst_positions_count_p8
                          )
                        }}</b>
                      </div>
                      <div class="newTheWork-list">
                        <b class="">{{
                          getPercent(
                            active_region.region_data.positions_count_p8,
                            active_region.region_data.enst_positions_count_p8
                          )
                        }}</b>
                      </div>
                    </div>
                  </div>

                  <div :span="8">
                    <div class="newTheWork-items">
                      <span class="child_item_val child-span"
                        >мактабгача <br />
                        таълимда</span
                      >
                      <div class="newTheWork-list">
                        <b>{{
                          formatNumber(
                            active_region.region_data.positions_count_p9
                          )
                        }}</b>
                      </div>
                      <div class="newTheWork-list">
                        <b class="">{{
                          formatNumber(
                            active_region.region_data.enst_positions_count_p9
                          )
                        }}</b>
                      </div>
                      <div class="newTheWork-list">
                        <b class="">{{
                          getPercent(
                            active_region.region_data.positions_count_p9,
                            active_region.region_data.enst_positions_count_p9
                          )
                        }}</b>
                      </div>
                    </div>
                  </div>
                  <div :span="8">
                    <div class="newTheWork-items">
                      <span class="child_item_val child-span"
                        >халқ <br />
                        таълимида</span
                      >
                      <div class="newTheWork-list">
                        <b>{{
                          formatNumber(
                            active_region.region_data.positions_count_p10
                          )
                        }}</b>
                      </div>
                      <div class="newTheWork-list">
                        <b class="">{{
                          formatNumber(
                            active_region.region_data.enst_positions_count_p10
                          )
                        }}</b>
                      </div>
                      <div class="newTheWork-list">
                        <b class="">{{
                          getPercent(
                            active_region.region_data.positions_count_p10,
                            active_region.region_data.enst_positions_count_p10
                          )
                        }}</b>
                      </div>
                    </div>
                  </div>
                  <div :span="8">
                    <div class="newTheWork-items">
                      <span class="child_item_val child-span"
                        >олий таълимда</span
                      >
                      <div class="newTheWork-list">
                        <b>{{
                          formatNumber(
                            active_region.region_data.positions_count_p11
                          )
                        }}</b>
                      </div>
                      <div class="newTheWork-list">
                        <b class="">{{
                          formatNumber(
                            active_region.region_data.enst_positions_count_p11
                          )
                        }}</b>
                      </div>
                      <div class="newTheWork-list">
                        <b class="">{{
                          getPercent(
                            active_region.region_data.positions_count_p11,
                            active_region.region_data.enst_positions_count_p11
                          )
                        }}</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="right-items pro-line">
                <div class="provinces-items">
                  <el-col :span="6">
                    <div v-html="svgs.startup2"></div>
                  </el-col>
                  <el-col>
                    <div>
                      <p class="provinces-p title">
                        Якка тартибдаги тадбиркорликни ривожлантириш
                      </p>
                    </div>
                    <div class="newTheWork-items">
                      <div class="newTheWork-list pr-list">
                        <p>режада</p>
                        <b>{{
                          formatNumber(
                            active_region.region_data.positions_count_p14
                          )
                        }}</b>
                      </div>
                      <div class="newTheWork-list">
                        <p class="">амалда</p>
                        <b class="">{{
                          formatNumber(
                            active_region.region_data.enst_positions_count_p14
                          )
                        }}</b>
                      </div>
                      <div class="newTheWork-list">
                        <p class="">фоизда</p>
                        <b class="">{{
                          getPercent(
                            active_region.region_data.positions_count_p14,
                            active_region.region_data.enst_positions_count_p14
                          )
                        }}</b>
                      </div>
                    </div>
                  </el-col>
                </div>
                <div>
                  <div :span="8">
                    <div class="newTheWork-items">
                      <span class="child_item_val child-span"
                        >Ҳунар- <br />
                        мандчилик</span
                      >
                      <div class="newTheWork-list">
                        <b>{{
                          formatNumber(
                            active_region.region_data.positions_count_p15
                          )
                        }}</b>
                      </div>
                      <div class="newTheWork-list">
                        <b class="">{{
                          formatNumber(
                            active_region.region_data.enst_positions_count_p15
                          )
                        }}</b>
                      </div>
                      <div class="newTheWork-list">
                        <b class="">{{
                          getPercent(
                            active_region.region_data.positions_count_p15,
                            active_region.region_data.enst_positions_count_p15
                          )
                        }}</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="right-items">
                <div class="craftsmanship-list provinces-line">
                  <el-col :span="4">
                    <div v-html="svgs.skyline2"></div>
                  </el-col>
                  <el-col :span="18">
                    <div class="child_item_wrap" style="margin:-10px 0px;">
                      <p class="provinces-p ">
                        Янги кичик корхона ва микро-фирмалар ташкил этиш
                      </p>
                    </div>
                    <div class="newTheWork-items">
                      <div class="newTheWork-list">
                        <p>режада</p>
                        <b>{{
                          formatNumber(
                            active_region.region_data.positions_count_p13
                          )
                        }}</b>
                      </div>
                      <div class="newTheWork-list">
                        <p class="">амалда</p>
                        <b class="">{{
                          formatNumber(
                            active_region.region_data.enst_positions_count_p13
                          )
                        }}</b>
                      </div>
                      <div class="newTheWork-list">
                        <p class="">фоизда</p>
                        <b class="">{{
                          getPercent(
                            active_region.region_data.positions_count_p13,
                            active_region.region_data.enst_positions_count_p13
                          )
                        }}</b>
                      </div>
                    </div>
                  </el-col>
                </div>
                <!-- <el-col :span="6">
						<div v-html="svgs.skyline2"></div>
					</el-col>
					<p class="provinces-p">Янги кичик корхона ва микро-фирмалар ташкил этиш</p>
					<b style="color:white;">{{formatNumber(active_region.region_data.enst_positions_count_p13)}}</b>
					<br> -->
                <!-- <el-row>
					<el-col :span="4">
						<div v-html="svgs.windmill2"></div>
					</el-col>
					<el-col :span="8">
					<div class="child_item_wrap">
						<span class="child_item_val">Cаноатда: <b>100</b></span>
					</div>
					</el-col>
					<el-col :span="4">
						<div v-html="svgs.agronomy2"></div>
					</el-col>
					<el-col :span="8">
						<div >
						<span class="child_item_val">қишлоқ хўжалигида: <b>100</b></span>
						</div>
					</el-col>
					</el-row> -->
              </div>
            </div>
          </el-col>
        </div>
      </el-row>
    </el-card>
  </div>
</template>
<script>
import { regions } from "@/utils/regions";
import { svgs } from "@/utils/svg-list";
import { mapGetters, mapActions } from "vuex";
import reportBySoato from "@/mixins/model/models/report_by_soato";

export default {
  mixins: [reportBySoato],

  data() {
    return {
      active_region: {
        soato: null,
        path_l: null,
        region_data: null,
        color: null,
      },
      quarter_month_from: 1,
      quarter_month_to: 12,
    };
  },
  components: {},
  computed: {
    ...mapGetters({}),

    all_regions() {
      return regions;
    },
    svgs() {
      return svgs;
    },
  },

  created() {
    this.getQuarterReportPositions();
  },
  methods: {
    ...mapActions({}),
    setRegion(item) {
      this.active_region.soato = item.soato;
      this.active_region.path_l = item.path_l;
      this.active_region.color = item.color;
      this.quarter_data.forEach((element) => {
        if (element.soato == item.soato) {
          this.active_region.region_data = element;
        }
      });
      console.log(this.active_region);
    },
  },
};
</script>
<style scoped>
.plan-name {
  font-size: 22px;
  color: #3e3e75;
  font-weight: 700;
}
.statistic-item {
  margin-top: 1em;
  margin-bottom: 2em;
  color: #3e3e75;
  /* justify-content: space-between; */
}
.statistic-item h2 {
  padding: 4px 14px;
}
.statistic-item p {
  padding: 0px 14px;
  width: 100%;
}
.statisticItem-plan {
  padding: 2px 14px;
}
.statistic-item {
  display: flex;
  align-items: start;
}
.statistic-list {
  margin-left: 80px;
  border-left: 1px solid;
}
.statistic-list span {
  color: #00b300;
  margin: 20px 15px;
  font-size: 22px;
}
.statistic-col-17 {
  margin-left: 25px;
}
.forse-number {
  color: #3a9efd;
}
.box-card {
  width: 370px;
}
.child_item_val {
  font-size: 13px;
}
.right-items {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  color: #3e3e75;
}
.right-items b {
  color: #1279d9;
}
.icon-1-wrapper {
  width: 70px;
  height: 70px;
  background: #8674fe;
  border-radius: 16px;
}

.icon-2-wrapper {
  width: 70px;
  height: 70px;
  background: #fdba6c;
  border-radius: 16px;
}
.map-wrapper {
  min-width: 100%;
}
.map {
  margin: 0 auto;
}
.center-icon-wrapper {
  margin: 30px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 770px;
  height: 770px;
  border-radius: 50%;
  background: linear-gradient(
    164.55deg,
    #f6f8fa 28.42%,
    rgba(227, 229, 234, 0.62) 56.09%,
    rgba(144, 146, 165, 0.2) 92.56%
  );
}
.icons-l {
  color: #66c8ff;
}
.info-items .item-1 {
  position: absolute;
  bottom: -5%;
  left: 22%;
}
.info-items {
  position: absolute;
  bottom: -5%;
  left: 47%;
}
.info-items .item-1 .el-col {
  margin-top: 0.5em;
}
.map svg path {
  cursor: pointer;
  transition: all 0.2s;
}
.map svg path:hover {
  fill: #66c8ff;
}
.skylineimg {
  padding: 20px;
  border-radius: 10px;
  background-color: #3a9efd;
  margin: 0px 15px 0px 0px;
}
.investment-items {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  list-style: none;
  margin: 15px 0;
}
.plan p,
.practice p {
  padding: 10px 0;
}
.plan span {
  color: #3e3e75;
  font-size: 28px;
}
.practice span {
  color: #3a9efd;
  font-size: 28px;
}
.practice-wrap {
  color: #3a9efd;
}
.investment-percent span {
  color: #00b300;
  font-size: 22px;
  text-align: end;
}
.investment-info {
  display: flex;
  justify-content: space-between;
}
.child_item_wrap {
  display: block;
  padding: 0;
}
.investment-infoItems {
  display: grid;
  width: auto;
}
.investment-infoItems1 {
  margin-left: 20px;
}
.percent,
.social-span {
  padding: 20px 0;
  font-size: 22px;
  color: #00b300;
}

.investment-infoItems span {
  padding: 5px 0;
}
.toEstablish-items,
.statistic-ToEstablish {
  display: flex;
  align-items: center;
}
.toEstablish {
  position: absolute;
  margin-left: 265px;
}
.socialInfrastructure,
.socialInfrastructure-info,
.info-social,
.busineslist,
.businessInfo,
.craftsmanship-list {
  display: flex;
}
.socialInfrastructure-info-list {
  width: 800px;
  display: flex;
  height: 184px;
}
.inf-items {
  margin: 50px;
}
.el-col-24,
.el-col-6 {
  width: auto;
}
.socialInfrastructure-info {
  margin-left: 30px;
}
.socialInfrastructure-list {
  width: 150px;
  padding: 0px 15px;
  border-left: 0.5px solid rgb(233, 232, 232);
}
.socialInfrastructure-p p {
  padding: 5px 0px;
}
.social-text {
  padding-left: 15px;
}
.socialInfrastructure-num {
  display: flex;
  align-items: center;
  padding: 30px 0;
}
.social-items {
  padding-right: 8px;
}
.social-items1 span {
  border-left: 0.5px solid rgb(233, 232, 232);
  padding-left: 10px;
}
.businessDevelopment {
  width: 300px;
  height: 304px;
  margin-left: 330px;
  margin-top: 110px;
}
.b-text {
  padding-left: 10px;
}
.craftsmanship {
  margin: 0px 20px;
  padding: 0px 10px;
  border-left: 0.5px solid rgb(233, 232, 232);
}

.bd-list {
  padding: 22px 0;
}

.provinces-name {
  color: white;
  padding-bottom: 15px;
  font-size: 28px;
}
.provinces-p,
.child-span,
.child-span b,
.child-num,
.newTheWork-list p {
  color: white;
}
.provinces-p {
  padding: 0px 0;
}
.child-span {
  font-size: 15px;
}
.child-span b {
  font-size: 18px;
}
.newTheWork-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
}
.newTheWork-list b {
  color: white;
  margin: 10px 0;
}
.newTheWork-list {
  padding: 0px 5px;
}
.province-hr {
  border-bottom: 1px solid white;
}
.provinces-hr {
  border-spacing: solid;
  background-color: white;
}
.provinces-line {
  display: flex;

  justify-content: space-between;
  border-bottom: 0.5px solid #4e8baf;
}
.pro-line {
  border-bottom: 0.5px solid #4e8baf;
}
.provinces-items {
  display: flex;

  justify-content: space-between;
  box-shadow: 0px 8px 15px -7px rgba(0, 0, 0, 0.25);
}
.child-span {
  width: 16%;
}
.pr-list {
  padding-left: 35px;
}
.title {
  padding-left: 32px;
}
.text-p {
  padding: 20px 0;
}
.pro-info-list {
  background-color: #2c698d;
  padding: 0px 20px;
  color: white;
  height: 1155px;
  overflow-y: auto;
}
.pro-info-list::-webkit-scrollbar {
  width: 7px;
  background-color: #cceaff;
  height: 3px;
}
.pro-info-list::-webkit-scrollbar-thumb {
  width: 7px;
  height: 3px;
  background-color: #66bfff;
}
.sanoat {
  padding: 15px 0;
}
</style>
