<template>
  <div class="flex flex-col items-center">
    <el-card
    style="background: #F7F8FA"
      class="w-full width-100"
      v-loading="waiting"
      element-loading-text="Юкланмоқда.."
      element-loading-spinner="el-icon-loading"
    >
      <div class="mb-5">
        <div>
          <h2 class="plan-name">
            2021 йилда ташкил этилган <br> янги иш ўринлари статискаси
          </h2>
        </div>
      </div>


      <el-row style="display: inline-flex;">
<!-- left col -->
        <el-col :span="5" class="left_statistic">
          <div class="all_statistic ">
            <h4 class="employed_statistic"><b>Жами</b> доимий иш ўринлари билан таъминланадиганлар </h4>
            <h1>{{formatNumber(total_quarter.enst_positions_count)}}</h1>
          </div>
          <div class="all_statistic1">
            <div class="legal-entity d-flex">
              <div class="profile_icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="34" viewBox="0 0 34 35" fill="none">
                  <path d="M21.8654 17.4903C24.4016 15.7893 26.0671 12.8514 26.0671 9.52663C26.0671 4.30756 21.9031 0.0552368 16.7931 0.0552368C11.6829 0.0552368 7.51918 4.30756 7.51918 9.52663C7.51918 12.8899 9.26054 15.8667 11.8721 17.5677C5.13458 19.694 0.251287 25.918 0.0241699 33.4951C0.0241699 33.8818 0.175467 34.2682 0.402807 34.5389C0.667905 34.8097 1.00851 34.9642 1.4249 34.9642H32.5778C32.9565 34.9642 33.3348 34.8097 33.5999 34.5389C33.865 34.2682 33.9786 33.8818 33.9786 33.4951C33.6754 25.802 28.679 19.5393 21.8656 17.4903H21.8654ZM16.7551 2.91599C20.3511 2.91599 23.2658 5.89278 23.2658 9.52677C23.2658 13.1608 20.3511 16.1761 16.7551 16.1761C13.1592 16.1761 10.2824 13.1993 10.2824 9.52677C10.2824 5.85426 13.235 2.91599 16.7551 2.91599ZM2.93884 32.0647C3.84738 25.4928 8.99544 20.3897 15.4303 19.6939L15.7331 21.5494L14.484 29.0879L17.0959 31.7166L19.7078 29.0879L18.4587 21.5494L18.7615 19.7325C25.1207 20.5445 30.1174 25.6087 30.988 32.1033L2.93884 32.0647Z" fill="#3D8193"/>
                </svg>
              </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 53 53" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M32.7076 23.349C30.3196 23.349 28.3519 25.307 28.3519 27.7054C28.3519 28.2929 28.4546 28.8457 28.6713 29.3578L24.1091 33.2072C23.3719 32.6536 22.4692 32.3057 21.4806 32.3057C19.0519 32.3057 17.0684 34.3052 17.0684 36.7188C17.0684 36.9405 17.0918 37.1437 17.125 37.357L9.953 41.3379C9.13955 40.4344 7.96271 39.8733 6.66732 39.8733C4.2496 39.8733 2.25513 41.8354 2.25513 44.2486C2.25513 46.647 4.23866 48.6238 6.66732 48.6238C9.08086 48.6238 11.0795 46.6579 11.0795 44.2486C11.0795 43.9912 11.0477 43.7423 11.0045 43.4975L18.1202 39.5543C18.9308 40.4998 20.1394 41.0941 21.4809 41.0941C23.9096 41.0941 25.8931 39.1172 25.8931 36.7188C25.8931 36.1518 25.7917 35.604 25.5926 35.104L30.1926 31.217C30.9084 31.7262 31.7713 32.0246 32.7083 32.0246C33.4204 32.0246 34.1006 31.8578 34.6986 31.5552L42.1899 39.5171C41.8986 40.1005 41.7393 40.7618 41.7393 41.4512C41.7393 43.8643 43.7334 45.8265 46.1515 45.8265C48.5542 45.8265 50.5637 43.8751 50.5637 41.4512C50.5637 39.0418 48.5651 37.057 46.1515 37.057C45.2953 37.057 44.5016 37.3277 43.8235 37.7519L36.4638 29.9027C36.8599 29.2531 37.1021 28.5146 37.1021 27.7058C37.1021 25.3074 35.1114 23.3494 32.7088 23.3494L32.7076 23.349ZM32.7076 25.7524C33.8245 25.7524 34.6979 26.6195 34.6979 27.7054C34.6979 28.7585 33.8249 29.6207 32.7076 29.6207C31.623 29.6207 30.7551 28.7586 30.7551 27.7054C30.7551 26.6195 31.623 25.7524 32.7076 25.7524ZM21.48 34.7096C22.619 34.7096 23.4887 35.6006 23.4887 36.7188C23.4887 37.8047 22.6187 38.6906 21.48 38.6906C20.3413 38.6906 19.4712 37.8047 19.4712 36.7188C19.4712 35.6007 20.3413 34.7096 21.48 34.7096ZM46.1507 39.4604C47.2571 39.4604 48.1599 40.3761 48.1599 41.4511C48.1599 42.5584 47.2681 43.423 46.1507 43.423C45.0011 43.423 44.1415 42.5693 44.1415 41.4511C44.1499 40.3075 44.9751 39.4785 46.1507 39.4604ZM6.66679 42.2772C7.78408 42.2772 8.67597 43.1417 8.67597 44.249C8.67597 45.324 7.77324 46.2208 6.66679 46.2208C5.52815 46.2208 4.65805 45.3349 4.65805 44.249C4.65805 43.1308 5.5176 42.2772 6.66679 42.2772Z" fill="#C2D1D5"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M32.7077 0.0645839C30.3197 0.0645839 28.3521 2.02258 28.3521 4.42099C28.3521 5.24325 28.5842 5.99887 28.9903 6.65557L23.5833 12.8145C22.9584 12.475 22.2393 12.2701 21.4802 12.2701C20.3277 12.2701 19.283 12.7278 18.4951 13.4532L10.7783 8.42075C10.961 7.94215 11.0788 7.42289 11.0788 6.88096C11.0788 4.45691 9.06929 2.50567 6.66659 2.50567C4.24887 2.50567 2.25439 4.46742 2.25439 6.88096C2.25439 9.29407 4.24844 11.2751 6.66659 11.2751C7.66654 11.2751 8.60442 10.9252 9.35124 10.3548L17.2369 15.5C17.1325 15.8709 17.068 16.2623 17.068 16.6643C17.068 19.0774 19.062 21.0396 21.4802 21.0396C23.8983 21.0396 25.8924 19.0778 25.8924 16.6643C25.8924 15.876 25.6845 15.1288 25.3103 14.4858L30.7551 8.27022C31.346 8.56819 32.0061 8.7396 32.7076 8.7396C33.4196 8.7396 34.0999 8.5728 34.6979 8.27022L42.1891 16.2321C41.8979 16.8155 41.7386 17.4769 41.7386 18.1662C41.7386 20.5793 43.7327 22.5415 46.1508 22.5415C48.5535 22.5415 50.563 20.5901 50.563 18.1662C50.563 15.7568 48.5644 13.7909 46.1508 13.7909C45.2946 13.7909 44.5008 14.0428 43.8228 14.4669L36.4623 6.61775C36.8584 5.96816 37.1006 5.22967 37.1006 4.42083C37.1006 2.02242 35.1099 0.0644226 32.7073 0.0644226L32.7077 0.0645839ZM32.7077 2.46804C33.8246 2.46804 34.698 3.33513 34.698 4.42099C34.698 5.47417 33.825 6.33628 32.7077 6.33628C31.6232 6.33628 30.7552 5.47421 30.7552 4.42099C30.7552 3.33513 31.6231 2.46804 32.7077 2.46804ZM6.66691 4.90926C7.7842 4.90926 8.67608 5.77384 8.67608 6.88109C8.67608 7.9883 7.78426 8.85293 6.66691 8.85293C5.51733 8.85293 4.65817 7.99924 4.65817 6.88109C4.65817 5.76294 5.51772 4.90926 6.66691 4.90926ZM21.4801 14.6737C22.7236 14.7135 23.4871 15.4981 23.4888 16.664C23.4888 17.7821 22.6293 18.6358 21.4801 18.6358C20.3305 18.6358 19.4713 17.7821 19.4713 16.664C19.4713 15.5781 20.3414 14.6737 21.4801 14.6737ZM46.1508 16.1946C47.2572 16.1946 48.16 17.0915 48.16 18.1664C48.16 19.2736 47.2682 20.1383 46.1508 20.1383C45.0013 20.1383 44.1417 19.2846 44.1417 18.1664C44.1676 17.0731 44.9685 16.2113 46.1508 16.1946Z" fill="#C2D1D5"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M1.26597 50.5324C0.602125 50.5324 0.0644531 51.0705 0.0644531 51.7343C0.0644531 52.3982 0.602146 52.9363 1.26597 52.9363H51.734C52.3978 52.9363 52.9355 52.3982 52.9355 51.7343C52.9355 51.0705 52.3978 50.5324 51.734 50.5324H1.26597Z" fill="#C2D1D5"/>
                </svg>
            </div>
            <h6 class="legal_title">2022 йилда юридик шахсларда янгидан бандлик билан таъминланадиганлар </h6>
            <h1 class="mb-3 number_info">649 236</h1>
            <ul class="vacancy_statistic">
              <li class="new-workplace">
                <p>Янги иш ўринларини яратиш ҳисобига</p>
                <b>410 555</b>
              </li>
              <li class="new-workplace">
                <p>Вакансияларни тўлдириш ҳисобига</p>
                <b>410 555</b>
              </li>
            </ul>
          </div>
          <div class="all_statistic2">
            <div class="legal-entity d-flex">
              <div class="profile_icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="41" height="35" viewBox="0 0 41 35" fill="none">
                  <g clip-path="url(#clip0_6378_11429)">
                  <path d="M36.2103 7.29167H31.8651V4.375C31.8651 3.2145 31.4073 2.10192 30.5925 1.28125C29.7775 0.460933 28.6724 0 27.5198 0H13.0357C11.8831 0 10.7781 0.460933 9.96301 1.28125C9.14827 2.10189 8.69048 3.2145 8.69048 4.375V7.29167H4.34524C3.19263 7.29167 2.08762 7.7526 1.27253 8.57292C0.457798 9.39356 0 10.5062 0 11.6667V30.625C0 31.7855 0.457798 32.8981 1.27253 33.7188C2.08759 34.5391 3.19263 35 4.34524 35H36.2103C37.3629 35 38.4679 34.5391 39.283 33.7188C40.0978 32.8981 40.5556 31.7855 40.5556 30.625V11.6667C40.5556 10.5062 40.0978 9.39358 39.283 8.57292C38.468 7.7526 37.3629 7.29167 36.2103 7.29167ZM11.5873 4.375C11.5873 3.98828 11.7399 3.61718 12.0115 3.34375C12.2831 3.07032 12.6516 2.91667 13.0357 2.91667H27.5198C27.9039 2.91667 28.2725 3.07032 28.5441 3.34375C28.8157 3.61718 28.9683 3.98828 28.9683 4.375V7.29167H11.5873V4.375ZM2.89683 11.6667C2.89683 11.28 3.04943 10.9089 3.321 10.6354C3.59258 10.362 3.96115 10.2083 4.34524 10.2083H36.2103C36.5944 10.2083 36.963 10.362 37.2346 10.6354C37.5061 10.9089 37.6587 11.28 37.6587 11.6667V13.125C37.6587 14.2855 37.2009 15.3981 36.3862 16.2188C35.5711 17.0391 34.4661 17.5 33.3135 17.5H24.623V14.5833C24.623 14.1966 24.4704 13.8255 24.1988 13.5521C23.9273 13.2787 23.5587 13.125 23.1746 13.125H17.381C16.9969 13.125 16.6283 13.2787 16.3567 13.5521C16.0851 13.8255 15.9325 14.1966 15.9325 14.5833V17.5H7.24206C6.08946 17.5 4.98444 17.0391 4.16936 16.2188C3.35462 15.3981 2.89683 14.2855 2.89683 13.125V11.6667ZM18.8294 18.9583V16.0417H21.7262V21.875H18.8294V18.9583ZM36.2103 32.0833H4.34524C3.96115 32.0833 3.59258 31.9297 3.321 31.6562C3.04943 31.3828 2.89683 31.0117 2.89683 30.625V18.9583C4.14643 19.9128 5.67372 20.4252 7.24206 20.4167H15.9325V23.3333C15.9325 23.7201 16.0851 24.0912 16.3567 24.3646C16.6283 24.638 16.9969 24.7917 17.381 24.7917H23.1746C23.5587 24.7917 23.9273 24.638 24.1988 24.3646C24.4704 24.0912 24.623 23.7201 24.623 23.3333V20.4167H33.3135C34.8818 20.4251 36.4091 19.9128 37.6587 18.9583V30.625C37.6587 31.0117 37.5061 31.3828 37.2346 31.6562C36.963 31.9297 36.5944 32.0833 36.2103 32.0833Z" fill="#9F7662"/>
                  </g>
                  <defs>
                  <clipPath id="clip0_6378_11429">
                  <rect width="40.5556" height="35" fill="white"/>
                  </clipPath>
                  </defs>
                </svg>
              </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="53" viewBox="0 0 50 53" fill="none">
                  <g clip-path="url(#clip0_6378_11438)">
                  <path d="M42.6843 6.6167C33.8154 -2.18197 19.4881 -2.18197 10.681 6.6167C6.40138 10.8922 4.04443 16.5309 4.04443 22.603C4.04443 23.0988 4.4788 23.5323 4.97458 23.5323H26.3101L41.3814 38.5891C41.5675 38.775 41.8158 38.8368 42.0637 38.8368C42.3116 38.8368 42.5599 38.775 42.746 38.5891C51.4916 29.7287 51.4916 15.4152 42.6841 6.61652L42.6843 6.6167ZM42.002 36.6065L27.3028 21.9214C27.1168 21.7356 26.8685 21.6738 26.6206 21.6738L5.90527 21.6733C6.15317 16.4686 8.26221 11.6355 11.9833 7.91766C20.1081 -0.199302 33.2568 -0.199302 41.3197 7.91766C49.1965 15.787 49.4449 28.4272 42.0019 36.6063L42.002 36.6065Z" fill="#E0D3CD"/>
                  <path d="M28.9775 29.4189C28.6055 29.5429 28.4194 29.9146 28.4194 30.2863V51.9732C28.4194 52.2208 28.5436 52.4689 28.6673 52.6548C28.7915 52.8406 29.1017 52.9024 29.3496 52.9024C35.3657 52.9024 41.0717 50.5478 45.3512 46.2722C45.5373 46.0864 45.5991 45.8383 45.5991 45.5906C45.5991 45.343 45.475 45.0949 45.3512 44.909L29.9698 29.6674C29.7215 29.3575 29.3494 29.2957 28.9774 29.4193L28.9775 29.4189ZM30.2798 32.517L43.3664 45.5911C39.7691 48.8751 35.1793 50.7958 30.2798 50.9817V32.517Z" fill="#E0D3CD"/>
                  <path d="M6.83575 42.369L6.89761 42.4308C7.08365 42.5549 7.20781 42.6167 7.39385 42.6167C7.64174 42.6167 7.89008 42.5549 8.07611 42.369L23.3955 27.0643C23.5815 26.8785 23.6434 26.6304 23.6434 26.3827C23.6434 26.135 23.5192 25.8869 23.3955 25.7011C23.2713 25.5152 22.9611 25.4534 22.7132 25.4534H1.00559C0.50936 25.4534 0.0754395 25.8874 0.0754395 26.3827C0.0754395 32.393 2.43238 38.0936 6.712 42.369C6.77387 42.3068 6.77387 42.369 6.83574 42.369L6.83575 42.369ZM20.4806 27.2502L7.39394 40.3243C4.10678 36.7304 2.18422 32.145 1.99815 27.2502H20.4806Z" fill="#E0D3CD"/>
                  <path d="M25.5044 51.1057C26.0006 51.1057 26.4345 50.6718 26.4345 50.1765V28.4896C26.4345 28.1179 26.1866 27.7462 25.8764 27.6222C25.5044 27.4981 25.1323 27.5604 24.884 27.808L9.50254 43.1747C9.31651 43.3605 9.25464 43.6086 9.25464 43.8563C9.25464 44.104 9.3788 44.3521 9.50254 44.5379C13.7822 48.7516 19.4258 51.1058 25.5042 51.1058L25.5044 51.1057ZM24.5738 30.7201V49.1849C19.6743 48.999 15.0844 47.0783 11.4872 43.7943L24.5738 30.7201Z" fill="#E0D3CD"/>
                  </g>
                  <defs>
                  <clipPath id="clip0_6378_11438">
                  <rect width="49.396" height="53" fill="white"/>
                  </clipPath>
                  </defs>
                </svg>
            </div>
            <h6 class="subject_title">2022 йилда юридик шахсларда янгидан бандлик билан таъминланадиганлар </h6>
            <h1 class="subject_number">649 236</h1>
            <ul class="vacancy_statistic">
              <li class="newsubject-workplace">
                <p>ЯТТларда</p>
                <b>410 555</b>
              </li>
              <li class="newsubject-workplace">
                <p>Ер ажратиш</p>
                <b>410 555</b>
              </li>
            </ul>
            <ul class="vacancy_statistic">
             <li class="newsubject-workplace">
                <p>Ўзини ўзи <br> банд қилиш</p>
                <b>410 555</b>
              </li>
            </ul>
          </div>
        </el-col>
<!-- center-col -->
        <el-col :span="14">
          <div class="map-wrapper">
            <div class="center-icon-wrapper">
              <div class="map">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="671"
                  height="437"
                  viewBox="0 0 671 437"
                  fill="none"
                >
                  <path
                    v-for="(item_m, index) in svgs.map"
                    :key="'map_' + index"
                    :d="item_m.path_m"
                    :fill="
                      item_m.soato == active_region.soato
                        ? '#66C8FF'
                        : item_m.color
                    "
                    @click="setRegion(item_m)"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
            
          </div>
        </el-col>
<!-- right - col -->
        <div class="provinces">
          <el-col
            class="pro-info-list"
            style="width:100%"
            :span="5"
            v-if="active_region.soato && active_region.region_data"
          >
            <div class="right-items province-hr">
              <h2 class="provinces-name">
                {{ this.active_region.region_data.region_name }}
              </h2>            
            </div>
            <el-row style="display: flex;justify-content: center;">
              <el-col :span="14">
                <div class="active_region_map">
                  <svg
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    width="200"
                    height="200"
                    viewBox="0 0 255 247"
                  >
                    <path
                      :d="active_region.path_l"
                      :fill="active_region.color"
                      stroke="#FFF"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </el-col>
            </el-row>
            <div>
              <h3 class="provinces-count">
                1 215 123
              </h3>
              <div class="craftsmanship-list provinces-line">
                <div class="child_item_wrap">
                  <p><b>Жами</b> доимий иш ўринлари билан таъминланадиганлар </p>
                </div>
              </div>
              <h3 class="provinces-count mt-3" style="margin-top: 15px;">
                1 215 123
              </h3>
              <div class="right-items provinces-line">
                <p class="provinces-p title">
                  2022 йилда юридик шахсларда янгидан бандлик билан таъминланадиганлар 
                </p>
              </div>
              <div class="right-items pro-line">
                <div class="newTheWork-items">
                  <el-col :span="4">
                    <div class="img-round">
                      <img  src="@/assets/images/chair.svg">
                    </div>
                  </el-col>
                  <el-col :span="14">
                    <span class="child_item_val child-span">
                      Янги иш ўринларини яратиш ҳисобига
                    </span>
                  </el-col>
                  <el-col :span="8">
                    <div class="newTheWork-list">
                      <b>{{
                        formatNumber(
                          active_region.region_data.positions_count_p5
                        )
                      }}</b>
                    </div>
                  </el-col>
                </div>
                <div class="newTheWork-items">
                  <el-col :span="4">
                    <div class="img-round">
                      <img  src="@/assets/images/search.svg">
                    </div>
                  </el-col>
                  <el-col :span="14">
                    <span class="child_item_val child-span">
                      Вакансияларни тўлдириш ҳисобига
                    </span>
                  </el-col>
                  <el-col :span="8">
                    <div class="newTheWork-list">
                      <b>{{
                        formatNumber(
                          active_region.region_data.positions_count_p5
                        )
                      }}</b>
                    </div>
                  </el-col>
                </div>
              </div>
              <h3 class="provinces-count">
                1 215 123
              </h3>
              <div class="right-items provinces-line">
                <p class="provinces-p title">
                  2022 йилда юридик шахс бўлмаган тадбиркорлик субъектларда янгидан бандлик билан таъминланадиганлар
                </p>
              </div>
              <div class="right-items pro-line">
                <div class="newTheWork-items">
                  <el-col :span="4">
                    <div class="img-round">
                      <img  src="@/assets/images/rocket.svg">
                    </div>
                  </el-col>
                  <el-col :span="14">
                    <span class="child_item_val child-span">
                      ЯТТларда
                    </span>
                  </el-col>
                  <el-col :span="8">
                    <div class="newTheWork-list">
                      <b>{{
                        formatNumber(
                          active_region.region_data.positions_count_p5
                        )
                      }}</b>
                    </div>
                  </el-col>
                </div>                
                <div class="newTheWork-items">
                  <el-col :span="4">
                    <div class="img-round">
                      <img  src="@/assets/images/search.svg">
                    </div>
                  </el-col>
                  <el-col :span="14">
                    <span class="child_item_val child-span">
                      Ўзини ўзи банд қилиш
                    </span>
                  </el-col>
                  <el-col :span="8">
                    <div class="newTheWork-list">
                      <b>{{
                        formatNumber(
                          active_region.region_data.positions_count_p5
                        )
                      }}</b>
                    </div>
                  </el-col>
                </div>
                <div class="newTheWork-items">
                  <el-col :span="4">
                    <div class="img-round">
                      <img  src="@/assets/images/lands.svg">
                    </div>
                  </el-col>
                  <el-col :span="14">
                    <span class="child_item_val child-span">
                     Ер ажратиш
                    </span>
                  </el-col>
                  <el-col :span="8">
                    <div class="newTheWork-list">
                      <b>123 231</b>
                    </div>
                  </el-col>
                </div>
              </div>
            </div>
          </el-col>
        </div>
      </el-row>
    </el-card>
  </div>
</template>
<script>
import { regions } from "@/utils/regions";
import { svgs } from "@/utils/svg-list";
import { mapGetters, mapActions } from "vuex";
import reportBySoato from "@/mixins/model/models/report_by_soato";

export default {
  mixins: [reportBySoato],

  data() {
    return {
      active_region: {
        soato: null,
        path_l: null,
        region_data: null,
        color: null,
      },
      quarter_month_from: 1,
      quarter_month_to: 12,
    };
  },
  components: {},
  computed: {
    ...mapGetters({}),

    all_regions() {
      return regions;
    },
    svgs() {
      return svgs;
    },
  },

  created() {
    this.getQuarterReportPositions();
  },
  methods: {
    ...mapActions({}),
    setRegion(item) {
      this.active_region.soato = item.soato;
      this.active_region.path_l = item.path_l;
      this.active_region.color = item.color;
      this.quarter_data.forEach((element) => {
        if (element.soato == item.soato) {
          this.active_region.region_data = element;
        }
      });
      console.log(this.active_region);
    },
  },
};
</script>
<style scoped>
.plan-name {
  font-size: 30px;
  color: #3E3E75;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 25px;
}
.statistic-item {
  margin-top: 1em;
  margin-bottom: 2em;
  color: #3e3e75;
  /* justify-content: space-between; */
}
.statistic-item h2 {
  padding: 4px 14px;
}
.statistic-item p {
  padding: 0px 14px;
  width: 100%;
}
.statisticItem-plan {
  padding: 2px 14px;
}
.statistic-item {
  display: flex;
  align-items: start;
}
.statistic-list {
  margin-left: 80px;
  border-left: 1px solid;
}
.statistic-list span {
  color: #00b300;
  margin: 20px 15px;
  font-size: 22px;
}
.statistic-col-17 {
  margin-left: 25px;
}
.forse-number {
  color: #3a9efd;
}
.box-card {
  width: 370px;
}
.child_item_val {
  font-size: 13px;
}
.right-items {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  color: #3e3e75;
}
.right-items b {
  color: #1279d9;
}
.icon-1-wrapper {
  width: 70px;
  height: 70px;
  background: #8674fe;
  border-radius: 16px;
}

.icon-2-wrapper {
  width: 70px;
  height: 70px;
  background: #fdba6c;
  border-radius: 16px;
}
.map-wrapper {
  min-width: 100%;
}
.map {
  margin: 0 auto;
}
.center-icon-wrapper {
  margin: 30px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 770px;
  height: 770px;
  border-radius: 50%;
  background: white;
}
.icons-l {
  color: #66c8ff;
}
.info-items .item-1 {
  position: absolute;
  bottom: -5%;
  left: 22%;
}
.info-items {
  position: absolute;
  bottom: -5%;
  left: 47%;
}
.info-items .item-1 .el-col {
  margin-top: 0.5em;
}
.map svg path {
  cursor: pointer;
  transition: all 0.2s;
}
.map svg path:hover {
  fill: #66c8ff;
}
.skylineimg {
  padding: 20px;
  border-radius: 10px;
  background-color: #3a9efd;
  margin: 0px 15px 0px 0px;
}
.investment-items {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  list-style: none;
  margin: 15px 0;
}
.plan p,
.practice p {
  padding: 10px 0;
}
.plan span {
  color: #3e3e75;
  font-size: 28px;
}
.practice span {
  color: #3a9efd;
  font-size: 28px;
}
.practice-wrap {
  color: #3a9efd;
}
.investment-percent span {
  color: #00b300;
  font-size: 22px;
  text-align: end;
}
.investment-info {
  display: flex;
  justify-content: space-between;
}
.child_item_wrap {
  display: block;
  padding: 0;
}
.investment-infoItems {
  display: grid;
  width: auto;
}
.investment-infoItems1 {
  margin-left: 20px;
}
.percent,
.social-span {
  padding: 20px 0;
  font-size: 22px;
  color: #00b300;
}

.investment-infoItems span {
  padding: 5px 0;
}
.toEstablish-items,
.statistic-ToEstablish {
  display: flex;
  align-items: center;
}
.toEstablish {
  position: absolute;
  margin-left: 265px;
}
.socialInfrastructure,
.socialInfrastructure-info,
.info-social,
.busineslist,
.businessInfo,
.craftsmanship-list {
  display: flex;
}
.socialInfrastructure-info-list {
  width: 800px;
  display: flex;
  height: 184px;
}
.inf-items {
  margin: 50px;
}
.el-col-24,
.el-col-6 {
  width: auto;
}
.socialInfrastructure-info {
  margin-left: 30px;
}
.socialInfrastructure-list {
  width: 150px;
  padding: 0px 15px;
  border-left: 0.5px solid rgb(233, 232, 232);
}
.socialInfrastructure-p p {
  padding: 5px 0px;
}
.social-text {
  padding-left: 15px;
}
.socialInfrastructure-num {
  display: flex;
  align-items: center;
  padding: 30px 0;
}
.social-items {
  padding-right: 8px;
}
.social-items1 span {
  border-left: 0.5px solid rgb(233, 232, 232);
  padding-left: 10px;
}
.businessDevelopment {
  width: 300px;
  height: 304px;
  margin-left: 330px;
  margin-top: 110px;
}
.b-text {
  padding-left: 10px;
}
.craftsmanship {
  margin: 0px 20px;
  padding: 0px 10px;
  border-left: 0.5px solid rgb(233, 232, 232);
}

.bd-list {
  padding: 22px 0;
}

.provinces-name {
  color: #007EB2;
  padding-bottom: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 127.9%;
  font-size: 28px;
}
.provinces-p,
.child-span,
.child-span b,
.child-num,
.newTheWork-list p {
  color: #3E3E75;
}
.provinces-p {
  padding: 0px 0;
}
.child-span {
  font-size: 15px;
}
.child-span b {
  font-size: 18px;
}
.newTheWork-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
}
.newTheWork-list b {
  color: #1279D9;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  margin: 10px 0 ;
}
.img-round {
  /* border: 1px solid #1673FF;
  padding: 10px;
  border-radius: 50%; */
}
.newTheWork-list {
  padding: 0px 5px 0 5px;
  border-left: 0.7px solid #B4B4B4;
}
.province-hr {
  border-bottom: 1px solid white;
}
.provinces-hr {
  border-spacing: solid;
  background-color: white;
}
.provinces-line {
  display: flex;
  padding: 5px 0 7px 0;
  justify-content: space-between;
  border-bottom: 0.5px solid #4e8baf;
}
.provinces-count {
  color: #1279D9;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 47px;
}
.pro-line {
  border-bottom: 0.7px solid #B4B4B4;
}
.provinces-items {
  display: flex;

  justify-content: space-between;
  box-shadow: 0px 8px 15px -7px rgba(0, 0, 0, 0.25);
}
.child-span {
  width: 16%;
}
.pr-list {
  padding-left: 35px;
}
.title {
  color: #3E3E75;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}
.text-p {
  padding: 20px 0;
}
.pro-info-list {
  background-color: #FFFFFF;
  padding: 0px 20px;
  color: #3E3E75;
  height: 1155px;
  /* overflow-y: auto; */
  box-shadow: 0px 7px 30px rgba(45, 154, 255, 0.1);
  border-radius: 30px;
}
.sanoat {
  padding: 15px 0;
}

.legal-entity {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.legal_title {
  font-size: 20px;
  font-weight: 600;
  color: #2F7385;
  padding: 15px 0 0;
}
.subject_title {
  font-size: 20px;
  font-weight: 600;
  color: #9F7662;
  padding: 15px 0 0;
}
.all_statistic {
  background-color: #F4F2FF;
  border-radius: 22px;
  padding: 25px;
}
.all_statistic1 {
  background-color: #ECFBFF;
  border-radius: 22px;
  padding: 25px;
  margin-top: 25px;
}
.all_statistic2 {
  background-color: #FFF2EC;
  border-radius: 22px;
  padding: 25px;
  margin-top: 25px;
}
.employed_statistic {
  font-size: 19px;
  color: #5C5393;
  font-weight: 500;
  text-transform: uppercase;
}
.all_statistic h1 {
  font-size: 35px;
  color: #534A8A;
  padding: 15px 0 0;
}
.all_statistic1 h1 {
  font-size: 32px;
  color: #296D7F;
  padding: 15px 0 ;
}
.profile_icon {
  width: 54px;
  height: 54px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  background: #FAFFFF;
  box-shadow: 2px 4px 15px rgba(82, 161, 255, 0.15);
  border-radius: 16px;
}
.profile_icon svg {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  top: 7px;
  width: 35px;
}
.statistic_line {
  width: 100%;
  /* height: 1px; */
  color: #397C8D;
  border: .3px solid #397C8D;
}
.vacancy_statistic {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.new-workplace p {
  font-size: 16px;
  color: #478B9D;
  padding: 25px 0 10px;
}
.new-workplace b {
  font-size: 25px;
  color: #5094A6;
}
.newsubject-workplace p {
  font-size: 16px;
  color: #B08773;
  padding: 25px 0 10px;
  /* border-right: .6px solid #B08773; */
}
.newsubject-workplace b {
  font-size: 25px;
  color: #9F7662;
}
.subject_number {
  color: #9F7662;
  font-size: 32px;
  padding: 15px 0;
  border-bottom: .6px solid #9F7662;
}
.number_info {
  font-size: 32px;
  padding: 15px 0;
  border-bottom: .6px solid #397C8D;
}
.left_statistic  {
  background-color: white;
  padding: 20px;
  box-shadow: 0px 7px 20px rgba(45, 154, 255, 0.15);
  border-radius: 22px;
}
</style>
