<template>
  <div class="flex flex-col items-center" v-if="auth_user.type == 'admin'">
    <el-card class="w-full width-100 mb-10">
      <el-page-header @back="goBack" content="Янги лойиҳа яратиш">
      </el-page-header>
    </el-card>
    <el-card
      class="w-full width-100"
      v-loading="waiting"
      element-loading-text="Юкланмоқда.."
      element-loading-spinner="el-icon-loading"
    >
      <dir class="text-center mb-10">
        <span class="login-text"> Янги лойиҳа яратиш</span>
      </dir>
      <hr />
      <el-form
        :model="form"
        :rules="rules"
        ref="form"
        label-width="200px"
        class="mt-10"
        label-position="top"
      >
        <el-row :gutter="40">
          <el-col :span="8">
            <el-form-item label="Лойиҳа номи" prop="name" class="py-2">
              <el-input
                v-model="form.name"
                placeholder="Лойиҳа номи"
                size="medium"
              ></el-input> </el-form-item
          ></el-col>
          <el-col :span="8">
            <el-form-item label="Бош лойиҳа" prop="parent_id" class="py-2">
              <el-select
                v-model="form.parent_id"
                clearable
                placeholder="Бош лойиҳа	"
              >
                <el-option
                  v-for="item in items"
                  :key="item.name + 'm'"
                  :label="item.name"
                  :value="item.id"
                >
                </el-option>
              </el-select> </el-form-item
          ></el-col>
        </el-row>
      </el-form>
      <hr />
      <br />
      <el-row class="mt-6 mb-10 fl-right">
        <el-button type="primary" size="medium" @click="onSave"
          >Сақлаш</el-button
        >
        <router-link
          :to="{ name: 'ProjectIndex' }"
          class="el-button el-button--danger el-button--medium"
          >Бекор қилиш</router-link
        >
      </el-row>
    </el-card>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
import project from "@/mixins/model/models/project";
import form from "@/mixins/model/form";
export default {
  mixins: [form, project],
  components: {},
  computed: {
    ...mapGetters({
      auth_user: "auth/USER",
    }),
  },
  data() {
    return {
      model_name: "project",
    };
  },
  async created() {
    await this.resetModel({ model: this.model_name });
    await this.setForm();
  },
  methods: {
    ...mapActions({
      save: "project/store",
    }),
    goBack() {
      this.$router.push({ name: "ProjectIndex" });
    },
  },
};
</script>
<style>
.el-form-item__label {
  padding: 0 !important;
}
.el-select--medium {
  padding: 0 !important;
}
</style>
