<template>
  <div>
    <div style="overflow-x: scroll;">
      <div class="text-center mb-10">
        <div class="flex items-center " style="max-width: 450px;">
          <el-cascader
            style="width: 100%;"
            v-model="project_id"
            :options="all_projects"
            :props="{ checkStrictly: true }"
            :show-all-levels="false"
            @change="handleChangeProject"
          ></el-cascader>
          <!-- <el-select
            v-model="month"
            placeholder="Select"
            style="width: 250px;margin-left:2em"
          >
            <el-option
              v-for="item in months"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            >
            </el-option>
          </el-select> -->
        </div>
      </div>
      <template v-if="project_id < 12">
        <first-compare :data="data" :total="total"></first-compare>
      </template>
      <template v-else>
        <second-compare :data="data" :total="total"></second-compare>
      </template>
    </div>
  </div>
</template>
<script>
import firstCompare from "./companents/FirstCompare.vue";
import secondCompare from "./companents/SecondCompare.vue";
export default {
  data() {
    return {
      project_id: this.active_project,
    };
  },
  components: {
    firstCompare,
    secondCompare,
  },
  props: {
    data: { type: Array, required: true },
    total: { type: Array, required: true },
    all_projects: { type: Array, required: true },
    active_project: { type: Array, required: true },
  },
  created() {},
  methods: {
    handleChangeProject(value) {
      this.project_id = value[value.length - 1];
      this.$emit("projectChange", this.project_id);
    },
  },
};
</script>
