<template>
  <div>
    <div style="overflow-x: scroll;">
      <div class="text-center mb-10">
        <div class="flex items-center " style="max-width: 450px;">
          <!-- <el-select
            v-model="month"
            placeholder="Select"
            style="width: 250px;margin-left:2em"
          >
            <el-option
              v-for="item in months"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            >
            </el-option>
          </el-select> -->
        </div>
      </div>
      <template>
        <table
          id="reportTable"
          class="table-auto table-main"
          v-loading="waiting"
          element-loading-text="Юкланмоқда.."
          element-loading-spinner="el-icon-loading"
        >
          <thead>
            <tr class="text-gray-700  text-center font-bold bg-gray-200">
              <th class="bg-gray-200" rowspan="2">Т/р</th>
              <th class="bg-gray-200" rowspan="2">Худуд номи</th>
              <th class="bg-gray-200" rowspan="2">
                2022 йилда юридик шахсларда янгидан бандлик билан
                таъминланадиганлар*
              </th>
              <th class="bg-gray-200" colspan="2">шундан:</th>
              <th class="bg-gray-200" rowspan="2">
                2022 йилда юридик шахс бўлмаган тадбиркорлик субъектларда
                янгидан бандлик билан таъмин-ланадиганлар*
              </th>
              <th class="bg-gray-200" colspan="3">шу жумладан:</th>
              <th class="bg-gray-200" rowspan="2">
                Жами доимий иш ўринлари билан таъминланади-ганлар*
              </th>
            </tr>
            <tr class="text-gray-700  text-center font-bold bg-gray-200">
              <th>Янги иш ўринларини яратиш ҳисобига</th>
              <th>Вакансияларни тўлдириш ҳисобига</th>
              <th>ЯТТларда</th>
              <th>ўзини ўзи банд қилганлар ҳисобига</th>
              <th>Ер ажратиш</th>
            </tr>
            <tr class="text-gray-700  text-center font-bold bg-gray-200"></tr>
          </thead>
          <tbody>
            <tr v-if="total">
              <td class="bg-gray-200" colspan="2">
                <b>Жами</b>
              </td>
              <td class="font-bold">
                {{
                  formatNumber(
                    total.vacancies_count + total.current_year_emps_count
                  )
                }}
              </td>
              <td class="font-bold">
                {{ formatNumber(total.current_year_emps_count) }}
              </td>
              <td class="font-bold">
                {{ formatNumber(total.vacancies_count) }}
              </td>
              <td class="font-bold">
                {{
                  formatNumber(
                    total.self_emp_count +
                      total.yatt_emp_count +
                      total.area_count
                  )
                }}
              </td>
              <td class="font-bold">
                {{ formatNumber(total.yatt_emp_count) }}
              </td>
              <td class="font-bold">
                {{ formatNumber(total.self_emp_count) }}
              </td>
              <td class="font-bold">
                {{ formatNumber(total.area_count) }}
              </td>
              <td class="font-bold">
                {{
                  formatNumber(
                    total.vacancies_count +
                      total.current_year_emps_count +
                      total.self_emp_count +
                      total.yatt_emp_count +
                      total.area_count
                  )
                }}
              </td>
            </tr>

            <tr v-for="(item, index) in data" :key="'comp_full' + index">
              <td>{{ index + 1 }}</td>
              <td>
                <template v-if="item.soato && item.soato.length == 4">
                  <router-link
                    :to="{
                      name: 'FullByRegion',
                      params: { soato: item.soato },
                    }"
                  >
                    {{ item.region_name }}
                  </router-link>
                </template>
                <template v-else>
                  {{ item.region_name }}
                </template>
              </td>
              <td>
                {{
                  formatNumber(
                    item.vacancies_count + item.current_year_emps_count
                  )
                }}
              </td>
              <td>
                {{ formatNumber(item.current_year_emps_count) }}
              </td>
              <td>
                {{ formatNumber(item.vacancies_count) }}
              </td>
              <td>
                {{
                  formatNumber(
                    item.self_emp_count + item.yatt_emp_count + item.area_count
                  )
                }}
              </td>
              <td>
                {{ formatNumber(item.yatt_emp_count) }}
              </td>
              <td>
                {{ formatNumber(item.self_emp_count) }}
              </td>
              <td>
                {{ formatNumber(item.area_count) }}
              </td>
              <td>
                {{
                  formatNumber(
                    item.vacancies_count +
                      item.current_year_emps_count +
                      item.self_emp_count +
                      item.yatt_emp_count +
                      item.area_count
                  )
                }}
              </td>
            </tr>
          </tbody>
        </table>
      </template>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {};
  },
  components: {},
  props: {
    data: { type: Array, required: true },
    total: { type: Array, required: true },
  },
  created() {},
  methods: {
    handleChangeProject(value) {
      this.project_id = value[value.length - 1];
      this.$emit("projectChange", this.project_id);
    },
  },
};
</script>
