<template>
  <div>
    <div style="overflow-x: scroll;">
      <table id="reportTable" class="table-auto table-main">
        <thead>
          <tr class="text-gray-700  text-center font-bold bg-gray-200">
            <th class="bg-gray-200" rowspan="3">Т/р</th>
            <th class="bg-gray-200" rowspan="3">Худуд номи</th>
          </tr>
          <tr class="text-gray-700  text-center font-bold bg-gray-200">
            <th class="bg-gray-200" colspan="3">Жами</th>
            <th
              colspan="3"
              v-for="(column, index) in all_projects_sec"
              :key="index"
              class="border px-4 py-4"
            >
              <b v-if="column.is_parent">{{ column.name }}</b>
              <span v-else class="f-weight-4">{{ column.name }}</span>
            </th>
          </tr>
          <tr class="text-gray-700  text-center font-bold bg-gray-200">
            <!-- <th>Лойиха сони</th> -->
            <th>Иш урни сони (Режада)</th>
            <th>Иш урни сони (Aмалда)</th>
            <th>Фоизда (%)</th>
            <!-- <th>Лойиха сони</th> -->
            <th>Иш урни сони (Режада)</th>
            <th>Иш урни сони (Aмалда)</th>
            <th>Фоизда (%)</th>
            <!-- <th>Лойиха сони</th> -->
            <th>Иш урни сони (Режада)</th>
            <th>Иш урни сони (Aмалда)</th>
            <th>Фоизда (%)</th>
            <!-- <th>Лойиха сони</th> -->
            <th>Иш урни сони (Режада)</th>
            <th>Иш урни сони (Aмалда)</th>
            <th>Фоизда (%)</th>
            <!-- <th>Лойиха сони</th> -->
            <th>Иш урни сони (Режада)</th>
            <th>Иш урни сони (Aмалда)</th>
            <th>Фоизда (%)</th>
            <!-- <th>Лойиха сони</th> -->
            <th>Иш урни сони (Режада)</th>
            <th>Иш урни сони (Aмалда)</th>
            <th>Фоизда (%)</th>
            <!-- <th>Лойиха сони</th> -->
            <th>Иш урни сони (Режада)</th>
            <th>Иш урни сони (Aмалда)</th>
            <th>Фоизда (%)</th>
            <!-- <th>Лойиха сони</th> -->
            <th>Иш урни сони (Режада)</th>
            <th>Иш урни сони (Aмалда)</th>
            <th>Фоизда (%)</th>
            <!-- <th>Лойиха сони</th> -->
            <th>Иш урни сони (Режада)</th>
            <th>Иш урни сони (Aмалда)</th>
            <th>Фоизда (%)</th>
            <!-- <th>Лойиха сони</th> -->
            <th>Иш урни сони (Режада)</th>
            <th>Иш урни сони (Aмалда)</th>
            <th>Фоизда (%)</th>
            <!-- <th>Лойиха сони</th> -->
            <th>Иш урни сони (Режада)</th>
            <th>Иш урни сони (Aмалда)</th>
            <th>Фоизда (%)</th>
            <!-- <th>Лойиха сони</th> -->
            <th>Иш урни сони (Режада)</th>
            <th>Иш урни сони (Aмалда)</th>
            <th>Фоизда (%)</th>
            <!-- <th>Лойиха сони</th> -->
            <th>Иш урни сони (Режада)</th>
            <th>Иш урни сони (Aмалда)</th>
            <th>Фоизда (%)</th>
            <!-- <th>Лойиха сони</th> -->
            <th>Иш урни сони (Режада)</th>
            <th>Иш урни сони (Aмалда)</th>
            <th>Фоизда (%)</th>
          </tr>
        </thead>
        <tbody>
          <tr v-if="total">
            <td class="border px-4 py-4 bg-gray-200" colspan="2">
              <b>Жами</b>
            </td>
            <!-- <td class=" bg-gray-200">
              {{ total.projects_count ? total.projects_count : 0 }}
            </td> -->
            <td class=" bg-gray-200">
              {{ total.positions_count ? total.positions_count : 0 }}
            </td>
            <td class=" bg-gray-200">
              {{ total.enst_positions_count ? total.enst_positions_count : 0 }}
            </td>
            <td class=" bg-gray-200">
              {{
                getPercent(total.positions_count, total.enst_positions_count)
              }}
            </td>
            <template
              v-for="(itemP2, indexP) in all_projects_sec"
              :key="'pro' + indexP"
            >
              <!-- <td>
                {{
                  total[`projects_count_p${itemP2.id}`]
                    ? total[`projects_count_p${itemP2.id}`]
                    : 0
                }}
              </td> -->
              <td>
                {{
                  total[`positions_count_p${itemP2.id}`]
                    ? total[`positions_count_p${itemP2.id}`]
                    : 0
                }}
              </td>
              <td>
                {{
                  total[`enst_positions_count_p${itemP2.id}`]
                    ? total[`enst_positions_count_p${itemP2.id}`]
                    : 0
                }}
              </td>
              <td>
                {{
                  getPercent(
                    total[`positions_count_p${itemP2.id}`],
                    total[`enst_positions_count_p${itemP2.id}`]
                  )
                }}
              </td>
            </template>
          </tr>

          <tr v-for="(item, index) in data" :key="'reg_e' + index">
            <td>{{ index + 1 }}</td>
            <td>
              <router-link
                class="upper_text f-weight-b"
                v-if="item.soatocode.length < 5"
                :to="{
                  name: 'StatisticBySoato',
                  params: { soato: item.soatocode },
                }"
                >{{ item.region_name }}</router-link
              >
              <p v-else>{{ item.region_name }}</p>
            </td>
            <!-- <td>{{ item.projects_count ? item.projects_count : 0 }}</td> -->
            <td>{{ item.positions_count ? item.positions_count : 0 }}</td>
            <td>
              {{ item.enst_positions_count ? item.enst_positions_count : 0 }}
            </td>
            <td>
              {{ getPercent(item.positions_count, item.enst_positions_count) }}
            </td>
            <template
              v-for="(itemP, indexP) in all_projects_sec"
              :key="'pro' + indexP"
            >
              <!-- <td>
                {{
                  item[`projects_count_p${itemP.id}`]
                    ? item[`projects_count_p${itemP.id}`]
                    : 0
                }}
              </td> -->
              <td>
                {{
                  item[`positions_count_p${itemP.id}`]
                    ? item[`positions_count_p${itemP.id}`]
                    : 0
                }}
              </td>
              <td>
                {{
                  item[`enst_positions_count_p${itemP.id}`]
                    ? item[`enst_positions_count_p${itemP.id}`]
                    : 0
                }}
              </td>
              <td>
                {{
                  getPercent(
                    item[`positions_count_p${itemP.id}`],
                    item[`enst_positions_count_p${itemP.id}`]
                  )
                }}
              </td>
            </template>
          </tr>
        </tbody>
      </table>
      <br />
    </div>
    <chart
      :series="pieSeries"
      :type="'pie'"
      :chartOptions="pieChartOptions"
      style="width:600px"
    >
    </chart>
  </div>
</template>

<script>
import Chart from "@/components/Charts/chart";
import pieProject from "@/mixins/statistic/pie-project";

export default {
  props: {
    data: { type: Array, required: true },
    total: { type: Array, required: true },
    all_projects: { type: Array, required: true },
    all_regions: { type: Array, required: true },
  },
  components: { Chart },
  mixins: [pieProject],
  computed: {
    all_projects_sec() {
      let arr = [];
      this.all_projects.forEach((project) => {
        if (project.children) {
          project.children.forEach((ch_project) => {
            arr.push({
              id: ch_project.id,
              actual_soato: ch_project.actual_soato,
              name: ch_project.name,
              is_parent: true,
            });
            if (ch_project.children) {
              ch_project.children.forEach((ch2_project) => {
                arr.push({
                  id: ch2_project.id,
                  actual_soato: ch2_project.actual_soato,
                  name: ch2_project.name,
                  is_parent: false,
                });
              });
            }
          });
        }
      });
      return arr;
    },
  },
  methods: {},
};
</script>
