<template>
  <table id="reportTable" class="table-auto table-main">
    <thead>
      <tr class="text-gray-700  text-center font-bold bg-gray-200">
        <th>Кўрсаткичлар</th>
        <th>Жами янги иш ўринларини ташкил этиш</th>
        <th
          v-for="(column, index) in all_projects"
          :key="index"
          class="border px-4 py-4"
        >
          <b v-if="column.is_parent">{{ column.name }}</b>
          <span v-else class="f-weight-4">{{ column.name }}</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-if="total">
        <td class="border px-4 py-4 bg-gray-200">
          <b>Республика бўйича</b>
        </td>
        <td class="bg-gray-200">
          <b>{{ total.position_plan }}</b>
        </td>
        <td
          class=" bg-gray-200"
          v-for="(item, index) in all_projects"
          :key="'region2-' + index"
        >
          <b>{{ total[`p_${item.id}`] }}</b>
        </td>
      </tr>
      <tr
        v-for="(item, index) in data"
        :key="'region-' + index"
        style="font-size:14px"
        class="text-gray-700 text-xs text-center font-normal"
      >
        <td class="border px-4 py-4">
          <router-link
            class="upper_text f-weight-b"
            :to="{
              name: 'ReportByDistricts',
              params: { soato: item.soatocode },
            }"
            ><span class="link-text">{{ item.region_name }}</span></router-link
          >
        </td>
        <td class="bg-gray-200 bg-gray-200">
          <b>{{ item.position_plan }}</b>
        </td>
        <td
          v-for="(item2, index) in all_projects"
          :key="'project2-' + index"
          v-bind:class="{
            'bg-gray-200 main_column': item2.is_parent,
          }"
        >
          {{ item[`p_${item2.id}`] }}
        </td>
      </tr>
    </tbody>
  </table>
  
</template>

<script>
export default {
  props: {
    data: { type: Array, required: true },
    total: { type: Array, required: true },
    all_projects: { type: Array, required: true },
  },
};
</script>
