<template>
  <div class="container">
    <div class="text-center mt-200">
      <div>
        <div class="page-404">
          <img src="../assets/images/403.jpg" alt="" style="width:550px" />
        </div>
        <!-- <h1 class="big">404</h1> -->
        <br />
        <div class="not--found--404">
          <el-alert
            class="m-5 mb-10"
            center=""
            title="Ҳуқуқлар чекланган..."
            type="info"
            description="Сизда ушбу бўлим имкониятларидан фойдаланиш учун руҳсат йўқ. Рухсат олиш учун админга мурожат қилинг."
            show-icon
          >
          </el-alert>
          <router-link
            class="el-button el-button--primary"
            :to="{ name: 'Home' }"
          >
            <i class="el-icon-back"></i> Бош саҳифа</router-link
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "error-403",
};
</script>

<style scoped>
.mt-200 {
  margin-top: 150px;
}
.big {
  font-size: 70px;
}
</style>
