<template>
   <div class="flex flex-col items-center">
    <el-card
      class="w-full width-100"
      v-loading="waiting"
      element-loading-text="Юкланмоқда.."
      element-loading-spinner="el-icon-loading"
    >
      <div class="mb-5">
        <div class="flex items-center justify-between">
          <div>
            <span
              class="text-gray-700 text-2xl text-center font-bold py-4"
              style="font-size: 20px"
            >
              Ўзбекистон Республикасида </span
            ><span
              >2021 йил бошидан ташкил этилган янги иш ўринлари тўғрисида тезкор
              маълумот</span
            >
          </div>
        </div>
      </div>
      <br />
      <hr />
      <br />
      <el-row>
        <el-col :span="5">
          <el-row class="statistic-item">
            <el-col :span="7">
              <div class="icon-1-wrapper icon-w" v-html="svgs.case"></div>
            </el-col>
            <el-col :span="17"
              ><p>
                Жами яратилган янги иш ўринлари:
              </p>
              <h2>{{formatNumber(total_quarter.enst_positions_count)}}</h2>
            </el-col>
          </el-row>
          <el-row class="statistic-item">
            <el-col :span="7">
              <div class="icon-2-wrapper icon-w" v-html="svgs.profits"></div>
            </el-col>
            <el-col :span="17"
              ><p>
                Тармоқ инвестиция лойиҳаларни амалга ошириш:
              </p>
              <h2>{{formatNumber(total_quarter.enst_positions_count_p2)}}</h2>
            </el-col>
          </el-row>
          <el-card class="box-card statistic-item">
            <p>
              Ҳудудий инвестиция лойиҳаларини амалга ошириш
            </p>
            <h2>{{formatNumber(total_quarter.enst_positions_count_p3)}}</h2>
            <br>
            <el-row>
              <el-col :span="4">
                <div v-html="svgs.windmill"></div>
              </el-col>
              <el-col :span="8">
               <div class="child_item_wrap">
                  <span class="child_item_val">Cаноатда: <b>{{formatNumber(total_quarter.enst_positions_count_p4)}}</b></span>
               </div>
              </el-col>
              <el-col :span="4">
                <div v-html="svgs.agronomy"></div>
              </el-col>
              <el-col :span="8">
                <div >
                  <span class="child_item_val">қишлоқ хўжалигида: <b>{{formatNumber(total_quarter.enst_positions_count_p5)}}</b></span>
                </div>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="4">
                <div v-html="svgs.technical_support"></div>
              </el-col>
              <el-col :span="20">
               <div class="child_item_wrap">
                  <span class="child_item_val">Хизмат кўрсатиш ва бошқаларда: <b>{{formatNumber(total_quarter.enst_positions_count_p6)}}</b></span>
               </div>
              </el-col>
            </el-row>
          </el-card>
          <el-card class="box-card statistic-item">
            <p>
              Якка тартибдаги тадбиркорликни ривожлантириш 
            </p>
            <b>{{formatNumber(total_quarter.enst_positions_count_p14)}}</b>
            <br>
            <el-row>
              <el-col :span="6">
                <div v-html="svgs.tool_box"></div>
              </el-col>
              <el-col :span="18">
               <div class="child_item_wrap">
                  <span class="child_item_val">Ҳунармандчилик: <b>{{formatNumber(total_quarter.enst_positions_count_p15)}}</b></span>
               </div>
              </el-col>
            </el-row>
          </el-card>
        </el-col>
        <el-col :span="14">
          <div class="map-wrapper">
            <div class="center-icon-wrapper">
              <div class="map">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="671"
                  height="437"
                  viewBox="0 0 671 437"
                  fill="none"
                >
                  <path
                    v-for="(item_m, index) in svgs.map"
                    :key="'map_' + index"
                    :d="item_m.path_m"
                    :fill="
                      item_m.soato == active_region.soato
                        ? '#66C8FF'
                        : item_m.color
                    "
                    @click="setRegion(item_m)"
                    stroke="#FFF"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
            <div class="info-items">
              <el-card class="box-card statistic-item item-1">
                <p>
                   Ижтимоий инфра-тузилмани ривожлантириш
                </p>
                <b>{{formatNumber(total_quarter.enst_positions_count_p7)}}</b>
                  <el-row>
                  <el-col :span="7">
                    <div v-html="svgs.heartbeat"></div>
                  </el-col>
                  <el-col :span="10">
                    Соғлиқни сақлашда
                  </el-col>
                  <el-col :span="7"> | <b>{{formatNumber(total_quarter.enst_positions_count_p8)}}</b> </el-col>
                </el-row>
                <el-row>
                  <el-col :span="7">
                   <div v-html="svgs.abc">
                   </div>
                  </el-col>
                  <el-col :span="10">
                    мактабгача таълимда
                  </el-col>
                  <el-col :span="7"> | <b>{{formatNumber(total_quarter.enst_positions_count_p9)}}</b> </el-col>
                </el-row>
                <el-row>
                  <el-col :span="7">
                    <div v-html="svgs.book_read">
                    </div>
                  </el-col>
                  <el-col :span="10">
                    халқ таълимида
                  </el-col>
                  <el-col :span="7"> | <b>{{formatNumber(total_quarter.enst_positions_count_p10)}}</b> </el-col>
                </el-row>
                <el-row>
                  <el-col :span="7">
                                        <div v-html="svgs.grad_cap">

                  </el-col>
                  <el-col :span="10">
                    олий таълимда
                  </el-col>
                  <el-col :span="7"> | <b>{{formatNumber(total_quarter.enst_positions_count_p11)}}</b> </el-col>
                </el-row>
              
              </el-card>
              <el-card class="box-card statistic-item item-2">
                 <p>
             Янги кичик корхона ва микро-фирмалар ташкил этиш
            </p>
            <b>{{formatNumber(total_quarter.enst_positions_count_p13)}}</b>
            <br>
            <!-- <el-row>
              <el-col :span="4">
                <div v-html="svgs.windmill"></div>
              </el-col>
              <el-col :span="8">
               <div class="child_item_wrap">
                  <span class="child_item_val">Cаноатда: <b>100</b></span>
               </div>
              </el-col>
              <el-col :span="4">
                <div v-html="svgs.agronomy"></div>
              </el-col>
              <el-col :span="8">
                <div >
                  <span class="child_item_val">қишлоқ хўжалигида: <b>100</b></span>
                </div>
              </el-col>
            </el-row>
             <el-row>
              <el-col :span="4">
                <div v-html="svgs.technical_support"></div>
              </el-col>
              <el-col :span="20">
               <div class="child_item_wrap">
                  <span class="child_item_val">хизмат кўрсатишда: <b>100</b></span>
               </div>
              </el-col>
            </el-row> -->
              </el-card>
            </div>
          </div>
        </el-col>
        <el-col :span="5" v-if="active_region.soato && active_region.region_data">
          <div class="right-items">
            <h2>{{this.active_region.region_data.region_name}}</h2>
            <p>
              2021 йил бошидан ташкил этилган янги иш ўринлари тўғрисида тезкор
              маълумот
            </p>
          </div>
          <el-row>
            <el-col :span="14">
              <div class="active_region_map">
                <svg
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  width="200"
                  height="200"
                  viewBox="0 0 255 247"
                >
                  <path
                    :d="active_region.path_l"
                    :fill="active_region.color"
                    stroke="#FFF"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </el-col>
            <el-col :span="10"
              ><p>
                 Жами яратилган янги иш ўринлари:
              </p>
              <b>{{formatNumber(active_region.region_data.enst_positions_count)}}</b>
            </el-col>
          </el-row>
          <div class="right-items">
            <p>
             Тармоқ инвестиция лойиҳаларни амалга ошириш:
            </p>
            <b>{{formatNumber(active_region.region_data.enst_positions_count_p2)}}</b>
          </div>
          <hr />
          <div class="right-items">
            <p>
             Ҳудудий инвестиция лойиҳаларини амалга ошириш
            </p>
            <b>{{formatNumber(active_region.region_data.enst_positions_count_p3)}}</b>
            <br>
            <el-row>
              <el-col :span="4">
                <div v-html="svgs.windmill2"></div>
              </el-col>
              <el-col :span="8">
               <div class="child_item_wrap">
                  <span class="child_item_val">Cаноатда: <b>{{formatNumber(active_region.region_data.enst_positions_count_p4)}}</b></span>
               </div>
              </el-col>
              <el-col :span="4">
                <div v-html="svgs.agronomy2"></div>
              </el-col>
              <el-col :span="8">
                <div >
                  <span class="child_item_val">қишлоқ хўжалигида: <b>{{formatNumber(active_region.region_data.enst_positions_count_p5)}}</b></span>
                </div>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="4">
                <div v-html="svgs.technical_support"></div>
              </el-col>
              <el-col :span="20">
               <div class="child_item_wrap">
                  <span class="child_item_val">Хизмат кўрсатиш ва бошқаларда: <b>{{formatNumber(active_region.region_data.enst_positions_count_p6)}}</b></span>
               </div>
              </el-col>
            </el-row>
          </div>
          <hr />
          <div class="right-items">
            <p>
             Ижтимоий инфра-тузилмани ривожлантириш
            </p>
            <b>{{formatNumber(active_region.region_data.enst_positions_count_p7)}}</b>
            <br>
            <el-row>
              <el-col :span="4">
                <div v-html="svgs.heartbeat2"></div>
              </el-col>
              <el-col :span="8">
               <div class="child_item_wrap">
                  <span class="child_item_val">Соғлиқни сақлашда: <b>{{formatNumber(active_region.region_data.enst_positions_count_p8)}}</b></span>
               </div>
              </el-col>
              <el-col :span="4">
                <div v-html="svgs.abc2"></div>
              </el-col>
              <el-col :span="8">
                <div >
                  <span class="child_item_val">мактабгача таълимда: <b>{{formatNumber(active_region.region_data.enst_positions_count_p9)}}</b></span>
                </div>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="4">
                <div v-html="svgs.book_read2"></div>
              </el-col>
              <el-col :span="8">
               <div class="child_item_wrap">
                  <span class="child_item_val">халқ таълимида: <b>{{formatNumber(active_region.region_data.enst_positions_count_p10)}}</b></span>
               </div>
              </el-col>
              <el-col :span="4">
                <div v-html="svgs.technical_support2"></div>
              </el-col>
              <el-col :span="8">
                <div >
                  <span class="child_item_val">олий таълимда: <b>{{formatNumber(active_region.region_data.enst_positions_count_p11)}}</b></span>
                </div>
              </el-col>
            </el-row>
          </div>
          <hr />
          <div class="right-items">
            <p>
              Якка тартибдаги тадбиркорликни ривожлантириш 
            </p>
            <b>{{formatNumber(active_region.region_data.enst_positions_count_p14)}}</b>
            <br>
            <el-row>
              <el-col :span="6">
                <div v-html="svgs.tool_box"></div>
              </el-col>
              <el-col :span="18">
               <div class="child_item_wrap">
                  <span class="child_item_val">Ҳунармандчилик: <b>{{formatNumber(active_region.region_data.enst_positions_count_p15)}}</b></span>
               </div>
              </el-col>
            </el-row>
          </div>

          <hr/>
          <div class="right-items">
            <p>
             Янги кичик корхона ва микро-фирмалар ташкил этиш
            </p>
            <b>{{formatNumber(active_region.region_data.enst_positions_count_p13)}}</b>
            <br>
            <!-- <el-row>
              <el-col :span="4">
                <div v-html="svgs.windmill2"></div>
              </el-col>
              <el-col :span="8">
               <div class="child_item_wrap">
                  <span class="child_item_val">Cаноатда: <b>100</b></span>
               </div>
              </el-col>
              <el-col :span="4">
                <div v-html="svgs.agronomy2"></div>
              </el-col>
              <el-col :span="8">
                <div >
                  <span class="child_item_val">қишлоқ хўжалигида: <b>100</b></span>
                </div>
              </el-col>
            </el-row> -->
          </div>
        </el-col>
      </el-row>
    </el-card>
  </div>
</template>
<script>
import { regions } from "@/utils/regions";
import { svgs } from "@/utils/svg-list";
import { mapGetters, mapActions } from "vuex";
import reportBySoato from "@/mixins/model/models/report_by_soato";


export default {
  mixins: [reportBySoato],

  data() {
    return {
      active_region: {
        soato: null,
        path_l: null,
        region_data: null,
        color: null,
      },
      quarter_month_from: 1,
      quarter_month_to: 12,
    };
  },
  components: {},
  computed: {
    ...mapGetters({}),

    all_regions() {
      return regions;
    },
    svgs() {
      return svgs;
    },
  },

  created() {
  },
  methods: {
    ...mapActions({}),
    setRegion(item) {
      this.active_region.soato = item.soato;
      this.active_region.path_l = item.path_l;
      this.active_region.color = item.color;
      this.quarter_data.forEach(element => {
          if(element.soato == item.soato){
              this.active_region.region_data = element
          }
      });
      console.log(this.active_region)
    },
  },
};
</script>
<style scoped>
.statistic-item {
  margin-top: 4em;
  margin-bottom: 4em;
  color: #3e3e75;
  /* justify-content: space-between; */
}
.child_item_val{
      font-size: 13px;
}
.right-items {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  color: #3e3e75;
}
.right-items b {
  color: #1279d9;
}
.icon-1-wrapper {
  width: 70px;
  height: 70px;
  background: #8674fe;
  border-radius: 16px;
}

.icon-2-wrapper {
  width: 70px;
  height: 70px;
  background: #fdba6c;
  border-radius: 16px;
}
.map-wrapper {
  min-width: 100%;
}
.map {
  margin: 0 auto;
}
.center-icon-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background: linear-gradient(
    164.55deg,
    #f6f8fa 28.42%,
    rgba(227, 229, 234, 0.62) 56.09%,
    rgba(144, 146, 165, 0.2) 92.56%
  );
}
.icons-l {
  color: #66c8ff;
}
.info-items .item-1 {
  position: absolute;
  bottom: -5%;
  left: 22%;
}
.info-items .item-2 {
  position: absolute;
  bottom: -5%;
  left: 47%;
}
.info-items .item-1 .el-col {
  margin-top: 0.5em;
}
.map svg path {
  cursor: pointer;
  transition: all 0.2s;
}
.map svg path:hover {
  fill: #66c8ff;
}
.child_item_wrap{
  margin-top: 1em;

}
</style>
