<template>
  <div class="flex flex-col items-center">
    <el-card class="w-full width-100 mb-10">
      <el-page-header @back="goBack" content="Вилоят кесимида умумий">
      </el-page-header>
    </el-card>
    <el-card
      class="w-full width-100"
      v-loading="waiting"
      element-loading-text="Юкланмоқда.."
      element-loading-spinner="el-icon-loading"
    >
      <div class="text-center mb-10">
        <div class="flex items-center justify-between">
          <span class="login-text upper_text">
            <b>{{ region.name_uz_cl }}нинг Барча статистикалари</b>
          </span>
          <el-button
            type="primary"
            icon="el-icon-printer"
            @click="
              exportTable(region.name_uz_cl + 'нинг Барча статистикалари')
            "
            >Excelга юклаш
          </el-button>
        </div>
      </div>
      <div class="m-5">
        <div class="mb-0 mt-2 parent-table">
          <table id="reportTable" class="table-auto table-main">
            <thead>
              <tr class="text-gray-700  text-center font-bold bg-gray-200">
                <th>Кўрсаткичлар</th>
                <td class="bg-gray-200">{{ region.name_uz_cl }} бўйича</td>
                <th
                  v-for="(column, index) in data"
                  :key="index"
                  class="border px-4 py-4"
                >
                  <div class="py-4">
                    <span>{{ column.region_name }} </span>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="bg-gray-200">
                  <b>Жами янги иш ўринларини ташкил этиш</b>
                </td>
                <td class="bg-gray-200" v-if="total">
                  <b>{{ total.position_plan }}</b>
                </td>
                <td
                  class="bg-gray-200"
                  v-for="(item, index) in data"
                  :key="'region2-' + index"
                >
                  <b>{{ getVal(item, "position_plan") }}</b>
                </td>
              </tr>
              <tr
                v-for="(item, index) in all_projects"
                :key="'pr-' + index"
                style="font-size:14px"
                class="text-gray-700 text-xs text-center font-normal"
              >
                <td class="border px-4 py-4">
                  <a @click="reportRouterPush(item.id)" v-if="!item.is_parent"
                    ><span class="link-text">{{ item.name }}</span></a
                  >
                  <b v-else>{{ item.name }}</b>
                </td>
                <td class="bg-gray-200" v-if="total">
                  <b>{{ total[`p_${item.id}`] }} </b>
                </td>
                <td
                  v-for="(item2, index) in data"
                  :key="'region2-' + index"
                  v-bind:class="{ 'bg-gray-200 main_column': item.is_parent }"
                >
                  {{ item2[`p_${item.id}`] }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br />
      <br />
      <br />
      <div class="text-center mb-10">
        <div class="flex items-center ">
          <el-select
            v-model="project_id"
            placeholder="Select"
            style="width: 450px;"
          >
            <el-option
              v-for="item in all_projects"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            >
            </el-option>
          </el-select>
          <el-select
            v-model="month"
            placeholder="Select"
            style="width: 250px;margin-left:2em"
          >
            <el-option
              v-for="item in months"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            >
            </el-option>
          </el-select>
        </div>
      </div>
      <chart :series="series" :chartOptions="chartOptions"> </chart>
    </el-card>
  </div>
</template>
<script>
import { regions } from "@/utils/regions";
import { getValBySoato } from "@/utils";
import { mapGetters } from "vuex";
import reportBySoato from "@/mixins/model/models/report_by_soato";
import setProject from "@/mixins/model/models/set_projects";
import Chart from "@/components/Charts/chart";
import statistic from "@/mixins/statistic/main";
export default {
  data() {
    return {
      all_projects: [],
    };
  },
  components: {
    Chart,
  },
  mixins: [reportBySoato, setProject, statistic],
  computed: {
    ...mapGetters({
      projects: "project/ITEMS",
    }),
    region() {
      return regions.find((region) => region.soato == this.soato);
    },
  },

  created() {
    this.getReportData();
  },
  methods: {
    goBack() {
      this.$router.push({ name: "Dashboard" });
    },
    getVal(item, field) {
      return getValBySoato(this.data, item, field);
    },
    reportRouterPush(type_id) {
      switch (type_id) {
        case 2:
          this.$router.push({
            name: "ReportInvestment",
            params: { soato: this.soato },
          });
          break;
        case 3:
          this.$router.push({
            name: "ReportSecByDistricts",
            params: { soato: this.soato },
          });
          break;
        case 7:
          this.$router.push({
            name: "ReportSocial",
            params: { project_id: type_id, soato: this.soato },
          });
          break;
        case 13:
          break;
        case 14:
          this.$router.push({
            name: "ReportYatt",
            params: { soato: this.soato },
          });
          break;
        default:
          this.$router.push({
            name: "ReportSecByDistricts",
            params: { soato: this.soato },
          });
      }
    },
  },
};
</script>
