<template>
  <div class="flex flex-col items-center">
    <el-card class="w-full width-100 mb-10">
      <el-page-header @back="goBack" content="Вилоят кесимида умумий">
      </el-page-header>
    </el-card>
    <el-card class="w-full width-100">
      <dir class="text-center mb-10">
        <div class="flex items-center justify-between">
          <p class="login-text upper_text">
            <b>{{ region.name_uz_cl }}</b>
          </p>
          <span class="login-text"> МАЗИЛЛИ РЎЙХАТИ</span>
          <el-button
            type="primary"
            icon="el-icon-printer"
            @click="
              exportTable(region.name_uz_cl + 'нинг Барча статистикалари')
            "
            >Excelга юклаш
          </el-button>
        </div>
      </dir>
      <div class="flex items-center " style="max-width: 450px;">
        <el-cascader
          style="width: 100%;"
          v-model="project_id"
          :options="projects"
          :props="{ checkStrictly: true }"
          :show-all-levels="false"
          @change="handleChangeProject"
        ></el-cascader>
      </div>
      <div class="m-5">
        <div
          class="mb-0 mt-2 parent-table"
          style="max-height: 900px!important;"
        >
          <table
            id="reportTable"
            class="table-auto table-main"
            v-loading="waiting"
            element-loading-text="Юкланмоқда.."
            element-loading-spinner="el-icon-loading"
          >
            <thead>
              <tr class="text-gray-700  text-center font-bold bg-gray-200">
                <th class="bg-gray-200" rowspan="3">Т/р</th>
                <th class="bg-gray-200" rowspan="3">Худуд номи</th>
                <th class="bg-gray-200" rowspan="3">Туман номи</th>
                <th class="bg-gray-200" rowspan="3">СОАТО</th>
                <th class="bg-gray-200" rowspan="3">Корхона номи</th>
                <th class="bg-gray-200" rowspan="3">ИНН</th>
                <th class="bg-gray-200" rowspan="3">
                  ДХА рўйхатдан ўтган санаси
                </th>
                <th class="bg-gray-200" rowspan="3">
                  "ЯММТ" ИДАКдан рўйхатдан ўтган санаси
                </th>
                <th class="bg-gray-200" rowspan="3">
                  Ўтган йил декабрь ойидага жами иш ўринлари сони (ЕНСТ)
                </th>
                <th class="bg-gray-200" rowspan="3">
                  Ўтган йил декабрь ойидага жами иш ўринлари сони (ГНК)
                </th>
                <!-- <th class="bg-gray-200" rowspan="3">
                  Дастурдаги вазифани бажариш муддати
                </th> -->
                <th class="bg-gray-200" colspan="12">1-Чорак</th>
                <th class="bg-gray-200" colspan="12">2-Чорак</th>
                <th class="bg-gray-200" colspan="12">3-Чорак</th>
                <th class="bg-gray-200" colspan="12">4-Чорак</th>
              </tr>
              <tr class="text-gray-700  text-center font-bold bg-gray-200">
                <th colspan="4">Январь</th>
                <th colspan="4">Февраль</th>
                <th colspan="4">Март</th>
                <th colspan="4">Апрель</th>
                <th colspan="4">Май</th>
                <th colspan="4">Июнь</th>
                <th colspan="4">Июль</th>
                <th colspan="4">Августь</th>
                <th colspan="4">Сентябрь</th>
                <th colspan="4">Октябрь</th>
                <th colspan="4">Ноябрь</th>
                <th colspan="4">Декабрь</th>
              </tr>
              <tr class="text-gray-700  text-center font-bold bg-gray-200">
                <th>Иш урни сони (Режада)</th>
                <th>Иш урни сони (Aмалда ЕНСТ)</th>
                <th>% (ЕНСТ)</th>
                <th>Xодимлар сони (Aмалда) ГНК</th>
                <th>Иш урни сони (Режада)</th>
                <th>Иш урни сони (Aмалда ЕНСТ)</th>
                <th>% (ЕНСТ)</th>
                <th>Xодимлар сони (Aмалда) ГНК</th>
                <th>Иш урни сони (Режада)</th>
                <th>Иш урни сони (Aмалда ЕНСТ)</th>
                <th>% (ЕНСТ)</th>
                <th>Xодимлар сони (Aмалда) ГНК</th>
                <th>Иш урни сони (Режада)</th>
                <th>Иш урни сони (Aмалда ЕНСТ)</th>
                <th>% (ЕНСТ)</th>
                <th>Xодимлар сони (Aмалда) ГНК</th>
                <th>Иш урни сони (Режада)</th>
                <th>Иш урни сони (Aмалда ЕНСТ)</th>
                <th>% (ЕНСТ)</th>
                <th>Xодимлар сони (Aмалда) ГНК</th>
                <th>Иш урни сони (Режада)</th>
                <th>Иш урни сони (Aмалда ЕНСТ)</th>
                <th>% (ЕНСТ)</th>
                <th>Xодимлар сони (Aмалда) ГНК</th>
                <th>Иш урни сони (Режада)</th>
                <th>Иш урни сони (Aмалда ЕНСТ)</th>
                <th>% (ЕНСТ)</th>
                <th>Xодимлар сони (Aмалда) ГНК</th>
                <th>Иш урни сони (Режада)</th>
                <th>Иш урни сони (Aмалда ЕНСТ)</th>
                <th>% (ЕНСТ)</th>
                <th>Xодимлар сони (Aмалда) ГНК</th>
                <th>Иш урни сони (Режада)</th>
                <th>Иш урни сони (Aмалда ЕНСТ)</th>
                <th>% (ЕНСТ)</th>
                <th>Xодимлар сони (Aмалда) ГНК</th>
                <th>Иш урни сони (Режада)</th>
                <th>Иш урни сони (Aмалда ЕНСТ)</th>
                <th>% (ЕНСТ)</th>
                <th>Xодимлар сони (Aмалда) ГНК</th>
                <th>Иш урни сони (Режада)</th>
                <th>Иш урни сони (Aмалда ЕНСТ)</th>
                <th>% (ЕНСТ)</th>
                <th>Xодимлар сони (Aмалда) ГНК</th>
                <th>Иш урни сони (Режада)</th>
                <th>Иш урни сони (Aмалда ЕНСТ)</th>
                <th>% (ЕНСТ)</th>
                <th>Xодимлар сони (Aмалда) ГНК</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in data" :key="'comp' + index">
                <td>{{ index + 1 }}</td>
                <td>{{ region.name_uz_cl }}</td>
                <td>{{ item.region_name }}</td>
                <td>{{ item.soatocode }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.company_tin }}</td>
                <td>{{ item.reg_date }}</td>
                <td>{{ item.enst_reg_date }}</td>
                <td>{{ item.e_previous_december }}</td>
                <td>{{ item.g_previous_december }}</td>
                <td>{{ item.january }}</td>
                <td>
                  {{ item.e_january
                  }}<span v-if="item.e_january_news"
                    >(+{{ item.e_january_news }})</span
                  >
                </td>
                <td>
                  {{ getPercent(item.january, item.e_january_news) }}
                </td>
                <td>{{ item.g_january }}</td>
                <td>{{ item.february }}</td>
                <td>
                  {{ item.e_february }}
                  <span v-if="item.e_february_news"
                    >(+{{ item.e_february_news }})</span
                  >
                </td>
                <td>
                  {{ getPercent(item.february, item.e_february_news) }}
                </td>
                <td>{{ item.g_february }}</td>
                <td>{{ item.march }}</td>
                <td>
                  {{ item.e_march }}
                  <span v-if="item.e_march_news"
                    >(+{{ item.e_march_news }})</span
                  >
                </td>
                <td>
                  {{ getPercent(item.march, item.e_march_news) }}
                </td>

                <td>{{ item.g_march }}</td>
                <td>{{ item.april }}</td>

                <td>
                  {{ item.e_april }}
                  <span v-if="item.e_april_news"
                    >(+{{ item.e_april_news }})</span
                  >
                </td>
                <td>
                  {{ getPercent(item.april, item.e_april_news) }}
                </td>

                <td>{{ item.g_april }}</td>
                <td>{{ item.may }}</td>
                <td>
                  {{ item.e_may }}
                  <span v-if="item.e_may_news">(+{{ item.e_may_news }})</span>
                </td>
                <td>
                  {{ getPercent(item.may, item.e_may_news) }}
                </td>

                <td>{{ item.g_may }}</td>
                <td>{{ item.june }}</td>
                <td>
                  {{ item.e_june
                  }}<span v-if="item.e_june_news"
                    >(+{{ item.e_june_news }})</span
                  >
                </td>
                <td>
                  {{ getPercent(item.june, item.e_june_news) }}
                </td>

                <td>{{ item.g_june }}</td>
                <td>{{ item.july }}</td>
                <td>
                  {{ item.e_july }}
                  <span v-if="item.e_july_news">(+{{ item.e_july_news }})</span>
                </td>
                <td>
                  {{ getPercent(item.july, item.e_july_news) }}
                </td>

                <td>{{ item.g_july }}</td>
                <td>{{ item.august }}</td>
                <td>
                  {{ item.e_august }}
                  <span v-if="item.e_august_news"
                    >(+{{ item.e_august_news }})</span
                  >
                </td>
                <td>
                  {{ getPercent(item.august, item.e_august_news) }}
                </td>

                <td>{{ item.g_august }}</td>
                <td>{{ item.september }}</td>
                <td>
                  {{ item.e_september }}
                  <span v-if="item.e_september_news"
                    >(+{{ item.e_september_news }})</span
                  >
                </td>
                <td>
                  {{ getPercent(item.september, item.e_september_news) }}
                </td>

                <td>{{ item.g_september }}</td>
                <td>{{ item.october }}</td>
                <td>
                  {{ item.e_october }}
                  <span v-if="item.e_october_news"
                    >(+{{ item.e_october_news }})</span
                  >
                </td>
                <td>
                  {{ getPercent(item.october, item.e_october_news) }}
                </td>

                <td>{{ item.g_october }}</td>
                <td>{{ item.november }}</td>
                <td>
                  {{ item.e_november }}
                  <span v-if="item.e_november_news"
                    >(+{{ item.e_november_news }})</span
                  >
                </td>
                <td>
                  {{ getPercent(item.november, item.e_november_news) }}
                </td>

                <td>{{ item.g_november }}</td>
                <td>{{ item.december }}</td>
                <td>
                  {{ item.e_december }}
                  <span v-if="item.e_december_news"
                    >(+{{ item.e_december_news }})</span
                  >
                </td>
                <td>
                  {{ getPercent(item.december, item.e_december_news) }}
                </td>

                <td>{{ item.g_december }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </el-card>
  </div>
</template>
<script>
import byaddress from "@/mixins/model/models/byaddress";
import setProject from "@/mixins/model/models/set_projects";
import { mapGetters, mapActions } from "vuex";
export default {
  mixins: [byaddress, setProject],
  data() {
    return {
      project_id: 1,
    };
  },

  computed: {
    ...mapGetters({
      projects: "project/ITEMS",
    }),
    ...mapGetters({}),
  },
  created() {},
  methods: {},
};
</script>
