<template>
  <div class="flex flex-col items-center">
    <el-card class="w-full width-100 mb-10">
      <el-page-header @back="goBack" content="Вилоят кесимида умумий">
      </el-page-header>
    </el-card>
    <el-card
      class="w-full width-100"
      v-loading="waiting"
      element-loading-text="Юкланмоқда.."
      element-loading-spinner="el-icon-loading"
    >
      <div class="text-center mb-10">
        <div class="flex items-center justify-between">
          <span class="login-text upper_text">
            <b>{{ region.name_uz_cl }}нинг Барча статистикалари</b>
          </span>
          <el-button
            type="primary"
            icon="el-icon-printer"
            @click="
              exportTable(region.name_uz_cl + 'нинг Барча статистикалари')
            "
            >Excelга юклаш
          </el-button>
        </div>
      </div>
      <compareTab
        :data="quarter_data"
        :total="total_quarter"
        :all_projects="projects"
        :active_project="active_project"
        @projectChange="projectChange"
      />
    </el-card>
  </div>
</template>
<script>
import { regions } from "@/utils/regions";
import compareTab from "../dashboard/tabs/compare_tab.vue";
import reportBySoato from "@/mixins/model/models/report_by_soato";
import setProject from "@/mixins/model/models/set_projects";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      active_project: 1,
    };
  },
  components: {
    compareTab,
  },

  computed: {
    ...mapGetters({
      projects: "project/ITEMS",
    }),
    region() {
      return regions.find((region) => region.soato == this.soato);
    },
  },
  mixins: [reportBySoato, setProject],
  created() {
    this.getRegionReportPositionsFunc(this.active_project);
  },

  methods: {
    goBack() {
      this.$router.go(-1);
    },
  },
};
</script>
