<template>
  <div class="flex flex-col items-center">
    <el-card class="w-full width-100 mb-10">
      <el-page-header @back="goBack" content="Вилоят кесимида умумий">
      </el-page-header>
    </el-card>
    <el-card class="w-full width-100">
      <dir class="text-center mb-10">
        <div class="flex items-center justify-between">
          <span class="login-text upper_text">
            <b>{{ region.name_uz_cl }}нинг Барча статистикалари</b>
          </span>
          <el-button
            type="primary"
            icon="el-icon-printer"
            @click="
              exportTable(region.name_uz_cl + 'нинг Барча статистикалари')
            "
            >Excelга юклаш
          </el-button>
        </div>
      </dir>
      <div class="m-5">
        <div class="mb-0 mt-2 parent-table">
          <table
            id="reportTable"
            class="table-auto table-main"
            v-loading="waiting"
            element-loading-text="Юкланмоқда.."
            element-loading-spinner="el-icon-loading"
          >
            <thead>
              <tr class="text-gray-700  text-center font-bold bg-gray-200">
                <th rowspan="2">Т/р</th>
                <th class="border px-4 py-4" rowspan="2">
                  <span>Корхона номи</span>
                </th>
                <th class="border px-4 py-4" rowspan="2">
                  <span>СОАТО</span>
                </th>
                <th class="border px-4 py-4" rowspan="2">
                  <span>Туман ва шаҳарлар номи</span>
                </th>
                <th class="border px-4 py-4" rowspan="2">
                  <span>Корхона ИННСИ</span>
                </th>
                <th class="border px-4 py-4" rowspan="2">
                  <span>ДХА рўйхатдан ўтган санаси</span>
                </th>
                <th class="border px-4 py-4" rowspan="2">
                  <span>"ЯММТ" ИДАКдан рўйхатдан ўтган санаси</span>
                </th>
                <th class="border px-4 py-4" rowspan="2">
                  <span>Ишга тушириш муддати (ой)</span>
                </th>
                <th class="border px-4 py-4" rowspan="2">
                  <span>Ишлаб чиқариладиган маҳсулот номи</span>
                </th>
                <th class="border px-4 py-4" rowspan="2">
                  <span>Лойиҳа қуввати</span>
                </th>
                <th class="border px-4 py-4" colspan="2">
                  <span>Инвестициялар ҳажми</span>
                </th>
                <th class="border px-4 py-4" rowspan="2">
                  <span>Яратиладиган иш ўринлари</span>
                </th>
                <th class="border px-4 py-4" rowspan="2">
                  <span>Яратилган иш ўринлари (Aмалдаги)</span>
                </th>
              </tr>
              <tr class="text-gray-700  text-center font-bold bg-gray-200">
                <th class="border px-4 py-4">
                  <span>Жами</span>
                </th>
                <th class="border px-4 py-4">
                  <span>шундан 2021 йилда</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in data" :key="'pro' + index">
                <td>{{ index + 1 }}</td>
                <td>
                  {{ item.name }}
                </td>
                <td>{{ item.actual_soato }}</td>
                <td>{{ region.name_uz_cl }}</td>
                <td>{{ item.tin }}</td>
                <td>{{ item.reg_date }}</td>
                <td>{{ item.enst_reg_date }}</td>
                <td>{{ item.month }}</td>
                <td>{{ item.product_name }}</td>
                <td>{{ item.product_volume }}</td>
                <td>0</td>
                <td>0</td>
                <td>{{ item.positions_plan }}</td>
                <td>{{ item.persons }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </el-card>
  </div>
</template>
<script>
import { regions } from "@/utils/regions";
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      waiting: false,
      soato: this.$route.params.soato,
    };
  },
  computed: {
    ...mapGetters({
      data: "plan/RECORD_PLAN",
    }),
    region() {
      return regions.find((region) => region.soato == this.soato);
    },
  },

  created() {
    this.waiting = true;
    this.reportInvestmentBySoato({ soato: this.soato })
      .then(() => {
        this.waiting = false;
      })
      .catch(() => {
        this.waiting = false;
      });
  },
  methods: {
    ...mapActions({
      reportInvestmentBySoato: "plan/reportInvestmentBySoato",
    }),
    goBack() {
      this.$router.push({
        name: "ReportByDistricts",
        params: { soato: this.soato },
      });
    },
  },
};
</script>
