<template>
  <div class="flex flex-col items-center">
    <el-card class="w-full width-100 mb-10">
      <el-page-header @back="goBack" content="Вилоят кесимида умумий">
      </el-page-header>
    </el-card>
    <el-card class="w-full width-100">
      <dir class="text-center mb-10">
        <div class="flex items-center justify-between">
          <span class="login-text upper_text">
            <b>{{ region.name_uz_cl }}нинг Барча статистикалари</b>
          </span>
          <el-button
            type="primary"
            icon="el-icon-printer"
            @click="
              exportTable(region.name_uz_cl + 'нинг Барча статистикалари')
            "
            >Excelга юклаш
          </el-button>
        </div>
      </dir>
      <div class="m-5">
        <div class="mb-0 mt-2 parent-table">
          <table
            id="reportTable"
            class="table-auto table-main"
            v-loading="waiting"
            element-loading-text="Юкланмоқда.."
            element-loading-spinner="el-icon-loading"
          >
            <thead>
              <tr class="text-gray-700  text-center font-bold bg-gray-200">
                <th rowspan="2" width="50">№</th>
                <th rowspan="2">Ҳудудлар номи</th>
                <th rowspan="2">Жами</th>
                <!-- <th rowspan="2">
                  Ҳудудий инвестиция лойиҳаларини амалга ошириш
                </th> -->
                <th colspan="3">шундан йўналишлар бўйича:</th>
                <!-- <th rowspan="2">
                  Янги кичик корхона ва микрофирмалар ташкил этиш
                </th> -->
              </tr>

              <tr class="text-gray-700  text-center font-bold bg-gray-200">
                <th>
                  <router-link
                    :to="{
                      name: 'ReportByDirections',
                      params: { soato: this.soato, type_id: 4 },
                      query: { report_type_name: 'Саноат' },
                    }"
                    ><span class="link-text">Саноат</span></router-link
                  >
                </th>
                <th>
                  <router-link
                    :to="{
                      name: 'ReportByDirections',
                      params: { soato: this.soato, type_id: 5 },
                      query: { report_type_name: 'Қишлоқ хўжалиги' },
                    }"
                    ><span class="link-text">Қишлоқ хўжалиги</span></router-link
                  >
                </th>
                <th>
                  <router-link
                    :to="{
                      name: 'ReportByDirections',
                      params: { soato: this.soato, type_id: 6 },
                      query: {
                        report_type_name: 'Хизмат кўрсатиш ва бошқалар',
                      },
                    }"
                    ><span class="link-text"
                      >Хизмат кўрсатиш ва бошқалар</span
                    ></router-link
                  >
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="total">
                <td colspan="2" class="bg-gray-200">
                  <b>{{ region.name_uz_cl }} бўйича</b>
                </td>
                <td class="bg-gray-200">
                  <b>{{ total.p_3 }}</b>
                </td>
                <td class="bg-gray-200">
                  <b>{{ total.p_4 }}</b>
                </td>
                <td class="bg-gray-200">
                  <b>{{ total.p_5 }}</b>
                </td>
                <td class="bg-gray-200">
                  <b>{{ total.p_6 }}</b>
                </td>
              </tr>
              <tr
                v-for="(item, index) in data"
                :key="'region-' + index"
                style="font-size:14px"
                class="text-gray-700 text-xs text-center font-normal"
              >
                <td>
                  {{ index + 1 }}
                </td>
                <td class="border px-4 py-4">
                  <span class="upper_text">{{ item.region_name }}</span>
                </td>
                <td>{{ item.p_3 }}</td>
                <td>{{ item.p_4 }}</td>
                <td>{{ item.p_5 }}</td>
                <td>{{ item.p_6 }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </el-card>
  </div>
</template>
<script>
import { regions } from "@/utils/regions";
import { mapGetters } from "vuex";
import reportBySoato from "@/mixins/model/models/report_by_soato";
export default {
  mixins: [reportBySoato],
  data() {
    return {
      waiting: false,
    };
  },
  created() {
    this.getReportData();
  },
  computed: {
    ...mapGetters({}),
    region() {
      return regions.find((region) => region.soato == this.soato);
    },
  },
  methods: {
    goBack() {
      this.$router.push({
        name: "ReportByDistricts",
        params: { soato: this.soato },
      });
    },
  },
};
</script>
