<template>
  <div class="flex flex-col items-center">
    <el-card class="w-full width-100 mb-10">
      <el-page-header @back="goBack" content="Вилоят кесимида умумий">
      </el-page-header>
    </el-card>
    <el-card class="w-full width-100">
      <dir class="text-center mb-10">
        <div class="flex items-center justify-between">
          <span class="login-text upper_text">
            <b>{{ region.name_uz_cl }}нинг Барча статистикалари</b>
          </span>
          <el-button
            type="primary"
            icon="el-icon-printer"
            @click="
              exportTable(region.name_uz_cl + 'нинг Барча статистикалари')
            "
            >Excelга юклаш
          </el-button>
        </div>
      </dir>
      <div class="m-5">
        <div class="mb-0 mt-2 parent-table">
          <table
            id="reportTable"
            class="table-auto table-main"
            v-loading="waiting"
            element-loading-text="Юкланмоқда.."
            element-loading-spinner="el-icon-loading"
          >
            <thead>
              <tr class="text-gray-700  text-center font-bold bg-gray-200">
                <th>Кўрсаткичлар</th>
                <td class="bg-gray-200">{{ region.name_uz_cl }} бўйича</td>
                <th
                  v-for="(column, index) in data"
                  :key="index"
                  class="border px-4 py-4"
                >
                  <span class="upper_text">{{ column.region_name }}</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="total">
                <td class="bg-gray-200">
                  <b>Ижтимоий инфратузилмани ривожлантириш</b>
                </td>
                <td class="bg-gray-200">{{ total["p_7"] }}</td>
                <td
                  class="bg-gray-200"
                  v-for="(item, index) in data"
                  :key="'region2-' + index"
                >
                  <b>{{ getValBySoato(item, "p_7") }}</b>
                </td>
              </tr>
              <tr
                v-for="(item, index) in projects"
                :key="'pr-' + index"
                style="font-size:14px"
                class="text-gray-700 text-xs text-center font-normal"
              >
                <td class="border px-4 py-4">
                  <router-link
                    :to="{
                      name: 'ReportBySocial',
                      params: { soato: soato, type_id: item.id },
                      query: { report_type_name: item.name },
                    }"
                  >
                    <span class="upper_text link-text">{{ item.name }}</span>
                  </router-link>
                </td>
                <td class="bg-gray-200" v-if="total">
                  <b>{{ total["p_" + item.id] }} </b>
                </td>
                <td v-for="(item2, index) in data" :key="'region2-' + index">
                  {{ getValBySoato(item2, "p_" + item.id) }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </el-card>
  </div>
</template>
<script>
import { regions } from "@/utils/regions";
import { getValBySoato } from "@/utils";
import reportBySoato from "@/mixins/model/models/report_by_soato";

import { mapGetters } from "vuex";
export default {
  mixins: [reportBySoato],
  data() {
    return {
      project_id: this.$route.params.project_id,
    };
  },
  computed: {
    ...mapGetters({
      projects: "project/ITEMS",
    }),
    region() {
      return regions.find((region) => region.soato == this.soato);
    },
  },

  created() {
    this.waiting = true;
    this.getReportData();
    this.list({
      model: "project",
      action_name: "list",
      query: { parent_id: this.project_id },
    })
      .then(() => {
        this.waiting = false;
      })
      .catch(() => {
        this.waiting = false;
      });
  },
  methods: {
    getValBySoato(item, field) {
      return getValBySoato(this.data, item, field);
    },
    goBack() {
      this.$router.push({
        name: "ReportByDistricts",
        params: { soato: this.soato },
      });
    },
  },
};
</script>
