<template>
  <div class="flex flex-col items-center">
    <el-card class="w-full width-100 mb-10">
      <el-page-header @back="goBack" content="Вилоят кесимида умумий">
      </el-page-header>
    </el-card>
    <el-card
      class="w-full width-100"
      v-loading="waiting"
      element-loading-text="Юкланмоқда.."
      element-loading-spinner="el-icon-loading"
    >
      <div class="text-center mb-10">
        <el-button
          type="primary"
          style="float:right"
          icon="el-icon-printer"
          @click="exportTable(region.name_uz_cl + 'нинг Барча статистикалари')"
          >Excelга юклаш
        </el-button>
        <div class="flex items-center">
          <el-select
            v-model="quarter_month_from"
            placeholder="Select"
            style="width: 250px;margin-left:2em"
          >
            <el-option
              v-for="item in months"
              :key="item.id"
              :label="item.name"
              :value="item.id"
              :disabled="item.id > quarter_month_to"
            >
            </el-option>
          </el-select>
          <el-select
            v-model="quarter_month_to"
            placeholder="Select"
            style="width: 250px;margin-left:2em"
          >
            <el-option
              v-for="item in months"
              :key="item.id"
              :label="item.name"
              :value="item.id"
              :disabled="item.id < quarter_month_from"
            >
            </el-option>
          </el-select>
        </div>
        <span class="login-text upper_text">
          <b>{{ region.name_uz_cl }}нинг Барча статистикалари</b>
        </span>
      </div>
      <planTab
        :data="quarter_data"
        :all_projects="projects"
        :all_regions="all_regions"
        :total="total_quarter"
      />
    </el-card>
  </div>
</template>

<script>
import planTab from "../dashboard/tabs/plan_tab";
import reportBySoato from "@/mixins/model/models/report_by_soato";
import setProject from "@/mixins/model/models/set_projects";
import { regions } from "@/utils/regions";

import { mapGetters } from "vuex";
export default {
  mixins: [reportBySoato, setProject],
  data: () => ({
    waiting: false,
    quarter_month_from: 1,
    quarter_month_to: 12,
  }),
  computed: {
    ...mapGetters({
      months: "plan/MONTHS",
    }),
    region() {
      return regions.find((region) => region.soato == this.soato);
    },
  },
  components: {
    planTab,
  },
  created() {
    this.getQuarterReportPositions();
  },
  methods: {
    handleClick() {
      this.getQuarterReportPositions();
    },
    goBack() {
      this.$router.push({ name: "Dashboard" });
    },
  },
};
</script>
