<template>
  <div class="flex flex-col items-center">
    <el-card class="w-full width-100 mb-10">
      <el-page-header @back="goBack" content="Вилоят кесимида умумий">
      </el-page-header>
    </el-card>
    <el-card class="w-full width-100">
      <dir class="text-center mb-10">
        <div class="flex items-center justify-between">
          <span class="login-text">Бўш иш ўринлари ройҳати</span>
          <el-button
            type="primary"
            icon="el-icon-printer"
            @click="exportTable('ЭНСТ ва ГНК солиштирмаси')"
            >Excelга юклаш
          </el-button>
        </div>
      </dir>
      <div class="flex items-center " style="max-width: 450px;">
        <el-cascader
          :props="{ checkStrictly: true }"
          style="width: 100%;"
          v-model="soato"
          :options="all_regions"
          :show-all-levels="false"
          @change="handleChangeSoato"
        ></el-cascader>
      </div>
      <div class="m-5">
        <div
          class="mb-0 mt-2 parent-table"
          style="max-height: 900px!important;"
        >
          <table
            id="reportTable"
            class="table-auto table-main"
            v-loading="waiting"
            element-loading-text="Юкланмоқда.."
            element-loading-spinner="el-icon-loading"
          >
            <thead>
              <tr class="text-gray-700  text-center font-bold bg-gray-200">
                <th class="bg-gray-200" rowspan="3">Т/р</th>
                <th class="bg-gray-200" rowspan="3">Худуд номи</th>
                <th class="bg-gray-200" rowspan="3">СОАТО</th>
                <th class="bg-gray-200" rowspan="3">Корхона ИННси</th>
                <th class="bg-gray-200" rowspan="3">Корхона номи</th>
                <th class="bg-gray-200" rowspan="3">Бўш иш ўринлари сони</th>
              </tr>
            </thead>

            <tbody>
              <tr v-for="(item, index) in data" :key="'comp' + index">
                <td>{{ index + 1 }}</td>
                <td>{{ item.name_uz_cl }}</td>
                <td>{{ item.actual_soato }}</td>
                <td>{{ item.tin }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.vacancies_count }}</td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
      </div>
      <br />
      <pagination-index
        :pagination="filter"
        @c-change="updatePaginationFunction"
      ></pagination-index>
    </el-card>
  </div>
</template>
<script>
import { regions } from "@/utils/regions";
import { mapGetters, mapActions } from "vuex";
import PaginationIndex from "@/components/Includes/Pagination";
export default {
  data() {
    return {
      data: [],
      soato: this.$route.params.soato,
      waiting: false,
      filter: {
        page: 1,
        limit: 20,
        total: 0,
      },
    };
  },
  components: {
    PaginationIndex,
  },
  computed: {
    ...mapGetters({}),
    all_regions() {
      let data = [
        {
          value: "17",
          label: "Республика",
        },
      ];
      regions.forEach((element) => {
        let dataCh = [];
        element.under.forEach((elchild) => {
          dataCh.push({
            value: elchild.soato,
            label: elchild.name_uz_cl,
          });
        });

        data.push({
          value: element.soato,
          label: element.name_uz_cl,
          children: dataCh,
        });
      });
      return data;
    },
  },
  created() {
    this.setFilter();
  },
  watch: {
    $route(to, from) {
      this.soato = this.$route.params.soato;
      this.getList();
    },
  },
  methods: {
    ...mapActions({
      listAction: "plan/getCompaniesVacancyConut",
    }),
    setFilter() {
      this.filter.page = this.$route.query.page ? this.$route.query.page : 1;
      this.filter.limit = this.$route.query.limit
        ? this.$route.query.limit
        : 20;
      this.getList();
    },
    handleChangeSoato(value) {
      this.soato = value.soato = value[value.length - 1];
      this.$router.push({
        name: "WithVacanciesCount",
        params: { soato: this.soato },
        query: { limit: 20, page: 1 },
      });
    },
    updatePaginationFunction(data) {
      console.log("updatePaginationFunction", data);
      switch (data.key) {
        case "limit": {
          this.filter.limit = data.value;
          break;
        }
        case "page": {
          this.filter.page = data.value;
          break;
        }
      }
      this.$router.push({
        name: "WithVacanciesCount",
        params: { soato: this.soato },
        query: { limit: this.filter.limit, page: this.filter.page },
      });
    },
    goBack() {
      this.$route.push({ name: "Dashboard" });
    },
    getList() {
      this.waiting = true;
      this.filter.soato = this.soato;
      this.listAction(this.filter)
        .then((res) => {
          this.data = res.data.data;
          this.filter.total = res.data.total;
          this.waiting = false;
        })
        .catch(() => {
          this.waiting = false;
        });
    },
  },
};
</script>
