<template>
  <div class="flex flex-col items-center">
    <el-card class="w-full width-100 mb-10">
      <el-page-header @back="goBack" content="Вилоят кесимида умумий">
      </el-page-header>
    </el-card>
    <el-card class="w-full width-100">
      <dir class="text-center mb-10">
        <div class="flex items-center justify-between">
          <span class="login-text upper_text">
            <b>{{ region.name_uz_cl }}нинг Барча ЯТТ лар статистикалари</b>
          </span>
          <el-button
            type="primary"
            icon="el-icon-printer"
            @click="
              exportTable(
                region.name_uz_cl + 'нинг Барча ЯТТ лар статистикалари'
              )
            "
            >Excelга юклаш
          </el-button>
        </div>
      </dir>
      <div class="m-5">
        <div class="mb-0 mt-2 parent-table">
          <table
            id="reportTable"
            class="table-auto table-main"
            v-loading="waiting"
            element-loading-text="Юкланмоқда.."
            element-loading-spinner="el-icon-loading"
          >
            <thead>
              <tr class="text-gray-700  text-center font-bold bg-gray-200">
                <th width="50" rowspan="3">№</th>
                <th rowspan="3">Ҳудудлар номи</th>
                <th rowspan="3">
                  Жами ЯТТ лар сони
                </th>
                <th colspan="3">шундан:</th>
              </tr>
              <tr class="text-gray-700  text-center font-bold bg-gray-200">
                <th rowspan="2">
                  Янги яратилган ЯТТ лар сони
                </th>
                <th colspan="2">шундан:</th>
              </tr>
              <tr class="text-gray-700  text-center font-bold bg-gray-200">
                <th>Хунармандлар сони</th>
                <th>
                  Ишчилар сони
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="bg-gray-200" colspan="2">
                  <b>Жами</b>
                </td>
                <td class="bg-gray-200">{{ total.companies }}</td>
                <td class="bg-gray-200">{{ total.new_companies }}</td>
                <td class="bg-gray-200">0</td>
                <td class="bg-gray-200">{{ total.emploees }}</td>
              </tr>
              <tr
                v-for="(item, index) in data"
                :key="'region-' + index"
                style="font-size:14px"
                class="text-gray-700 text-xs text-center font-normal"
              >
                <td>
                  {{ index + 1 }}
                </td>
                <td class="border px-4 py-4">
                  <span class="upper_text">{{ item.region_name }}</span>
                </td>
                <td>{{ item.companies }}</td>
                <td>{{ item.new_companies }}</td>
                <td>0</td>
                <td>{{ item.emploees }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </el-card>
  </div>
</template>
<script>
import { regions } from "@/utils/regions";
import { getTotal } from "@/utils";
import { mapActions, mapGetters } from "vuex";
import reportYattBySoato from "@/mixins/model/models/report_yatt_by_soato";

export default {
  mixins: [reportYattBySoato],
  data() {
    return {
      total: {
        companies: 0,
        new_companies: 0,
        emploees: 0,
      },
    };
  },
  computed: {
    ...mapGetters({}),
    region() {
      return regions.find((region) => region.soato == this.soato);
    },
  },

  created() {},
  methods: {
    ...mapActions({}),
    goBack() {
      this.$router.push({
        name: "ReportByDistricts",
        params: { soato: this.soato },
      });
    },
    setTotal() {
      this.total.companies = getTotal(this.data, "companies");
      this.total.new_companies = getTotal(this.data, "new_companies");
      this.total.emploees = getTotal(this.data, "emploees");
    },
  },
};
</script>
