<template>
  <div class="flex flex-col items-center">
    <el-card class="w-full width-100 mb-10">
      <el-page-header @back="goBack" content="Янги корхона қўшиш">
      </el-page-header>
    </el-card>
    <el-card
      class="w-full width-100"
      v-loading="waiting"
      element-loading-text="Юкланмоқда.."
      element-loading-spinner="el-icon-loading"
    >
      <dir class="text-center mb-10">
        <span class="login-text">Янги корхонани янгилаш</span>
      </dir>

      <hr />
      <el-form
        :model="form"
        :rules="rules"
        ref="form"
        label-width="200px"
        class="mt-10"
        label-position="top"
      >
        <el-row :gutter="40" v-if="form.tin">
          <el-col :span="7">
            <i class="el-icon-office-building" style="font-size: 9em;"></i>
          </el-col>
          <el-col :span="14" style="margin-top: 4em;">
            <template>
              <b>ИНН</b> : {{ form.tin }} <br />
              <b>СОAТО</b> : {{ form.actual_soato }} <br />
              <b>Корхона номи</b> : {{ form.name }} <br />
            </template>
          </el-col>
        </el-row>
        <br />
        <hr />
        <br />
        <dir class="text-center mt-6 mb-10" v-show="form.tin">
          <el-form-item class="py-2">
            <p class="login-text">Лойиҳалар</p>
            <el-tree
              :data="projects"
              show-checkbox
              node-key="id"
              ref="tree"
              :default-expanded-keys="[]"
              :default-checked-keys="selected_projects"
              :props="defaultProps"
            >
            </el-tree>
          </el-form-item>
        </dir>
      </el-form>
      <!-- <method-component :form="form"></method-component> -->
      <el-row class="mt-6 mb-10 fl-right">
        <el-button type="primary" size="medium" @click="onSave"
          >Сақлаш</el-button
        >
        <router-link
          :to="{ name: 'CompanyIndex' }"
          class="el-button el-button--danger el-button--medium"
          >Бекор қилиш</router-link
        >
      </el-row>
    </el-card>
  </div>
</template>
<script>
import { mapActions } from "vuex";
import company from "@/mixins/model/models/company";
import form from "@/mixins/model/form";
export default {
  mixins: [company, form],
  components: {},
  data: () => ({}),
  async created() {
    await this.setForm();
    await this.loadItem();
  },
  methods: {
    ...mapActions({
      save: "company/update",
    }),
    goBack() {
      this.$router.push({ name: "CompanyIndex" });
    },
  },
};
</script>
<style>
.el-form-item__label {
  padding: 0 !important;
}
.el-select--medium {
  padding: 0 !important;
}
</style>
