<template>
  <div>
    <el-container>
      <app-sidebar :isCollapse="isCollapse" />
      <el-container>
        <el-header>
          <app-header @isCollapse="isCollapseCh" />
        </el-header>
        <el-main>
          <router-view></router-view>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>
<script>
import AppHeader from "@/components/AppHeader";
import AppSidebar from "@/components/AppSidebar";
import { mapGetters, mapActions } from "vuex";
export default {
  data: () => ({
    isCollapse: false,
  }),
  components: {
    AppHeader,
    AppSidebar,
  },

  created() {
    if (!this.auth_user) {
      this.getInfo();
    }
  },
  computed: {
    ...mapGetters({
      auth_user: "auth/USER",
    }),
  },
  methods: {
    ...mapActions({
      getInfo: "auth/getInfo",
    }),
    isCollapseCh(data) {
      this.isCollapse = data;
    },
  },
};
</script>
