<template>
  <div class="flex flex-col items-center">
    <el-card class="w-full width-100 mb-10">
      <el-page-header @back="goBack" content="Худудий режани ўзгартириш">
      </el-page-header>
    </el-card>
    <el-card
      class="w-full width-100"
      v-loading="waiting"
      element-loading-text="Юкланмоқда.."
      element-loading-spinner="el-icon-loading"
    >
      <dir class="text-center mb-10">
        <span class="login-text">Худудий режани ўзгартириш</span>
      </dir>
      <hr />
      <el-form
        :model="form"
        :rules="rules"
        ref="form"
        label-width="200px"
        class="mt-10"
        label-position="top"
      >
        <el-row :gutter="40">
          <el-col :span="8">
            <el-form-item label="Худуд" prop="soato" class="py-2">
              <el-select v-model="form.soato" clearable placeholder="Худуд">
                <el-option
                  v-for="item in all_regions"
                  :key="item + 'year'"
                  :label="item.name_uz_cl"
                  :value="item.soato"
                >
                </el-option>
              </el-select> </el-form-item
          ></el-col>
          <el-col :span="8">
            <el-form-item label="Лойиҳа" prop="name" class="py-2">
              <el-select
                v-model="form.project_id"
                clearable
                placeholder="Лойиҳа"
              >
                <el-option
                  v-for="item in projects"
                  :key="item + 'year'"
                  :label="item.name"
                  :value="item.id"
                >
                </el-option>
              </el-select> </el-form-item
          ></el-col>
          <el-col :span="8">
            <el-form-item label="Режа" prop="plan" class="py-2">
              <el-input
                v-model="form.plan"
                placeholder="Режа"
                size="medium"
              ></el-input> </el-form-item
          ></el-col>
          <el-col :span="8">
            <el-form-item label="Йил" prop="year" class="py-2">
              <el-select v-model="form.year" clearable placeholder="Йил">
                <el-option
                  v-for="item in years"
                  :key="item + 'year'"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select> </el-form-item
          ></el-col>
        </el-row>
      </el-form>
      <hr />
      <br />
      <el-row class="mt-6 mb-10 fl-right">
        <el-button type="primary" size="medium" @click="onSave"
          >Сақлаш</el-button
        >
        <router-link
          :to="{ name: 'ProductIndex' }"
          class="el-button el-button--danger el-button--medium"
          >Бекор қилиш</router-link
        >
      </el-row>
    </el-card>
  </div>
</template>
<script>
import { mapActions } from "vuex";
import region_plan from "@/mixins/model/models/region_plan";
import form from "@/mixins/model/form";
export default {
  mixins: [form, region_plan],
  components: {},
  data() {
    return {
      model_name: "region_plan",
    };
  },
  async created() {
    await this.setForm();
    await this.loadItem();
  },
  methods: {
    ...mapActions({
      save: "region_plan/update",
    }),
    goBack() {
      this.$router.push({ name: "RegionPlanIndex" });
    },
  },
};
</script>
<style>
.el-form-item__label {
  padding: 0 !important;
}
.el-select--medium {
  padding: 0 !important;
}
</style>
