<template>
  <div class="flex flex-col items-center">
    <el-card class="w-full width-100">
      <div class="mb-5">
        <div class="flex items-center justify-between">
          <span
            class="text-gray-700 text-2xl text-center font-bold py-4"
            style="font-size: 20px"
          >
            Барча режалар
          </span>
        </div>
        <p class="">Мавжуд маълумотларинг умумий сони: {{ data.length }}</p>
      </div>
      <div class="mb-0 mt-2 parent-table">
        <table
          class="table-auto table-main"
          v-loading="loadingData"
          element-loading-text="Юкланмоқда.."
          element-loading-spinner="el-icon-loading"
        >
          <thead>
            <tr class="text-gray-700  text-center font-bold bg-gray-200">
              <th class="border px-4 py-2">
                №
              </th>
              <th class="border px-4 py-2">
                Ҳудуд
              </th>
              <th class="border px-4 py-2">
                Корхона иннси
              </th>
              <th class="border px-4 py-2">
                Корхона номи
              </th>
              <th class="border px-4 py-2">
                Лойиҳа
              </th>
              <th class="border px-4 py-2">
                План
              </th>
              <th class="border px-4 py-2">
                Корхона статуси
              </th>
              <th class="border px-4 py-2">
                Корхона соатоси
              </th>
              <th class="border px-4 py-2">
                Рўйҳатга олинган сана
              </th>
            </tr>
          </thead>
          <tbody v-if="data && data.length">
            <tr
              v-for="(item, index) in data"
              :key="'client-' + index"
              style="font-size:14px"
              class="text-gray-700 text-xs text-center font-normal"
            >
              <td class="border px-4 py-2">
                {{ index + 1 }}
              </td>
              <td class="border px-4 py-2 ">
                {{ item.region }}
              </td>
              <td class="border px-4 py-2">
                {{ item.tin }}
              </td>
              <td class="border px-4 py-2">
                {{ item.company_name }}
              </td>
              <td class="border px-4 py-2 ">
                {{ item.project }}
              </td>
              <td class="border px-4 py-2 ">
                {{ item.positions_plan }}
              </td>
              <td class="border px-4 py-2 ">
                {{ item.status }}
              </td>

              <td class="border px-4 py-2 ">
                {{ item.soato }}
              </td>
              <td class="border px-4 py-2 ">
                {{ item.reg_date }}
              </td>
            </tr>
          </tbody>
          <div v-else class="center--item-postion py-2">
            <span align="center">Маълумот йўқ.</span>
          </div>
        </table>
        <br />
      </div>
    </el-card>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  components: {},

  data() {
    return {
      name: "Гнкда маълумотти ёқ корхоналар",
      data: [],
      loadingData: false,
    };
  },
  computed: {
    ...mapGetters({}),
  },
  created() {
    this.loadingData = true;
    this.list()
      .then((res) => {
        this.data = res.data;
        this.loadingData = false;
      })
      .catch(() => {
        this.loadingData = false;
      });
  },
  methods: {
    ...mapActions({
      list: "plan/hasNotInfoGnk",
    }),
  },
};
</script>
<style scoped>
.el-card__body a:hover {
  text-decoration: underline;
}
.el-icon-edit,
.el-icon-view {
  color: white;
}
</style>
