<template>
  <div>
    <el-menu
      :default-active="activeIndex"
      class="el-menu-demo"
      mode="horizontal"
    >
      <el-button type="text" @click="isCollapse = !isCollapse">
        <i v-if="!isCollapse" class="el-icon-s-fold colle-btn"></i>
        <i v-else class="el-icon-s-unfold colle-btn"></i>
      </el-button>
      <el-submenu style="float:right" index="2-41">
        <template slot="title" v-if="auth_user">{{ auth_user.name }}</template>
        <el-menu-item @click="logout" index="1"
          ><i class="el-icon-back"></i>Тизимдан чиқиш</el-menu-item
        >
        <template slot="title"
          ><i class="el-icon-user-solid" style="font-size: 2em;"></i
        ></template>
      </el-submenu>
    </el-menu>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "app-header",
  data() {
    return {
      isCollapse: false,
      activeIndex: "10",
      activeIndex2: "1",
    };
  },
  computed: {
    ...mapGetters({
      auth_user: "auth/user",
    }),
  },
  watch: {
    isCollapse: {
      handler: async function(newVal, oldVal) {
        this.$emit("isCollapse", newVal);
      },
      deep: true,
      immediate: true,
    },
  },
  methods: {
    ...mapActions({
      fetchLogout: "auth/logout",
    }),
    async logout() {
      await this.fetchLogout()
        .then(() => {
          this.$router.push({
            name: "Login",
          });
        })
        .catch(() => {
          this.$notify({
            title: "Error",
            message: "Tizimdan chiqishda xatolik mavjud .",
            type: "error",
          });
        });
    },
  },
};
</script>
