<template>
  <div class="flex flex-col items-center">
    <el-card class="w-full width-100 mb-10">
      <el-page-header @back="goBack" content="Вилоят кесимида умумий">
      </el-page-header>
    </el-card>
    <el-card class="w-full width-100">
      <dir class="text-center mb-10">
        <div class="flex items-center justify-between">
          <p class="login-text upper_text">
            <b>{{ region.name_uz_cl }}</b>
          </p>
          <span class="login-text"
            >{{ report_type_name }} <br />
            МАЗИЛЛИ РЎЙХАТИ</span
          >
          <el-button
            type="primary"
            icon="el-icon-printer"
            @click="
              exportTable(region.name_uz_cl + 'нинг Барча статистикалари')
            "
            >Excelга юклаш
          </el-button>
        </div>
      </dir>
      <el-select v-model="type_id" placeholder="Select" style="width: 250px;">
        <el-option
          v-for="item in types"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        >
        </el-option>
      </el-select>
      <div class="m-5">
        <div
          class="mb-0 mt-2 parent-table"
          style="max-height: 900px!important;"
        >
          <table
            id="reportTable"
            class="table-auto table-main"
            v-loading="waiting"
            element-loading-text="Юкланмоқда.."
            element-loading-spinner="el-icon-loading"
          >
            <thead>
              <tr class="text-gray-700  text-center font-bold bg-gray-200">
                <th class="bg-gray-200" rowspan="3">Т/р</th>
                <th class="bg-gray-200" rowspan="3">Худуд номи</th>
                <th class="bg-gray-200" rowspan="3">Туман номи</th>
                <th class="bg-gray-200" rowspan="3">СОАТО</th>
                <th class="bg-gray-200" rowspan="3">Корхона номи</th>
                <th class="bg-gray-200" rowspan="3">ИНН</th>
                <th class="bg-gray-200" colspan="12">1-Чорак</th>
                <th class="bg-gray-200" colspan="12">2-Чорак</th>
                <th class="bg-gray-200" colspan="12">3-Чорак</th>
                <th class="bg-gray-200" colspan="12">4-Чорак</th>
              </tr>
              <tr class="text-gray-700  text-center font-bold bg-gray-200">
                <th colspan="4">Январь</th>
                <th colspan="4">Февраль</th>
                <th colspan="4">Март</th>
                <th colspan="4">Апрель</th>
                <th colspan="4">Май</th>
                <th colspan="4">Июнь</th>
                <th colspan="4">Июль</th>
                <th colspan="4">Августь</th>
                <th colspan="4">Сентябрь</th>
                <th colspan="4">Октябрь</th>
                <th colspan="4">Ноябрь</th>
                <th colspan="4">Декабрь</th>
              </tr>
              <tr class="text-gray-700  text-center font-bold bg-gray-200">
                <th>Иш урни сони (Режада)</th>
                <th>Иш урни сони (Aмалда ЕНСТ)</th>
                <th>% (ЕНСТ)</th>
                <th>Xодимлар сони (Aмалда) ГНК</th>
                <th>Иш урни сони (Режада)</th>
                <th>Иш урни сони (Aмалда ЕНСТ)</th>
                <th>% (ЕНСТ)</th>
                <th>Xодимлар сони (Aмалда) ГНК</th>
                <th>Иш урни сони (Режада)</th>
                <th>Иш урни сони (Aмалда ЕНСТ)</th>
                <th>% (ЕНСТ)</th>
                <th>Xодимлар сони (Aмалда) ГНК</th>
                <th>Иш урни сони (Режада)</th>
                <th>Иш урни сони (Aмалда ЕНСТ)</th>
                <th>% (ЕНСТ)</th>
                <th>Xодимлар сони (Aмалда) ГНК</th>
                <th>Иш урни сони (Режада)</th>
                <th>Иш урни сони (Aмалда ЕНСТ)</th>
                <th>% (ЕНСТ)</th>
                <th>Xодимлар сони (Aмалда) ГНК</th>
                <th>Иш урни сони (Режада)</th>
                <th>Иш урни сони (Aмалда ЕНСТ)</th>
                <th>% (ЕНСТ)</th>
                <th>Xодимлар сони (Aмалда) ГНК</th>
                <th>Иш урни сони (Режада)</th>
                <th>Иш урни сони (Aмалда ЕНСТ)</th>
                <th>% (ЕНСТ)</th>
                <th>Xодимлар сони (Aмалда) ГНК</th>
                <th>Иш урни сони (Режада)</th>
                <th>Иш урни сони (Aмалда ЕНСТ)</th>
                <th>% (ЕНСТ)</th>
                <th>Xодимлар сони (Aмалда) ГНК</th>
                <th>Иш урни сони (Режада)</th>
                <th>Иш урни сони (Aмалда ЕНСТ)</th>
                <th>% (ЕНСТ)</th>
                <th>Xодимлар сони (Aмалда) ГНК</th>
                <th>Иш урни сони (Режада)</th>
                <th>Иш урни сони (Aмалда ЕНСТ)</th>
                <th>% (ЕНСТ)</th>
                <th>Xодимлар сони (Aмалда) ГНК</th>
                <th>Иш урни сони (Режада)</th>
                <th>Иш урни сони (Aмалда ЕНСТ)</th>
                <th>% (ЕНСТ)</th>
                <th>Xодимлар сони (Aмалда) ГНК</th>
                <th>Иш урни сони (Режада)</th>
                <th>Иш урни сони (Aмалда ЕНСТ)</th>
                <th>% (ЕНСТ)</th>
                <th>Xодимлар сони (Aмалда) ГНК</th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="total">
                <td class="bg-gray-200" colspan="2">
                  <b>Жами</b>
                </td>
                <td>{{ total.january_positions_plan }}</td>
                <td>{{ total.e_january }}</td>
                <td>
                  {{
                    getPercent(total.january_positions_plan, total.e_january)
                  }}
                </td>
                <td>{{ total.g_january }}</td>
                <td>{{ total.february_positions_plan }}</td>
                <td>{{ total.e_february }}</td>
                <td>
                  {{
                    getPercent(total.february_positions_plan, total.e_february)
                  }}
                </td>
                <td>{{ total.g_february }}</td>
                <td>{{ total.march_positions_plan }}</td>
                <td>{{ total.e_march }}</td>
                <td>
                  {{ getPercent(total.march_positions_plan, total.e_march) }}
                </td>
                <td>{{ total.g_march }}</td>
                <td>{{ total.april_positions_plan }}</td>
                <td>{{ total.e_april }}</td>
                <td>
                  {{ getPercent(total.april_positions_plan, total.e_april) }}
                </td>
                <td>{{ total.g_april }}</td>
                <td>{{ total.may_positions_plan }}</td>
                <td>{{ total.e_may }}</td>
                <td>
                  {{ getPercent(total.may_positions_plan, total.e_may) }}
                </td>
                <td>{{ total.g_may }}</td>
                <td>{{ total.june_positions_plan }}</td>
                <td>{{ total.e_june }}</td>
                <td>
                  {{ getPercent(total.june_positions_plan, total.e_june) }}
                </td>
                <td>{{ total.g_june }}</td>
                <td>{{ total.july_positions_plan }}</td>
                <td>{{ total.e_july }}</td>
                <td>
                  {{ getPercent(total.july_positions_plan, total.e_july) }}
                </td>
                <td>{{ total.g_july }}</td>
                <td>{{ total.august_positions_plan }}</td>
                <td>{{ total.e_august }}</td>
                <td>
                  {{ getPercent(total.august_positions_plan, total.e_august) }}
                </td>
                <td>{{ total.g_august }}</td>
                <td>{{ total.september_positions_plan }}</td>
                <td>{{ total.e_september }}</td>
                <td>
                  {{
                    getPercent(
                      total.september_positions_plan,
                      total.e_september
                    )
                  }}
                </td>
                <td>{{ total.g_september }}</td>
                <td>{{ total.october_positions_plan }}</td>
                <td>{{ total.e_october }}</td>
                <td>
                  {{
                    getPercent(total.october_positions_plan, total.e_october)
                  }}
                </td>
                <td>{{ total.g_october }}</td>
                <td>{{ total.november_positions_plan }}</td>
                <td>{{ total.e_november }}</td>
                <td>
                  {{
                    getPercent(total.november_positions_plan, total.e_november)
                  }}
                </td>
                <td>{{ total.g_november }}</td>
                <td>{{ total.december_positions_plan }}</td>
                <td>{{ total.e_december }}</td>
                <td>
                  {{
                    getPercent(total.december_positions_plan, total.e_december)
                  }}
                </td>
                <td>{{ total.g_december }}</td>
              </tr>

              <tr v-for="(item, index) in data" :key="'comp' + index">
                <td>{{ index + 1 }}</td>
                <td>{{ region.name_uz_cl }}</td>
                <td>{{ item.name_uz_cl }}</td>
                <td>{{ item.actual_soato }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.company_tin }}</td>
                <td>{{ item.january_positions_plan }}</td>
                <td>{{ item.e_january }}</td>
                <td>
                  {{ getPercent(item.january_positions_plan, item.e_january) }}
                </td>
                <td>{{ item.g_january }}</td>
                <td>{{ item.february_positions_plan }}</td>
                <td>{{ item.e_february }}</td>
                <td>
                  {{
                    getPercent(item.february_positions_plan, item.e_february)
                  }}
                </td>
                <td>{{ item.g_february }}</td>
                <td>{{ item.march_positions_plan }}</td>
                <td>{{ item.e_march }}</td>
                <td>
                  {{ getPercent(item.march_positions_plan, item.e_march) }}
                </td>

                <td>{{ item.g_march }}</td>
                <td>{{ item.april_positions_plan }}</td>
                <td>{{ item.e_april }}</td>
                <td>
                  {{ getPercent(item.april_positions_plan, item.e_april) }}
                </td>

                <td>{{ item.g_april }}</td>
                <td>{{ item.may_positions_plan }}</td>
                <td>{{ item.e_may }}</td>
                <td>
                  {{ getPercent(item.may_positions_plan, item.e_may) }}
                </td>

                <td>{{ item.g_may }}</td>
                <td>{{ item.june_positions_plan }}</td>
                <td>{{ item.e_june }}</td>
                <td>
                  {{ getPercent(item.june_positions_plan, item.e_june) }}
                </td>

                <td>{{ item.g_june }}</td>
                <td>{{ item.july_positions_plan }}</td>
                <td>{{ item.e_july }}</td>
                <td>
                  {{ getPercent(item.july_positions_plan, item.e_july) }}
                </td>

                <td>{{ item.g_july }}</td>
                <td>{{ item.august_positions_plan }}</td>
                <td>{{ item.e_august }}</td>
                <td>
                  {{ getPercent(item.august_positions_plan, item.e_august) }}
                </td>

                <td>{{ item.g_august }}</td>
                <td>{{ item.september_positions_plan }}</td>
                <td>{{ item.e_september }}</td>
                <td>
                  {{
                    getPercent(item.september_positions_plan, item.e_september)
                  }}
                </td>

                <td>{{ item.g_september }}</td>
                <td>{{ item.october_positions_plan }}</td>
                <td>{{ item.e_october }}</td>
                <td>
                  {{ getPercent(item.october_positions_plan, item.e_october) }}
                </td>

                <td>{{ item.g_october }}</td>
                <td>{{ item.november_positions_plan }}</td>
                <td>{{ item.e_november }}</td>
                <td>
                  {{
                    getPercent(item.november_positions_plan, item.e_november)
                  }}
                </td>

                <td>{{ item.g_november }}</td>
                <td>{{ item.december_positions_plan }}</td>
                <td>{{ item.e_december }}</td>
                <td>
                  {{
                    getPercent(item.december_positions_plan, item.e_december)
                  }}
                </td>

                <td>{{ item.g_december }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </el-card>
  </div>
</template>
<script>

import social from "@/mixins/model/models/social";
export default {
  mixins: [social],
};
</script>
