<template>
  <el-row v-loading="loading">
    <el-col :span="24">
      <el-card class="py-2" style="margin:10% auto">
        <dir class="text-center mb-10">
          <span class="login-text"> Жараён амалга ошмоқда кутинг </span>
          <div class="text-center">
            <i class="el-icon-loading"></i>
          </div>
        </dir>
      </el-card>
    </el-col>
  </el-row>
</template>
<script>
import { mapActions, mapGetters } from "vuex";

export default {
  data: () => ({
    loading: true,
  }),
  methods: {
    ...mapActions({
      loginViaOneId: "auth/loginViaOneId",
      currentUser: "auth/getInfo",
      apiLogin: "auth/apiLogin",
    }),
  },
  created() {
    let code = this.$route.query.code;
    if (!code) this.$router.push({ name: "Login" });
    this.loginViaOneId(code).then((result) => {
      if (result.error) this.$router.push({ name: "Login" });
      this.apiLogin(result["access_token"]).then((result) => {
        this.currentUser()
          .then((data) => {
            if (data["success"]) {
              this.$router.push({ name: "Dashboard" });
            } else {
              this.$notify.error({
                title: "Error",
                message: "Фойдаланувчи топилмади.",
              });
            }
          })
          .catch(() => {
            this.$notify.error({
              title: "Error",
              message: "Фойдаланувчи топилмади.",
            });
          });
      });
    });
  },
};
</script>
