<template>
  <div class="login-content-card content-card-mt-4">
    <el-row>
      <el-col :span="24">
        <el-card class="py-2" style="margin:10% auto">
          <dir class="text-center mb-10">
            <span class="login-text"
              ><i class="el-icon-user-solid"></i> Тизимга кириш
            </span>
          </dir>
          <div class="loginPageContent">
            <div class="loginPageHead text-center">
              <img src="/logo-mintrud.svg" alt="" />
            </div>
            <h3 class="text-center mb-5">Хизмат фойдаланувчиси учун кириш</h3>
            <br />
            <el-button
              icon="el-icon-d-arrow-right"
              class="width-100"
              type="primary"
              @click="loginViaOneDI"
              >ONE ID ОРҚAЛИ КИРИШ</el-button
            >
          </div>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>
<script>
import { mapActions } from "vuex";
export default {
  data: () => ({
    oneIdLink: process.env.VUE_APP_AUTH_ONEID_URL,
  }),
  methods: {
    ...mapActions({
      login: "auth/login",
    }),
    loginViaOneDI() {
      window.location = this.oneIdLink;
    },
  },
};
</script>
