<template>
  <div class="">
    <table-index
      v-if="auth_user && auth_user.type == 'admin'"
      :name="name"
      :data="data"
      :model_name="model_name"
      :pagination="pagination"
      :filter="filter"
      :links="links"
      :columns="columns"
    >
    </table-index>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  data: () => ({
    name: "Фойдаланувчилар",
    model_name: "user",
  }),
  computed: {
    ...mapGetters({
      filter: "user/FILTER",
      columns: "user/COLUMNS",
      links: "user/LINKS",
      data: "user/ITEMS",
      pagination: "user/PAGINATION",
      auth_user: "auth/USER",
    }),
  },
  methods: {},
};
</script>
