* {
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#app {
    max-height: 100vh;
    overflow: hidden;
}

.container {
    max-width: 1200;
    margin: auto;
}

.el-aside {
    background-color: rgb(48, 65, 86);
    color: rgb(191, 203, 217);
    min-height: 100vh;
}

.vld-overlay.is-full-page {
    z-index: 9999;
    position: fixed;
}

.vld-overlay.is-active {
    display: flex;
}

.vld-overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    align-items: center;
    display: none;
    justify-content: center;
    overflow: hidden;
    z-index: 9999;
}

.z-10 {
    z-index: 10;
}

.top-0 {
    top: 0;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
}

.flex-col {
    flex-direction: column;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.text-align-center {
    text-align: center;
}

.bg-white {
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255, 255, 255, var(1));
}

.logo-container {
    padding: 22px;
    background: rgb(38, 56, 78);
    border-bottom: black 1px solid;
}

.el-container {
    max-height: 100vh;
}

.logo-container img {
    max-width: 250px;
}

.el-menu {
    border-right: 0 !important;
}

.el-main {
    background: #ecf3fe;
    max-height: 100vh;
    overflow-y: scroll;
}

.max-h-900 {
    max-height: 900;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.inline-flex {
    display: inline-flex;
}

.bg-blue-500 {
    --bg-opacity: 1;
    background-color: #3186fb;
    background-color: rgba(49, 134, 251, var(1));
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.logo {
    width: 300px;
    height: auto;
}

.flex-grow {
    flex-grow: 1;
}

.justify-end {
    justify-content: flex-end;
}

.shadow {
    box-shadow: 0px 0px 1px;
}

:after,
:before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #d2d6dc;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.m-2 {
    margin: 0.5rem;
}

.m-4 {
    margin: 1rem;
}

.m-6 {
    margin: 1.5rem;
}

.m-10 {
    margin: 2.5rem;
}

.ml-2 {
    margin-left: 0.5rem;
}

.ml-4 {
    margin-left: 1rem;
}

.ml-6 {
    margin-left: 1.5rem;
}

.ml-10 {
    margin-left: 2.5rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-4 {
    margin-top: 1rem;
}

.mt-6 {
    margin-top: 1.5rem;
}

.mt-10 {
    margin-top: 2.5rem;
}

.text-sm {
    font-size: 0.875rem;
}

.font-normal {
    font-weight: 400;
}

.text-left {
    text-align: left;
}

.fill-gray-700 {
    fill: #374151;
}

.log--out-btn:hover {
    color: #3186fb;
    color: rgba(49, 134, 251, var(1));
}

.width-100 {
    width: 100%;
}

.top-20 {
    margin-top: 20px;
}

.height-100 {
    height: 100%;
}

.px-5 {
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.py-2 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.store--form {
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
}

.login-text {
    font-size: 20px;
}

.mx-6 {
    margin-left: 3em;
    margin-right: 3em;
}

.my-6 {
    margin-top: 3em;
    margin-bottom: 3em;
}

.cart-center {
    position: relative;
}

.card-item--center {
    max-width: 450px;
    margin: 0 auto;
}

.login-content-card .el-card {
    max-width: 550px;
    position: relative;
    margin: 0 auto;
}

.el-menu.el-menu--horizontal {
    border-bottom: none;
}

.el-main .el-menu-item {
    color: rgb(191, 203, 217);
}

.el-menu-item .el-menu-item:hover {
    color: white;
}

aside .el-submenu__title:hover {
    background-color: #263445 !important;
}

.bg-gray-200 {
    --bg-opacity: 1;
    /* background-color: #edf4ff; */
    background-color: #eaeaea;
    /* background-color: rgba(237, 244, 255, var(--bg-opacity)); */
}

.bg-cool-gray-50 {
    --bg-opacity: 1;
    background-color: #f2f5f7;
    background-color: rgba(251, 253, 254, var(--bg-opacity));
}

.bg-cool-gray-100 {
    --bg-opacity: 1;
    background-color: #f1f5f9;
    background-color: rgba(241, 245, 249, var(--bg-opacity));
}

hr {
    border-top: 1px dashed #d2d6dc;
}

.text-xs {
    font-size: 0.75rem;
}

.font-bold {
    font-weight: 700;
}

.fl-right {
    float: right;
}

.el-card__body a {
    text-decoration: none;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-x-scroll {
    overflow-x: scroll;
}

.overflow-y-scroll {
    overflow-y: scroll !important;
}

.min-w-200 {
    min-width: 200px;
}

td a {
    color: #1319d6 !important;
}


/* table */

.table-auto {
    table-layout: auto;
}

.table-main {
    /* font-family: arial, sans-serif; */
    border-collapse: collapse;
    width: 100%;
}

td,
tr,
th {
    border: 1px solid #d2d6dc;
    padding: 8px;
    text-align: center;
}


/* end table */

.home-page-card a {
    text-decoration: none;
    color: rgb(80, 79, 79);
}

td .display-ilb {
    display: inline-block;
    margin-left: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 25px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pading-top-bottom-10 {
    padding: 10px 0 10px 0;
}

.text-decoration-none {
    text-decoration: none;
}

.color-white {
    color: white;
}

.el-menu-item .is-active {
    color: blue !important;
}

.is-invalid {
    border: 1px solid red;
    border-radius: 5px;
}

.login-text .image {
    width: auto;
    display: inline;
}

.selected-item {
    background: rgb(163, 163, 163);
    color: #fff;
}

.el-page-header__title {
    font-size: 18px;
    font-weight: 700;
}

.el-card__body {
    padding-top: 15px;
    padding-bottom: 15px;
}

.parent-table {
    overflow-x: scroll;
    max-height: 90vh;
}

.upper_text {
    text-transform: uppercase;
    font-size: 0.8em;
}

.link-text {
    color: rgb(0, 69, 133);
    cursor: pointer;
}

.link-text:hover {
    text-decoration: underline;
}

.f-weight-4 {
    font-weight: 400;
}

.f-weight-b {
    font-weight: bold;
}

.main_column {
    /* border: 1px solid #9c9c9c; */
    font-weight: bold;
    background: #f1f1f1;
}

.colle-btn {
    font-size: 25px;
    cursor: pointer;
}

.flex {
    display: flex;
}

.w-33f {
    width: 33.3333%;
}

.w-25f {
    width: 25%;
}

.w-50f {
    width: 50%;
}


/* .el-card__body {
    overflow-x: scroll !important;
} */


/* media */

@media (max-width: 992px) {
    .card-item--center {
        margin-top: 1em;
    }
    .parent-table {
        overflow-x: scroll;
    }
    .table-main {
        width: max-content;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 90%;
    }
}

@media (max-width: 768) {}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .content-card-mt-4 {
        margin-top: 4em;
    }
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

@media (min-width: 1600) {
    .container {
        max-width: 1520px;
    }
}

@media (min-width: 1800) {
    .container {
        max-width: 1720px;
    }
}