<template>
  <div class="flex flex-col items-center">
    <el-card class="w-full width-100 mb-10">
      <el-page-header @back="goBack"> </el-page-header>
    </el-card>
    <el-card
      class="w-full width-100"
      v-loading="waiting"
      element-loading-text="Юкланмоқда.."
      element-loading-spinner="el-icon-loading"
    >
      <dir class="text-center mb-10">
        <span class="login-text"> Ишлаб чиқариладиган маҳсулот яратиш</span>
      </dir>
      <hr />
      <el-form
        :model="form"
        :rules="rules"
        ref="form"
        label-width="200px"
        class="mt-10"
        label-position="top"
      >
        <el-row :gutter="40">
          <el-col :span="8">
            <el-form-item
              label="Ишлаб чиқариладиган маҳсулот номи"
              prop="name"
              class="py-2"
            >
              <el-input
                v-model="form.name"
                placeholder="Ишлаб чиқариладиган маҳсулот номи"
                size="medium"
              ></el-input> </el-form-item
          ></el-col>
        </el-row>
      </el-form>
      <hr />
      <br />
      <el-row class="mt-6 mb-10 fl-right">
        <el-button type="primary" size="medium" @click="onSave"
          >Сақлаш</el-button
        >
        <router-link
          :to="{ name: 'ProductIndex' }"
          class="el-button el-button--danger el-button--medium"
          >Бекор қилиш</router-link
        >
      </el-row>
    </el-card>
  </div>
</template>
<script>
import { mapActions } from "vuex";
import product from "@/mixins/model/models/product";
import form from "@/mixins/model/form";
export default {
  mixins: [form, product],
  components: {},
  data() {
    return {
      model_name: "product",
    };
  },
  async created() {
    await this.resetModel({ model: this.model_name });
    await this.setForm();
  },
  methods: {
    ...mapActions({
      save: "product/store",
    }),
    goBack() {
      this.$router.push({ name: "ProductIndex" });
    },
  },
};
</script>
<style>
.el-form-item__label {
  padding: 0 !important;
}
.el-select--medium {
  padding: 0 !important;
}
</style>
