<template>
  <div class="flex flex-col items-center">
    <el-card
      class="w-full width-100"
      v-if="auth_user && auth_user.type == 'admin'"
      v-loading="waiting"
      element-loading-text="Юкланмоқда.."
      element-loading-spinner="el-icon-loading"
    >
      <dir class="text-center mb-10">
        <span class="login-text"> Янги фойдаланувчи қўшиш</span>
      </dir>
      <hr />
      <br />
      <el-form
        :model="form"
        :rules="rules"
        ref="form"
        label-width="200px"
        class="demo-ruleForm store--form"
      >
        <el-row>
          <el-col :span="12">
            <el-form-item label="Худудни танланг" prop="soato" class="py-2">
              <el-cascader
                :props="{ checkStrictly: true }"
                style="width: 100%;"
                v-model="form.soato"
                :options="all_regions"
                :show-all-levels="false"
                @change="handleChangeProject"
              ></el-cascader>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="Типи" prop="type" class="py-2">
              <el-select v-model="form.type" clearable placeholder="Типи">
                <el-option
                  v-for="item in user_types"
                  :key="item + 'type'"
                  :label="item.name"
                  :value="item.value"
                >
                </el-option>
              </el-select> </el-form-item
          ></el-col>
          <el-col :span="12">
            <el-form-item label="Исми" prop="name" class="py-2">
              <el-input
                v-model="form.name"
                placeholder="Исми"
                size="medium"
              ></el-input> </el-form-item
          ></el-col>
          <el-col :span="12"
            ><el-form-item label="Фамиляси" prop="surname" class="py-2">
              <el-input
                v-model="form.surname"
                placeholder="Фамиляси"
                size="medium"
              ></el-input> </el-form-item
          ></el-col>
          <el-col :span="12"
            ><el-form-item label="Логини" prop="username" class="py-2">
              <el-input
                v-model="form.username"
                placeholder="Логини"
                size="medium"
              ></el-input> </el-form-item
          ></el-col>
          <el-col :span="12"
            ><el-form-item label="Статус" prop="role_id" class="py-2">
              <el-select
                label="Статус"
                v-model="form.status"
                size="medium"
                class="py-2 flex"
              >
                <el-option
                  v-for="(item, index) in statuses"
                  :key="index + '-status'"
                  :label="item.name"
                  :value="item.id"
                ></el-option>
              </el-select> </el-form-item
          ></el-col>
        </el-row>

        <el-form-item class="fl-right">
          <el-button type="primary" size="medium" @click="onSave"
            >Қўшиш</el-button
          >
          <router-link
            :to="{ name: 'UserIndex' }"
            class="el-button el-button--danger el-button--medium"
            >Бекор қилиш</router-link
          >
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
import user from "@/mixins/model/models/user";
import form from "@/mixins/model/form";

export default {
  mixins: [user, form],
  data: () => ({}),
  created() {
    // this.resetModel();
    this.setForm();
    this.loadItem();
  },
  computed: {
    ...mapGetters({
      auth_user: "auth/USER",
    }),
  },
  methods: {
    ...mapActions({
      save: "user/update",
    }),
  },
};
</script>
