<template>
  <div v-loading="true" class="bg-white w-100 h-100" />
</template>
<script>
import { mapActions } from "vuex";
export default {
  created() {
    this.authServiceToken();
  },
  methods: {
    ...mapActions({
      getInfo: "auth/getInfo",
      setAccessToken: "auth/setToken",
    }),
    async authServiceToken() {
      const query = this.$route.query;
      if (!query.token) {
        this.$router.push({ name: "Login" });
      }
      await this.setAccessToken(query.token);
      this.getInfo()
        .then(() => {
          this.$router.push({ name: "Home" });
        })
        .catch(() => {
          this.$router.push({ name: "Login" });
        });
    },
  },
};
</script>
